{% load i18n %}
<tr>
    <td align="left" bgcolor="#ffffff" style="border-radius: 0 0 3px 3px; padding: 0px 25px 10px;">
        <p style="font-family: Arial,Helvetica,sans-serif; color: #444444; font-size: 12px; line-height: 18px; margin: 0; text-align: justify;">
            {% blocktrans %}Please find below the estimated population within predicted avalanche risk areas on
            <strong>{{ current_date }}</strong>. The information is taken from the ASDC at national level.{% endblocktrans %}
        </p>
    </td>
</tr>