{% load i18n %}
<tr>
    <td align="left" bgcolor="#ffffff" style="border-radius: 0 0 3px 3px; padding: 10px 25px;">
        <p style="font-family: Arial,Helvetica,sans-serif; color: #444444; font-size: 12px; line-height: 18px; margin: 0; text-align: justify;">
            {% blocktrans %} iMMAP Afghanistan shares information related to :{% endblocktrans %}
        </p>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#ffffff" style="padding: 10px 25px;">
        <p style="font-family: Arial,Helvetica,sans-serif; color: #444444; font-size: 12px; line-height: 18px; margin: 0; text-align: center;">
            <strong align="center" style="font-size: 14px;">{% blocktrans %}M 6.1 - seismic event in 35km S of Jarm, Afghanistan{% endblocktrans %}</strong>
        </p>
    </td>
</tr>
<tr>
    <td align="left" bgcolor="#ffffff" style="padding: 0 25px 25px;">
        <table style="font:12px Arial, Helvetica, sans-serif; color:#333332; width: 100%; border-collapse: collapse; border-spacing: 0; text-align: left; border: 1px solid #fff; line-height: 2em;">
            <tr>
                <td style="background-color: #eee; border: 1px solid #ddd; font-weight: 700; padding-left: 15px;">{% blocktrans %}Time{% endblocktrans %}</td>
                <td style="border: 1px solid #ddd; padding-left: 15px;">{% blocktrans %}07:07 AM{% endblocktrans %}</td>
            </tr>
            <tr>
                <td style="background-color: #eee; border: 1px solid #ddd; font-weight: 700; padding-left: 15px;">{% blocktrans %}Date{% endblocktrans %}</td>
                <td style="border: 1px solid #ddd; padding-left: 15px;">{% blocktrans %}31-Jan-2018 UTC{% endblocktrans %}</td>
            </tr>
            <tr>
                <td style="background-color: #eee; border: 1px solid #ddd; font-weight: 700; padding-left: 15px;">{% blocktrans %}Magnitude{% endblocktrans %}</td>
                <td style="border: 1px solid #ddd; padding-left: 15px;">{% blocktrans %}M 6.1{% endblocktrans %}</td>
            </tr>
            <tr>
                <td style="background-color: #eee; border: 1px solid #ddd; font-weight: 700; padding-left: 15px;">{% blocktrans %}Depth{% endblocktrans %}</td>
                <td style="border: 1px solid #ddd; padding-left: 15px;">{% blocktrans %}191.19 km{% endblocktrans %}</td>
            </tr>
            <tr>
                <td style="background-color: #eee; border: 1px solid #ddd; font-weight: 700; padding-left: 15px;">{% blocktrans %}Epicenter{% endblocktrans %}</td>
                <td style="border: 1px solid #ddd; padding-left: 15px;">{% blocktrans %}35 km S of Jarm, Afghanistan{% endblocktrans %}</td>
            </tr>
        </table>
        <p style="font-family: Arial,Helvetica,sans-serif; color: #444444; font-size: 12px; line-height: 18px; margin: 0; text-align: justify;">
            <br> {% blocktrans %}Please find below the update estimated population within seismic risk areas.{% endblocktrans %}
        </p>
    </td>
</tr>