{% load i18n %}
<tr>
    <td align="left" bgcolor="#ffffff" style="border-radius: 0 0 3px 3px; padding: 10px 25px;">
        <p style="font-family: Arial,Helvetica,sans-serif; color: #444444; font-size: 12px; line-height: 10px; margin: 0; text-align: justify;">
            {% blocktrans %} iMMAP Afghanistan shares information related to :{% endblocktrans %}
        </p>
    </td>
</tr>
<tr>
    <td align="center" bgcolor="#ffffff" style="padding: 10px 25px;">
        <p style="font-family: Arial,Helvetica,sans-serif; color: #444444; font-size: 12px; line-height: 10px; margin: 0; text-align: center;">
            <strong align="center" style="font-size: 14px;">{% blocktrans %}M 6.1 - seismic event in 35km S of Jarm, Afghanistan{% endblocktrans %}</strong>
        </p>
    </td>
</tr>