<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>

	{% load bootstrap3 %}
    {% bootstrap_css %}
	<!-- {{ form.media }} -->

	<link href="{{ STATIC_URL }}lib/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
	<script src="{{ STATIC_URL }}lib/js/moment.min.js"></script>
	<script src="{{ STATIC_URL }}lib/js/bootstrap-datetimepicker.min.js"></script>

	<script>
		var mainMap = window.parent.GeoExt.MapPanel.guess();
		var click = null;

		function getInitialSecurityPosisition(){
			if ($('#id_scre_latitude').val()!='' && $('#id_scre_longitude').val()!=''){
				lat = parseFloat($('#id_scre_latitude').val());
				lon = parseFloat($('#id_scre_longitude').val());

				var lonLat = new window.parent.OpenLayers.LonLat(lon, lat)
	             .transform(
	               new window.parent.OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
	               new window.parent.OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
	             );

	             var feature = new window.parent.OpenLayers.Feature.Vector(new window.parent.OpenLayers.Geometry.Point(lonLat.lon, lonLat.lat));

	             mainMap.map.getLayersByName('sec_entry_vector')[0].removeAllFeatures();

	             mainMap.map.getLayersByName('sec_entry_vector')[0].addFeatures([feature]);

	             mainMap.map.panTo(lonLat);

			}
		}

		function getCoordinateActivate(){
			window.parent.OpenLayers.Control.Click = window.parent.OpenLayers.Class(window.parent.OpenLayers.Control, {
                defaultHandlerOptions: {
                    'single': true,
                    'double': false,
                    'pixelTolerance': 0,
                    'stopSingle': false,
                    'stopDouble': false
                },

                initialize: function(options) {
                    this.handlerOptions = window.parent.OpenLayers.Util.extend(
                        {}, this.defaultHandlerOptions
                    );
                    window.parent.OpenLayers.Control.prototype.initialize.apply(
                        this, arguments
                    );
                    this.handler = new window.parent.OpenLayers.Handler.Click(
                        this, {
                            'click': this.trigger
                        }, this.handlerOptions
                    );
                },

                trigger: function(e) {
                    //A click happened!
                    var lonlat = mainMap.map.getLonLatFromViewPortPx(e.xy);

                    var pin = new window.parent.OpenLayers.Geometry.Point(lonlat.lon, lonlat.lat);
                    var feature = new window.parent.OpenLayers.Feature.Vector(pin, {});
                    mainMap.map.getLayersByName('sec_entry_vector')[0].removeAllFeatures();
                    mainMap.map.getLayersByName('sec_entry_vector')[0].addFeatures([feature]);
                    mainMap.map.raiseLayer(mainMap.map.getLayersByName('sec_entry_vector')[0],10000);
                    // map.getLayersByName('sec_entry_vector')
                    lonlat.transform(
                      new window.parent.OpenLayers.Projection("EPSG:900913"),
                      new window.parent.OpenLayers.Projection("EPSG:4326")
                    );
                    // console.log(lonlat, feature);
                    // alert("You clicked near " + lonlat.lat + " N, " +
                    //                           + lonlat.lon + " E");

                    $('#id_scre_latitude').val(lonlat.lat);
                    $('#id_scre_longitude').val(lonlat.lon);
										// console.log('lonlat.lon, lonlat.lat:',lonlat.lon, lonlat.lat);

                    getCoordinateDeactivate();

										// get administrative names from longlat
										$.ajax({
											url: '/securitydb/geoadm_from_lonlat/?lon='+lonlat.lon+'&lat='+lonlat.lat ,
											success: function(data){
												$('#id_scre_provid option:selected').prop('selected', false);
												$("#id_scre_provid").val(data['prov_code']);
										    $("#id_scre_provid option[value='"+data['prov_code']+"']").prop('selected', true);

												fill_options($("#id_scre_distid"), data['dist_list'], data['dist_code']);
												fill_options($("#id_scre_settvuid"), data['sett_list'], data['vuid']);

												$('#id_scre_placename').val($('#id_scre_provid option:selected').text()+", "+$('#id_scre_distid option:selected').text()+", "+$('#id_scre_settvuid option:selected').text());

												return false;
											}
										})
                }

            });

			click = new window.parent.OpenLayers.Control.Click();

			mainMap.map.addControl(click);
			click.activate();
		}

		function getCoordinateDeactivate() {

			click.deactivate();
			mainMap.map.removeControl(click);
			click = null;
		}

		function setViolenceInputState() {
			if ($('#id_scre_violent_1').is(":checked"))
			{
				// console.log('$(\'#id_scre_violent_1\').is(":checked")');
				if ($('#id_scre_unknown').is(":checked"))
				{
					// console.log('$(\'#id_scre_unknown\').is(":checked")');
					$('#id_scre_arrested').val('');
					$('#id_scre_arrested').attr('readonly', true);
					$('#id_scre_arrested').attr('color', 'grey');
					$('#id_scre_injured').val('');
					$('#id_scre_injured').attr('readonly', true);
					$('#id_scre_injured').attr('color', 'grey');
					$('#id_scre_dead').val('');
					$('#id_scre_dead').attr('readonly', true);
					$('#id_scre_dead').attr('color', 'grey');
				}
				else {
					$('#id_scre_arrested').attr('readonly', false);
					$('#id_scre_arrested').attr('color', 'white');
					$('#id_scre_injured').attr('readonly', false);
					$('#id_scre_injured').attr('color', 'white');
					$('#id_scre_dead').attr('readonly', false);
					$('#id_scre_dead').attr('color', 'white');
				}
			}
			else
			{
				// console.log('$(\'#id_scre_violent_1\').is(":checked") == False');
				$('#id_scre_arrested').val('');
				$('#id_scre_arrested').attr('readonly', true);
				$('#id_scre_arrested').attr('color', 'grey');
				$('#id_scre_injured').val('');
				$('#id_scre_injured').attr('readonly', true);
				$('#id_scre_injured').attr('color', 'grey');
				$('#id_scre_dead').val('');
				$('#id_scre_dead').attr('readonly', true);
				$('#id_scre_dead').attr('color', 'grey');
			};
		};

		function initialize_page() {
			mainMap.map.getLayersByName('sec_entry_vector')[0].removeAllFeatures();
			prov_id = $('#id_scre_provid').val();
			dist_id = $('#id_scre_distid').val();
			$('#id_scre_username').attr('readonly', true);

			setViolenceInputState();

			getInitialSecurityPosisition();

		}

		function fill_options(elm, data, selected_val) {
			elm.empty();
			elm.append('<option value="" selected="selected">---------</option>');
			for(var i = 0; i < Object.keys(data).length; i++){
				elm.append('<option value="' + data[i][0] + '">' + data[i][1] +'</option>');
			}
			elm.prop('disabled', false);

			if (selected_val != undefined) {
				elm.find('option:selected').prop('selected', false);
				elm.val(selected_val);
				elm.find("option[value='"+selected_val+"']").prop('selected', true);
			}

			return false;
		}

		function reset_layers() {
			mainMap.map.getLayersByName('Mask Layer')[0].removeAllFeatures();
			mainMap.map.getLayersByName('sec_entry_vector')[0].removeAllFeatures();
		};

	</script>

    <!-- <title>{% block bootstrap3_title %}iMMAP Security System{% endblock %}</title> -->
	<style>
		body {font-family: sans-serif; padding:20px}
		#map {width: 800px; height: 300px}
	</style>
</head>
<body onload='initialize_page()'>
	<!-- <header>
		<div class="page-header">
			<h3>iMMAP: Security System Entry Form</h3>
		</div>
	</header> -->
	{% if form.errors %}
		<div class="alert alert-danger">
		{{ form.errors }}
		</div>
	{% endif %}

	<form action="" method="post" class="form">
		{% csrf_token %}
		{% if form %}
			{% for field in form.visible_fields %}
				{% bootstrap_field field %}
			{% endfor %}
			{% buttons %}
				<button id="setCoord_btn" type="button" class="btn btn-primary pull-right" {{ entriesdisabled|yesno:"disabled," }}>
					{% bootstrap_icon "pushpin" %}
				</button>
			{% endbuttons %}
			{% buttons %}
				<button id="btnSubmit" type="submit" class="btn btn-primary" {{ entriesdisabled|yesno:"disabled," }}>
					Submit
				</button>
				<button id="btnCancel" type="button" class="btn btn-primary" onclick="window.location.href = '/securitydb/';">
					Cancel
				</button>
				<button id="btnList" type="button" class="btn btn-primary" onclick="window.location.href = '/securitydb/list';">
					List
				</button>
			{% endbuttons %}
		{% else %}
			<p>Sorry no results for your query</p>
		{% endif %}
	</form>
	<script type="text/javascript">

	$(document).ready(function(){

		// fix: convert maxDate from literal string to date Object
		var maxDate = $("#id_scre_incidentdatestr_picker").data("DateTimePicker").options.maxDate;
		if (typeof maxDate == 'string') {
			$("#id_scre_incidentdatestr_picker").data("DateTimePicker").options.maxDate = Date(maxDate);
		}

		// show pin button on panel header
		$("#bd_sec_entries_panel .x-tool-pin", parent.document).css('display', 'initial');

		$('#setCoord_btn').click(function() {
			if (!click) getCoordinateActivate();
		});

		$('#id_scre_provid').change(function() {
			// console.log('#id_scre_provid change event handler');
			$('#id_scre_placename').val($('#id_scre_provid option:selected').text());
			$('#id_scre_distid').prop('disabled', true).empty();
			$('#id_scre_settvuid').prop('disabled', true).empty();

			prov_id = $(this).val();
			if (!prov_id) return;

			// populate district dropdown
			request_url = '/securitydb/' + prov_id + '/get_districts/';
			$.ajax({
				url: request_url,
				success: function(data){
					fill_options($('#id_scre_distid'), data);
					return false;
				}
			})

			// show selected province on map window
			var provIdx = new Number($('#id_scre_provid').val());
			window.parent.Ext.getCmp('provSelection').getStore().data.items.forEach(function(element) {
				if (element.data.prov_code == provIdx) {
					window.parent.Ext.getCmp('provSelection').onSelect(element, provIdx)
					return false;
				}
			});

		});

		$('#id_scre_distid').change(function() {
			// console.log('#id_scre_distid change event handler');
			$('#id_scre_placename').val(
				$('#id_scre_provid option:selected').text()+", "+
				$('#id_scre_distid option:selected').text());
			$('#id_scre_settvuid').prop('disabled', true).empty();

			// show selected district on map window
			var distIdx = new Number($('#id_scre_distid').val());
			if (distIdx == 0) return;
			// console.log('distIdx', distIdx);
			window.parent.Ext.getCmp('districtSelection').getStore().data.items.forEach(function(element) {
				if (element.data.dist_code == distIdx) {
					window.parent.Ext.getCmp('districtSelection').onSelect(element, distIdx)
					return false;
				}
			});

			// populate settlement dropdown
			dist_id = $(this).val();
			request_url = '/securitydb/' + dist_id + '/get_settlements/';
			$.ajax({
				url: request_url,
				success: function(data){
					fill_options($('#id_scre_settvuid'), data);
					return false;
				}
			})
		})

		$('#id_scre_settvuid').change(function() {
			// console.log('#id_scre_settvuid change event handler');
			$('#id_scre_placename').val(
				$('#id_scre_provid option:selected').text()+", "+
				$('#id_scre_distid option:selected').text()+", "+
				$('#id_scre_settvuid option:selected').text());
		});

		$('#btnCancel').click(function() {
			reset_layers();
		});

		$('#btnSubmit').click(function() {
			reset_layers();
		});

		$('#btnList').click(function() {
			reset_layers();
		});

		window.onunload = function (e) {
			reset_layers();
			$("#bd_sec_entries_panel .x-tool-pin", parent.document).css('display', 'none');
		};

		$('#id_scre_unknown').change(function() {
			setViolenceInputState();
		});

		$('#id_scre_violent_0').change(function() {
			setViolenceInputState();
		});

		$('#id_scre_violent_1').change(function() {
			setViolenceInputState();
		});
	})
	</script>
</body>
