{% load app_filters %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
	{% load bootstrap3 %}
    {% bootstrap_css %}
	{{ form.media }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
    <title>{% block bootstrap3_title %}iMMAP Security System{% endblock %}</title>
	<style>
		body {font-family: sans-serif; padding:20px}
		#map {width: 800px; height: 300px}
	</style>
	<script>
		var mainMap = window.parent.GeoExt.MapPanel.guess();
		mainMap.map.getLayersByName('sec_entry_vector')[0].removeAllFeatures();
	</script>
</head>
<body>
	<!-- <header>
		<div class="page-header">
			<h3>iMMAP: Security System Entry Form</h3>
		</div>
	</header>
 -->
	<form action="" method="post" class="form">
		{% csrf_token %}
		{% if has_delete %}
		<div class="form-group">
			<!-- <label for="">Record Status:</label> -->
			<span class="small">
				<a href="?recstatus={{ recstatus_choices.3.1|lower }}" class="{{ rsc.3 }}">{{ recstatus_choices.3.1|title }}</a>
				<a href="?recstatus={{ recstatus_choices.0.1|lower }}" class="{{ rsc.0 }}">{{ recstatus_choices.0.1|title }}</a>
				<a href="?recstatus={{ recstatus_choices.1.1|lower }}" class="{{ rsc.1 }}">{{ recstatus_choices.1.1|title }}</a>
				<a href="?recstatus={{ recstatus_choices.2.1|lower }}" class="{{ rsc.2 }}">{{ recstatus_choices.2.1|title }}</a>
			</span>
		</div>
		{% endif %}
		<div class="form-group">
			<label for="usr" class="small">Criteria:</label>
			<input type="text" class="form-control" id="id_criteria" name="criteria" value="{{ criteria }}">
		</div>
		<!-- {% for field in form.visible_fields %}
			{% bootstrap_field field %}
		{% endfor %} -->
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Search</button>
			<a href="/securitydb/" class="btn btn-primary">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				Add Record
			</a>
		</div>
		{% if search_result_list %}
		<div valign="top">
		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th>Date</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				{% for search_result in search_result_list %}
				<tr style="border-bottom:1px solid #eee;">
					<td width="50%" valign="top"><a style="font-size:8pt;" href="/securitydb/{{ search_result.id }}/scref">{{ search_result.scre_incidentdate }}</a></td>
					<td valign="top"><a style="font-size:8pt;" href="/securitydb/{{ search_result.id }}/scref">{{ search_result.scre_notes }}</a></td>
				</tr>
				{% endfor %}
		</tbody>
		</table>
		<nav aria-label="pagination">
			<ul class="pager">
				{% if search_result_list.has_previous %}
					<li><a href="?{% url_replace page=search_result_list.previous_page_number %}">previous</a></li>
				{% endif %}

				Page {{ search_result_list.number }} of {{ search_result_list.paginator.num_pages }}

				{% if search_result_list.has_next %}
					<li><a href="?{% url_replace page=search_result_list.next_page_number %}">next</a></li>
				{% endif %}
			</ul>
		</nav>
		{% else %}
			<p>No result.</p>
		{% endif %}
		</div>
	</form>
</body>
