{% load humanize %}
{% load covid_filters %}
{% load url from future %}

<div class="row row-cols-1 row-cols-md-4">
    {% for key, val in total.items  %}
        <div class="col mb-4">
            <div class="card  {% if key == 'Confirmed Cases'%}case_card {% elif key == 'Deaths'%}death_card {% elif key == 'Recovered'%} recovery_card {% else %} active_card{% endif %}">
                <div class="card-body">
                    <p class="card-text value_card">{{ val.0 | intcomma }}</p>
                    <p class="caption">{{ key }}
                    {% if key == 'Confirmed Cases'%}
                        (+{{ val.1.GrowthCases | intcomma }}) 
                    {% elif key == 'Deaths'%}
                        (+{{ val.1.GrowthDeaths | intcomma }})
                    {% elif key == 'Recovered'%} 
                        (+{{ val.1.GrowthRecoveries | intcomma }})
                    {% endif %}
                    </p>
                    
                    <div class="icon float-right">
                        {% if key == 'Confirmed Cases'%}
                            <i class="fas fa fas fa-user-md"></i>
                        {% elif key == 'Deaths'%}
                            <i class="fas fa fas fa-frown-o"></i>
                        {% elif key == 'Recovered'%} 
                            <i class="fas fa fas fa-heartbeat"></i>
                        {% else %} 
                            <i class="fas fa fas fa-ambulance"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <hr>

    <div class="row">

        <div class="col-xl-8">
            <div>
                <p class="text-center font-weight-bold">COVID-19 Daily Cases in {% if request.GET.code %} {{ request.GET.code }} {% else %} Afghanistan {% endif %}(Cumulative)</p>
                <!-- <div id="chart_line_daily_update" class="line-chart" data-color="colorDefault" data-colorpoint="false" data-legend="true" data-show-dots="false" data-title="Daily Cases Update by Type in {% if request.GET.code %} {{ request.GET.code }} {% else %} Afghanistan {% endif %}" data-show-title="none" data-xaxis='' data-yaxis='{{ chart.LineChart.date | jsonify | safe }}' data-val='[{{ chart.LineChart.cases | jsonify | safe }}, {{ chart.LineChart.recoveries | jsonify | safe }}, {{ chart.LineChart.deaths | jsonify | safe }}]' ></div> -->
                <div id="chart_spline_daily_update" class="spline-chart" data-color="colorDefault" data-colorpoint="false" data-legend="true" data-show-dots="false" data-title="Daily Cases Update by Type in {% if request.GET.code %} {{ request.GET.code }} {% else %} Afghanistan {% endif %}" data-show-title="none" data-xaxis='' data-yaxis='{{ chart.LineChart.date | jsonify | safe }}' data-val='[{{ chart.LineChart.cases | jsonify | safe }}, {{ chart.LineChart.recoveries | jsonify | safe }}, {{ chart.LineChart.deaths | jsonify | safe }}]' ></div>
            </div>
        </div>

        <div class="col-xl-4">
            <p class="text-center font-weight-bold">Positive Case Percentage</p>
            <div id="{{ chart.PieChart.PercentageCasesData.id }}" class="donut-chart" data-color="colorPiePercent" data-val='{{ chart.PieChart.PercentageCasesData.data | jsonify | safe }}' data-title='{{ chart.PieChart.PercentageCasesData.title }}' data-show-title='none'></div>
            <!-- <div id="percentage_pos_case_pie" class="donut-chart" data-color=colorDefault data-val='[["Active Cases", 70], ["Recovered", 20], ["Dead", 10]]' data-title='Positive Case Percentage' data-show-title='none'></div> -->
        </div>

        <br>

        <div class="col-xl-7">
            {% comment %}
            <p class="text-center font-weight-bold">Comparison of New Cases Development and Total Cases</p>
            <div id="chart_line_bar_daily_update" class="line-bar-chart" data-color="colorLineBar" data-colorpoint="false" data-legend="true" data-show-dots="false" data-tick="{% if request.GET.code %}{% else %}200{% endif %}" data-title="" data-show-title="true" data-xaxis0='Cumulative Number Of Cases' data-xaxis1='Number of New Cases' data-yaxis='{{ chart.LineChart.date | jsonify | safe }}' data-name0={{ chart.LineChart.GrowthCase.name | jsonify | safe }} data-name1={{ chart.LineChart.cases.name | jsonify | safe }} data-val0='{{ chart.LineChart.GrowthCase.data | jsonify | safe }}' data-val1='{{ chart.LineChart.cases.data | jsonify | safe }}' ></div>
            {% endcomment %}
            <p class="text-center font-weight-bold">Daily Growth by Type</p>
            <div id="chart_line_daily_growth" class="line-chart" data-color="colorLine" data-colorpoint="false" data-legend="true" data-show-dots="true" data-title="Daily Growth Update by Type in {% if request.GET.code %} {{ request.GET.code }} {% else %} Afghanistan {% endif %}" data-show-title="none" data-xaxis='' data-yaxis='{{ chart.LineChart.date | jsonify | safe }}' data-val='[{{ chart.LineChart.GrowthCase | jsonify | safe }}, {{ chart.LineChart.GrowthRecovery | jsonify | safe }}, {{ chart.LineChart.GrowthDeath | jsonify | safe }}]' ></div>
        </div>

        <div class="col-xl-5">
            <p class="text-center font-weight-bold">Positive Case per Province</p>
            <!-- <div id="chart_bar_stack_prov_case" class="ch-size-fforecast bar-stacked-horizontal-chart" data-color="colorPiePercent" data-xaxis='{{ chart.BarStackChart.ProvPositiveCasesData.labels | jsonify | safe }}' data-val='{{ chart.BarStackChart.ProvPositiveCasesData.data_val | jsonify | safe }}' ></div> -->
            <div id="chart_bar_stack_prov_case" class="bar-stacked-horizontal-chart ch-size-big" data-color="colorPiePercent" data-xaxis='{{ chart.BarStackChart.ProvPositiveCasesData.labels | jsonify | safe }}' data-val='[{{ chart.BarStackChart.ProvPositiveCasesData.data_val.active | jsonify | safe }}, {{ chart.BarStackChart.ProvPositiveCasesData.data_val.recovered | jsonify | safe }}, {{ chart.BarStackChart.ProvPositiveCasesData.data_val.death | jsonify | safe }}]' ></div>
            <!-- <div id="chart_bar_stack_prov_case" class="bar-stacked-horizontal-chart" data-color="colorPiePercent" data-xaxis='["Extreme", "Very High", "High", "Med", "Low"]' data-val='[{"name": "Active Cases", "data": [2,20,40,20,50]}, {"name": "Recovered", "data": [10,20,40,20,50]}, {"name": "Dead", "data": [10,20,40,20,50]}]' ></div> -->
        </div>

        <br>

        {% comment %}
        {% for chart_title, chart_val in chart.BarChart.items %}
            <div class="col-xl-4">
                <div id="chart_bar_horizontal_{{chart_title}}" class="bar-chart ch-size-big" data-color="{% if  chart_title == 'ActiveCasesData' %}colorBarActive{% elif  chart_title == 'NewCasesData' %}colorBarNew{% elif  chart_title == 'CasesData' %}colorBarConfirmed{% endif %}" data-colorpoint="false" data-legend="false" data-xaxis='{% if  chart_title == 'ActiveCasesData' %}Active{% elif  chart_title == 'NewCasesData' %}New{% elif  chart_title == 'CasesData' %}Confirmed{% endif %} Cases' data-yaxis='{{ chart_val.name | jsonify | safe }}' data-val='[{"data":{{ chart_val.data | jsonify | safe }}}]' ></div>
                <!-- <div id="chart_bar_horizontal_{{chart_title}}" class="bar-chart" data-color="colorBar" data-colorpoint="false" data-legend="false" data-xaxis='Active Cases' data-yaxis='["Badakhshan", "Badghis", "Baghlan"]' data-val='[{"data":[73467.0, 388365.0, 29385147.0]}]' ></div> -->
            </div>
        {% endfor %}
        {% endcomment %}


    </div>
    
    <hr>
    <h3>Case Status Update</h3>
    <h4 style="font-size:14px">Latest Data Updated:<b> {{ latestData.0.Date }}</b></h4>
    <p style="font-size:12px">
    Clicking any of the province below will redirect you to the province detail information
    </p>
    <table id="LatestData"  class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Province</th>
                <th>Confirmed Cases</th>
                <th>Active Cases</th>
                <th>Recovered</th>
                <th>Deaths</th>
                <th>Recovery Rate</th>
                <th>Death Rate</th>
            </tr>
        </thead>
        <tbody id="latest_data">
        {% for i in latestData %}
            <tr onclick="jump_url('{{i.Province}}');">
                <td> <b>{{ i.Province }} </b></td>
                <td>{{ i.Cases }}  <div class="float-right no-sort {% if i.GrowthCases == 0 %}{% else %}added{% endif %}">({% if i.GrowthCases == 0 %}{% else %}+{% endif %}{{ i.GrowthCases }})</div></td>
                <td>{{ i.Active_Cases }}</td>
                <td>{{ i.Recoveries }} <div class="float-right no-sort {% if i.GrowthRecoveries == 0 %}{% else %}added{% endif %}">({% if i.GrowthRecoveries == 0 %}{% else %}+{% endif %}{{ i.GrowthRecoveries }})</div></td>
                <td>{{ i.Deaths }} <div class="float-right no-sort {% if i.GrowthDeaths == 0 %}{% else %}added{% endif %}">({% if i.GrowthDeaths == 0 %}{% else %}+{% endif %}{{ i.GrowthDeaths }})</div></td>
                <td>{{ i.Recovery_Rate | floatformat:2 }} %</td>
                <td>{{ i.Death_Rate | floatformat:2 }} %</td>
            </tr>
        {% endfor %}
        </tbody>
    <table>
    
    <hr>
    <div class="mt-2 mb-2">
    <small class="text-secondary text-nowrap mr-3">
        <i class="fas fa fas fa-table" aria-hidden="true"></i> Data source: <a href="#" class="text-dark">Afghanistan COVID-19 Stats by Province </a>
    </small>

    <small class="float-right text-secondary text-nowrap mr-3">
        <i class="fas fa fas fa-code" aria-hidden="true"></i> Developed by <a href="http://immap.org" class="text-dark">iMMAP</a>
    </small>
    </div>