<style>
    .breadcrumb-item, .breadcrumb-item > a, .breadcrumb-item.active {
        color: #ffffff
    }

    .case_card {
        background: purple
    }

    .death_card {
        background: red
    }

    .recovery_card {
        background: forestgreen
    }

    .active_card {
        background: rgb(31, 119, 180)
    }

    .case_card, .death_card, .recovery_card, .active_card {
        color: white
    }
    .value_card {
        font-size: 38px;
        font-weight: bold;
        margin: 0 0 -10px 0;
        white-space: nowrap;
        padding: 0;
    }
    .caption{
        font-size: 15px
    }
    .card-body{
        padding: 5px 30px;
    }
    .icon i{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 80px;
        color: rgba(0, 0, 0, 0.15);
    }
    table{
        font-size: 13px;
    }

    table tr{
        cursor: pointer;
    }

    .ch-size-big{
        min-height: 600px;
    }
</style>