{% extends "v2/dashboard_base.html" %}

{% load i18n %}
{% load covid_filters %}
{% load url from future %}

    {% block extra_head_dashboard_custom %}
        {% include "covid19/covid_css.html" %}
    {% endblock extra_head_dashboard_custom %}

    {% block other_content %}
        <div class="tab-content container">
            <ol class="breadcrumb" style="background: #fff; color: black;">
                <li class="breadcrumb-item">
                <a href="{% url 'v2:covid_detail' %}?page=covid19">Afghanistan</a></li>
                {% if request.GET.code %}
                    <li class="breadcrumb-item active" aria-current="page">{{ request.GET.code }}</li>
                {% endif %}
            </ol>
            {% if request.GET.page == 'covid19' %}
                {% include "covid19/covid_content.html" %}
            {% endif %}
        </div>
    {% endblock other_content %}

    {% block dashboard_script_custom %}
        {% include "covid19/covid_scripts.html" %}
        <script type="text/javascript">
            var googledata = {% if googledata %}{{ googledata|safe }}{% else %}{}{% endif %};

            document.addEventListener('DOMContentLoaded', function(){
                $('#LatestData').DataTable({
                  rowReorder: true,
                  columnDefs: [
                      { orderable: true, className: 'reorder', targets: 0 },
                      { orderable: false, targets: '_all' }
                  ]
                  // columnDefs: [
                  //   { targets: 'no-sort', orderable: false }
                  // ]
                });
            })
        </script>
    {% endblock dashboard_script_custom %}