{% load humanize %}

<style type="text/css">
li#nav_dashearthquake>a::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 0.4em;
    width: 100%;
    border-bottom: 2px solid #755467;
    margin-top: 15px;
}
</style>


<div class="dashing-title">
	<select id="select_evt" class="right">
		{% for list in eq_list %}
		  <option {% if list.selected %} selected {% endif %} value="{{ list.event_code }}">{{ list.detail_title }}</option>	
		{% endfor %}
	</select>
</div>	

<div class="gridster">
	<h1 class="dashing-title">Earthquake {% for label in parent_label_dash %} - <a class="label_link" href="?page=avalancherisk{{ label.query }}">{{ label.name }}</a> {% endfor %}</h1>
	

  	<ul>
		<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
			<h1 class='widget-number'>{{Population | intword | intcomma}}</h1>
			<span class='widget-title'>Total Population</span>
		</li>
		<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
			<h1 class='widget-number'>{{total_eq_pop | intword | intcomma}}</h1>
			<span class='widget-title'>Total earthquake affected Population</span>
		</li>
		
		<li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
			<h1 class='widget-number'>{{settlement | intword | intcomma}}</h1>
			<span class='widget-title'>Number of Settlements</span>
		</li>
		    
		<li data-row="1" data-col="3" data-sizex="3" data-sizey="2">
			<div>{{ EQ_chart.as_html }}</div>
			<span class='widget-title'>Earthquake Mercali Intensity Scale population overview</span>
		</li> 
		<li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
			<h1 class='widget-number'>{{total_eq_settlements | intword | intcomma}}</h1>
			<span class='widget-title'>Number of affected settlements</span>
		</li> 
		

  	</ul>
</div>





<SCRIPT TYPE="text/javascript">
function show_hide_base(){
	if ($("div.showFlag_base").text() == "Show Detail") {
		$("div.showFlag_base").text('Hide Detail');
	} else {
		$("div.showFlag_base").text('Show Detail');
	}
	$( ".detail_base" ).toggleClass(function(){
		if ( $( this ).parent().is( ".hide" ) ) {
		    return "show";		    
		} else {
			// $("div.showFlag").text("<p>Show Detail</p>");
		    return "hide";	    
		}
	});
}




</SCRIPT>
