{% load humanize %}

<style type="text/css">
li#nav_dashfloodrisk>a::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 0.4em;
    width: 100%;
    border-bottom: 2px solid #755467;
    margin-top: 15px;
}
</style>


<div class="gridster">
	<h1 class="dashing-title">Flood Risk {% for label in parent_label_dash %} - <a class="label_link" href="?page=floodrisk{{ label.query }}">{{ label.name }}</a> {% endfor %}
		{% include "qlink_span.html" %}	
	</h1>
  	<ul>
		<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
			<h1 class='widget-number'>{{Population | intword | intcomma}}</h1>
			<span class='widget-title'>Total Population</span>
		</li>
		<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
			<div>{{ total_pop_atrisk_chart.as_html }}</div>
			<span class='widget-title'>Population At Risk</span>
			<span class='pie-title1'>{{ total_pop_atrisk_percent }}%</span>
			<span class='pie-title2'>{{ total_risk_population | intword | intcomma}}</span>
		</li>
		<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
			<div>{{ high_pop_atrisk_chart.as_html }}</div>
			<span class='widget-title'>Population at High Risk</span>
			<span class='pie-title1'>{{ total_pop_high_atrisk_percent }}%</span>
			<span class='pie-title2'>{{ high_risk_population | intword | intcomma}}</span>
		</li>
		<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
			<div>{{ med_pop_atrisk_chart.as_html }}</div>
			<span class='widget-title'>Population at Med. Risk</span>
			<span class='pie-title1'>{{ total_pop_med_atrisk_percent }}%</span>
			<span class='pie-title2'>{{ med_risk_population | intword | intcomma}}</span>
		</li>          
		<li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
			<div>{{ low_pop_atrisk_chart.as_html }}</div>
			<span class='widget-title'>Population at Low Risk</span>
			<span class='pie-title1'>{{ total_pop_low_atrisk_percent }}%</span>
			<span class='pie-title2'>{{ low_risk_population | intword | intcomma}}</span>
		</li>     
		  
		

  	</ul>
</div>

<div  class="gridster">
	<table>
		<thead>
			<tr class='dataitem'>
				<td colspan=8 style="text-align:left;padding:3px;font-weight:bolder;">Population living in flood risk areas</td>
				<td colspan=2 style="text-align:right;padding:3px;"><div class='showFlag_base' onClick='show_hide_base()'>Show Detail</div></td>
			</tr>
			<tr>
				<th rowspan=2><span>Region</span></th>
				<th rowspan=2><span>Settl.</span></th>
				<th colspan=2>Total</th>
				<th colspan=2>Built-Up</th>
				<th colspan=2>Cultivated</th>
				<th colspan=2>Barren/Rangeland</th>
				<!-- <th rowspan=2><span>Health Facilities</span></th>
				<th rowspan=2><span>Length of Roads</span></th> -->
			</tr>
			<tr>
				<th><span>Pop</span></th>
				<th><span>Area</span></th>
				<th><span>Pop</span></th>
				<th><span>Area</span></th>
				<th><span>Pop</span></th>
				<th><span>Area</span></th>
				<th><span>Pop</span></th>
				<th><span>Area</span></th>
			</tr>
		</thead>
		<tbody>
			<tr class='dataitem'>
				<td rowspan=2 class="parent_list">{{parent_label}}</td>
				<td class="parent_value">{{settlement_at_floodrisk | intword | intcomma}}</td>
				<td class="parent_value">{{total_risk_population | intword | intcomma}}</td>
				<td class="parent_value" style="border-right: 1px solid #eee;">{{total_risk_area | intword | intcomma}}</td>
				<td class="parent_value">{{built_up_pop_risk | intword | intcomma}}</td>
				<td class="parent_value" style="border-right: 1px solid #eee;">{{built_up_area_risk | intword | intcomma}}</td>
				<td class="parent_value">{{cultivated_pop_risk | intword | intcomma}}</td>
				<td class="parent_value" style="border-right: 1px solid #eee;">{{cultivated_area_risk | intword | intcomma}}</td>
				<td class="parent_value">{{barren_pop_risk | intword | intcomma}}</td>
				<td class="parent_value">{{barren_area_risk | intword | intcomma}}</td>
			</tr>
			<tr>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ settlement_at_floodrisk_percent }}%,#ffffff {{ settlement_at_floodrisk_percent }}%);">{{ settlement_at_floodrisk_percent }}%</td>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ total_pop_atrisk_percent }}%,#ffffff {{ total_pop_atrisk_percent }}%);">{{ total_pop_atrisk_percent }}%</td>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ total_area_atrisk_percent }}%,#ffffff {{ total_area_atrisk_percent }}%);">{{ total_area_atrisk_percent }}%</td>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ built_up_pop_risk_percent }}%,#ffffff {{ built_up_pop_risk_percent }}%);">{{ built_up_pop_risk_percent }}%</td>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ built_up_area_risk_percent }}%,#ffffff {{ built_up_area_risk_percent }}%);">{{ built_up_area_risk_percent }}%</td>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ cultivated_pop_risk_percent }}%,#ffffff {{ cultivated_pop_risk_percent }}%);">{{ cultivated_pop_risk_percent }}%</td>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ cultivated_area_risk_percent }}%,#ffffff {{ cultivated_area_risk_percent }}%);">{{ cultivated_area_risk_percent }}%</td>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ barren_pop_risk_percent }}%,#ffffff {{ barren_pop_risk_percent }}%);">{{ barren_pop_risk_percent }}%</td>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ barren_area_risk_percent }}%,#ffffff {{ barren_area_risk_percent }}%);">{{ barren_area_risk_percent }}%</td>
			</tr>
			{% for data in lc_child %}
			<tr class='dataitem detail_base hide' onclick="window.document.location='?page=floodrisk&code={{data.code}}';">
				<td rowspan=2  class="detail_list">{{data.na_en}}</td>
				<td class="detail_value">{{data.settlements_at_risk | intword | intcomma}}</td>
				<td class="detail_value">{{data.total_risk_population | intword | intcomma}}</td>
				<td class="detail_value" style="border-right: 1px solid #eee;">{{data.total_risk_area | intword | intcomma}}</td>
				<td class="detail_value">{{data.built_up_pop_risk | intword | intcomma}}</td>
				<td class="detail_value" style="border-right: 1px solid #eee;">{{data.built_up_area_risk | intword | intcomma}}</td>
				<td class="detail_value">{{data.cultivated_pop_risk | intword | intcomma}}</td>
				<td class="detail_value" style="border-right: 1px solid #eee;">{{data.cultivated_area_risk | intword | intcomma}}</td>
				<td class="detail_value">{{data.barren_pop_risk | intword | intcomma}}</td>
				<td class="detail_value">{{data.barren_area_risk | intword | intcomma}}</td>			
			</tr>
			<tr class='dataitem detail_base hide'>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ data.settlement_at_floodrisk_percent }}%,#ffffff {{ data.settlement_at_floodrisk_percent }}%);">{{ data.settlement_at_floodrisk_percent }}%</td>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ data.total_pop_atrisk_percent }}%,#ffffff {{ data.total_pop_atrisk_percent }}%);">{{ data.total_pop_atrisk_percent }}%</td>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ data.total_area_atrisk_percent }}%,#ffffff {{ data.total_area_atrisk_percent }}%);">{{ data.total_area_atrisk_percent }}%</td>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ data.built_up_pop_risk_percent }}%,#ffffff {{ data.built_up_pop_risk_percent }}%);">{{ data.built_up_pop_risk_percent }}%</td>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ data.built_up_area_risk_percent }}%,#ffffff {{ data.built_up_area_risk_percent }}%);">{{ data.built_up_area_risk_percent }}%</td>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ data.cultivated_pop_risk_percent }}%,#ffffff {{ data.cultivated_pop_risk_percent }}%);">{{ data.cultivated_pop_risk_percent }}%</td>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ data.cultivated_area_risk_percent }}%,#ffffff {{ data.cultivated_area_risk_percent }}%);">{{ data.cultivated_area_risk_percent }}%</td>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ data.barren_pop_risk_percent }}%,#ffffff {{ data.barren_pop_risk_percent }}%);">{{ data.barren_pop_risk_percent }}%</td>
				<td class="rowChartIndicator" style="background: linear-gradient(to right, #efe3af {{ data.barren_area_risk_percent }}%,#ffffff {{ data.barren_area_risk_percent }}%);">{{ data.barren_area_risk_percent }}%</td>
			</tr>
			{% endfor %}
			<tr>
				<td class="separator" colspan=10></td>	
			</tr>
		</tbody>
	</table>
</div>



<SCRIPT TYPE="text/javascript">
function show_hide_base(){
	if ($("div.showFlag_base").text() == "Show Detail") {
		$("div.showFlag_base").text('Hide Detail');
	} else {
		$("div.showFlag_base").text('Show Detail');
	}
	$( ".detail_base" ).toggleClass(function(){
		if ( $( this ).parent().is( ".hide" ) ) {
		    return "show";		    
		} else {
			// $("div.showFlag").text("<p>Show Detail</p>");
		    return "hide";	    
		}
	});
}




</SCRIPT>
