{% load humanize %}

<style type="text/css">
li#nav_dashfloodforecast>a::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 0.4em;
    width: 100%;
    border-bottom: 2px solid #755467;
    margin-top: 15px;
}
</style>


<div class="gridster">
	<h1 class="dashing-title">Flood Forecast - {{parent_label_dash}}</h1>
		<table class="overviewTab">
			<thead>
				<tr>
					<th colspan=18 colspan=3 style="background-color:#FFFFFF;">Flash Flood Likelyhood</th>
				</tr>
				<tr>
					<th rowspan=2 colspan=3 style="background-color:#FFFFFF;">Likelyhood</th>
					<th colspan=3 style="background-color:#E2070E;">Extreme</th>
					<th colspan=3 style="background-color:#F96D09;">Very High</th>
					<th colspan=3 style="background-color:#FCED15;">High</th>
					<th colspan=3 style="background-color:#0FC87B;">Medium</th>
					<th colspan=3 style="background-color:#92E7FD;">Low</th>
				</tr>	
			
				<tr>
					<td colspan=3 style="background-color:#E2070E;">{{ flashflood_forecast_extreme_pop | intword | intcomma }}</td>
					<td colspan=3 style="background-color:#F96D09;">{{ flashflood_forecast_veryhigh_pop | intword | intcomma }}</td>
					<td colspan=3 style="background-color:#FCED15;">{{ flashflood_forecast_high_pop | intword | intcomma }}</td>
					<td colspan=3 style="background-color:#0FC87B;">{{ flashflood_forecast_med_pop | intword | intcomma }}</td>
					<td colspan=3 style="background-color:#92E7FD;">{{ flashflood_forecast_low_pop | intword | intcomma }}</td>
				</tr>
			</thead>	
			<tbody>	
				<tr>
					<th rowspan=2 colspan=3 style="background-color:#FFFFFF;">Flood Risk</th>
					<th style="background-color:#1565c0;">High</th>
					<th style="background-color:#64b5f6;">Med</th>
					<th style="background-color:#bbdefb;">Low</th>
					<th style="background-color:#1565c0;">High</th>
					<th style="background-color:#64b5f6;">Med</th>
					<th style="background-color:#bbdefb;">Low</th>
					<th style="background-color:#1565c0;">High</th>
					<th style="background-color:#64b5f6;">Med</th>
					<th style="background-color:#bbdefb;">Low</th>
					<th style="background-color:#1565c0;">High</th>
					<th style="background-color:#64b5f6;">Med</th>
					<th style="background-color:#bbdefb;">Low</th>
					<th style="background-color:#1565c0;">High</th>
					<th style="background-color:#64b5f6;">Med</th>
					<th style="background-color:#bbdefb;">Low</th>
				</tr>
				<tr>
					<td style="background-color:#1565c0;">{{ flashflood_forecast_extreme_risk_high_pop | intword | intcomma }}</td>
					<td style="background-color:#64b5f6;">{{ flashflood_forecast_extreme_risk_med_pop | intword | intcomma }}</td>
					<td style="background-color:#bbdefb;">{{ flashflood_forecast_extreme_risk_low_pop | intword | intcomma }}</td>
					<td style="background-color:#1565c0;">{{ flashflood_forecast_veryhigh_risk_high_pop | intword | intcomma }}</td>
					<td style="background-color:#64b5f6;">{{ flashflood_forecast_veryhigh_risk_med_pop | intword | intcomma }}</td>
					<td style="background-color:#bbdefb;">{{ flashflood_forecast_veryhigh_risk_low_pop | intword | intcomma }}</td>
					<td style="background-color:#1565c0;">{{ flashflood_forecast_high_risk_high_pop | intword | intcomma }}</td>
					<td style="background-color:#64b5f6;">{{ flashflood_forecast_high_risk_med_pop | intword | intcomma }}</td>
					<td style="background-color:#bbdefb;">{{ flashflood_forecast_high_risk_low_pop | intword | intcomma }}</td>
					<td style="background-color:#1565c0;">{{ flashflood_forecast_med_risk_high_pop | intword | intcomma }}</td>
					<td style="background-color:#64b5f6;">{{ flashflood_forecast_med_risk_med_pop | intword | intcomma }}</td>
					<td style="background-color:#bbdefb;">{{ flashflood_forecast_med_risk_low_pop | intword | intcomma }}</td>
					<td style="background-color:#1565c0;">{{ flashflood_forecast_low_risk_high_pop | intword | intcomma }}</td>
					<td style="background-color:#64b5f6;">{{ flashflood_forecast_low_risk_med_pop | intword | intcomma }}</td>
					<td style="background-color:#bbdefb;">{{ flashflood_forecast_low_risk_low_pop | intword | intcomma }}</td>
				</tr>
				
			</tbody>	
		</table>	

		<table class="overviewTab">
			<thead>
				<tr>
					<th colspan=18 colspan=3 style="background-color:#FFFFFF;">River Flood Likelyhood</th>
				</tr>
				<tr>
					<th rowspan=2 colspan=3 style="background-color:#FFFFFF;">Likelyhood</th>
					<th colspan=3 style="background-color:#E2070E;">Extreme</th>
					<th colspan=3 style="background-color:#F96D09;">Very High</th>
					<th colspan=3 style="background-color:#FCED15;">High</th>
					<th colspan=3 style="background-color:#0FC87B;">Medium</th>
					<th colspan=3 style="background-color:#92E7FD;">Low</th>
				</tr>	
			
				
				<tr>
					<td colspan=3 style="background-color:#E2070E;">{{ riverflood_forecast_extreme_pop | intword | intcomma }}</td>
					<td colspan=3 style="background-color:#F96D09;">{{ riverflood_forecast_veryhigh_pop | intword | intcomma }}</td>
					<td colspan=3 style="background-color:#FCED15;">{{ riverflood_forecast_high_pop | intword | intcomma }}</td>
					<td colspan=3 style="background-color:#0FC87B;">{{ riverflood_forecast_med_pop | intword | intcomma }}</td>
					<td colspan=3 style="background-color:#92E7FD;">{{ riverflood_forecast_low_pop | intword | intcomma }}</td>
				</tr>
			</thead>	
			<tbody>	
				<tr>
					<th rowspan=2 colspan=3 style="background-color:#FFFFFF;">Flood Risk</th>
					<th style="background-color:#1565c0;">High</th>
					<th style="background-color:#64b5f6;">Med</th>
					<th style="background-color:#bbdefb;">Low</th>
					<th style="background-color:#1565c0;">High</th>
					<th style="background-color:#64b5f6;">Med</th>
					<th style="background-color:#bbdefb;">Low</th>
					<th style="background-color:#1565c0;">High</th>
					<th style="background-color:#64b5f6;">Med</th>
					<th style="background-color:#bbdefb;">Low</th>
					<th style="background-color:#1565c0;">High</th>
					<th style="background-color:#64b5f6;">Med</th>
					<th style="background-color:#bbdefb;">Low</th>
					<th style="background-color:#1565c0;">High</th>
					<th style="background-color:#64b5f6;">Med</th>
					<th style="background-color:#bbdefb;">Low</th>
				</tr>
				<tr>
					<td style="background-color:#1565c0;">{{ riverflood_forecast_extreme_risk_high_pop | intword | intcomma }}</td>
					<td style="background-color:#64b5f6;">{{ riverflood_forecast_extreme_risk_med_pop | intword | intcomma }}</td>
					<td style="background-color:#bbdefb;">{{ riverflood_forecast_extreme_risk_low_pop | intword | intcomma }}</td>
					<td style="background-color:#1565c0;">{{ riverflood_forecast_veryhigh_risk_high_pop | intword | intcomma }}</td>
					<td style="background-color:#64b5f6;">{{ riverflood_forecast_veryhigh_risk_med_pop | intword | intcomma }}</td>
					<td style="background-color:#bbdefb;">{{ riverflood_forecast_veryhigh_risk_low_pop | intword | intcomma }}</td>
					<td style="background-color:#1565c0;">{{ riverflood_forecast_high_risk_high_pop | intword | intcomma }}</td>
					<td style="background-color:#64b5f6;">{{ riverflood_forecast_high_risk_med_pop | intword | intcomma }}</td>
					<td style="background-color:#bbdefb;">{{ riverflood_forecast_high_risk_low_pop | intword | intcomma }}</td>
					<td style="background-color:#1565c0;">{{ riverflood_forecast_med_risk_high_pop | intword | intcomma }}</td>
					<td style="background-color:#64b5f6;">{{ riverflood_forecast_med_risk_med_pop | intword | intcomma }}</td>
					<td style="background-color:#bbdefb;">{{ riverflood_forecast_med_risk_low_pop | intword | intcomma }}</td>
					<td style="background-color:#1565c0;">{{ riverflood_forecast_low_risk_high_pop | intword | intcomma }}</td>
					<td style="background-color:#64b5f6;">{{ riverflood_forecast_low_risk_med_pop | intword | intcomma }}</td>
					<td style="background-color:#bbdefb;">{{ riverflood_forecast_low_risk_low_pop | intword | intcomma }}</td>
				</tr>
				
			</tbody>	
		</table>			  		
  	</ul>
</div>

<div  class="gridster">
	<table>
		<thead>
			<tr class='dataitem'>
				<td style="text-align:left;padding:3px;"></td>
				<td colspan=11 style="text-align:right;padding:3px;"><div class='showFlag_base' onClick='show_hide_base()'>Show Detail</div></td>
			</tr>
			<tr>
				<th rowspan=2 style="background-color:#FFFFFF;"><span>AOI</span></th>
				<th colspan=5 style="background-color:#FFFFFF;">Flash FLood</th>
				<th colspan=5 style="background-color:#FFFFFF;">River FLood</th>
				<!-- <th rowspan=2><span>Health Facilities</span></th>
				<th rowspan=2><span>Length of Roads</span></th> -->
			</tr>
			<tr>
				<th style="background-color:#E2070E;"><span>Extreme</span></th>
				<th style="background-color:#F96D09;"><span>Very High</span></th>
				<th style="background-color:#FCED15;"><span>High</span></th>
				<th style="background-color:#0FC87B;"><span>Med</span></th>
				<th style="background-color:#92E7FD;"><span>Low</span></th>
				<th style="background-color:#E2070E;"><span>Extreme</span></th>
				<th style="background-color:#F96D09;"><span>Very High</span></th>
				<th style="background-color:#FCED15;"><span>High</span></th>
				<th style="background-color:#0FC87B;"><span>Med</span></th>
				<th style="background-color:#92E7FD;"><span>Low</span></th>
			</tr>
		</thead>
		<tbody>
			<tr class='dataitem'>
				<td class="parent_list">{{parent_label}}</td>
				<td class="parent_value" style="background-color:#E2070E;">{{flashflood_forecast_extreme_pop | intword | intcomma}}</td>
				<td class="parent_value" style="background-color:#F96D09;">{{flashflood_forecast_veryhigh_pop | intword | intcomma}}</td>
				<td class="parent_value" style="background-color:#FCED15;">{{flashflood_forecast_high_pop | intword | intcomma}}</td>
				<td class="parent_value" style="background-color:#0FC87B;">{{flashflood_forecast_med_pop | intword | intcomma}}</td>
				<td class="parent_value" style="background-color:#92E7FD;">{{flashflood_forecast_low_pop | intword | intcomma}}</td>
				<td class="parent_value" style="background-color:#E2070E;">{{riverflood_forecast_extreme_pop | intword | intcomma}}</td>
				<td class="parent_value" style="background-color:#F96D09;">{{riverflood_forecast_veryhigh_pop | intword | intcomma}}</td>
				<td class="parent_value" style="background-color:#FCED15;">{{riverflood_forecast_high_pop | intword | intcomma}}</td>
				<td class="parent_value" style="background-color:#0FC87B;">{{riverflood_forecast_med_pop | intword | intcomma}}</td>
				<td class="parent_value" style="background-color:#92E7FD;">{{riverflood_forecast_low_pop | intword | intcomma}}</td>
			</tr>
			{% for data in lc_child %}
			<tr class='dataitem detail_base hide' onclick="window.document.location='?page=floodforecast&code={{data.code}}';">
				<td class="detail_list">{{data.na_en}}</td>
				<td class="detail_value" style="background-color:#E2070E;">{{data.flashflood_forecast_extreme_pop | intword | intcomma}}</td>
				<td class="detail_value" style="background-color:#F96D09;">{{data.flashflood_forecast_veryhigh_pop | intword | intcomma}}</td>
				<td class="detail_value" style="background-color:#FCED15;">{{data.flashflood_forecast_high_pop | intword | intcomma}}</td>
				<td class="detail_value" style="background-color:#0FC87B;">{{data.flashflood_forecast_med_pop | intword | intcomma}}</td>
				<td class="detail_value" style="background-color:#92E7FD;">{{data.flashflood_forecast_low_pop | intword | intcomma}}</td>
				<td class="detail_value" style="background-color:#E2070E;">{{data.riverflood_forecast_extreme_pop | intword | intcomma}}</td>
				<td class="detail_value" style="background-color:#F96D09;">{{data.riverflood_forecast_veryhigh_pop | intword | intcomma}}</td>
				<td class="detail_value" style="background-color:#FCED15;">{{data.riverflood_forecast_high_pop | intword | intcomma}}</td>
				<td class="detail_value" style="background-color:#0FC87B;">{{data.riverflood_forecast_med_pop | intword | intcomma}}</td>	
				<td class="parent_value" style="background-color:#92E7FD;">{{data.riverflood_forecast_low_pop | intword | intcomma}}</td>		
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>



<SCRIPT TYPE="text/javascript">
function show_hide_base(){
	if ($("div.showFlag_base").text() == "Show Detail") {
		$("div.showFlag_base").text('Hide Detail');
	} else {
		$("div.showFlag_base").text('Show Detail');
	}
	$( ".detail_base" ).toggleClass(function(){
		if ( $( this ).parent().is( ".hide" ) ) {
		    return "show";		    
		} else {
			// $("div.showFlag").text("<p>Show Detail</p>");
		    return "hide";	    
		}
	});
}




</SCRIPT>
