{% load humanize %}

<style type="text/css">
li#nav_dashfloodforecast>a::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 0.4em;
    width: 100%;
    border-bottom: 2px solid #755467;
    margin-top: 15px;
}
</style>


<div class="gridster">
	<h1 class="dashing-title">Flood Forecast {% for label in parent_label_dash %} - <a class="label_link" href="?page=floodforecast{{ label.query }}">{{ label.name }}</a> {% endfor %}</h1>
		<table class="overviewTab">
			<thead>
				<tr>
					<th colspan=18 colspan=3>Flash Flood Likelihood</th>
				</tr>
				<tr>
					<th rowspan=2 colspan=3>Likelihood</th>
					<th colspan=3 class="fl_forecast_extreme">Extreme</th>
					<th colspan=3 class="fl_forecast_vhigh">Very High</th>
					<th colspan=3 class="fl_forecast_high">High</th>
					<th colspan=3 class="fl_forecast_med">Moderate</th>
					<th colspan=3 class="fl_forecast_low">Low</th>
				</tr>	
			
				<tr>
					<td colspan=3 class="fl_forecast_extreme">{{ flashflood_forecast_extreme_pop | intword | intcomma }}</td>
					<td colspan=3 class="fl_forecast_vhigh">{{ flashflood_forecast_veryhigh_pop | intword | intcomma }}</td>
					<td colspan=3 class="fl_forecast_high">{{ flashflood_forecast_high_pop | intword | intcomma }}</td>
					<td colspan=3 class="fl_forecast_med">{{ flashflood_forecast_med_pop | intword | intcomma }}</td>
					<td colspan=3 class="fl_forecast_low">{{ flashflood_forecast_low_pop | intword | intcomma }}</td>
				</tr>
			</thead>	
			<tbody>	
				<tr>
					<th rowspan=2 colspan=3>Flood Risk</th>
					<th class="fl_risk_h">High</th>
					<th class="fl_risk_m">Med</th>
					<th class="fl_risk_l">Low</th>
					<th class="fl_risk_h">High</th>
					<th class="fl_risk_m">Med</th>
					<th class="fl_risk_l">Low</th>
					<th class="fl_risk_h">High</th>
					<th class="fl_risk_m">Med</th>
					<th class="fl_risk_l">Low</th>
					<th class="fl_risk_h">High</th>
					<th class="fl_risk_m">Med</th>
					<th class="fl_risk_l">Low</th>
					<th class="fl_risk_h">High</th>
					<th class="fl_risk_m">Med</th>
					<th class="fl_risk_l">Low</th>
				</tr>
				<tr>
					<td class="fl_risk_h">{{ flashflood_forecast_extreme_risk_high_pop | intword | intcomma }}</td>
					<td class="fl_risk_m">{{ flashflood_forecast_extreme_risk_med_pop | intword | intcomma }}</td>
					<td class="fl_risk_l">{{ flashflood_forecast_extreme_risk_low_pop | intword | intcomma }}</td>
					<td class="fl_risk_h">{{ flashflood_forecast_veryhigh_risk_high_pop | intword | intcomma }}</td>
					<td class="fl_risk_m">{{ flashflood_forecast_veryhigh_risk_med_pop | intword | intcomma }}</td>
					<td class="fl_risk_l">{{ flashflood_forecast_veryhigh_risk_low_pop | intword | intcomma }}</td>
					<td class="fl_risk_h">{{ flashflood_forecast_high_risk_high_pop | intword | intcomma }}</td>
					<td class="fl_risk_m">{{ flashflood_forecast_high_risk_med_pop | intword | intcomma }}</td>
					<td class="fl_risk_l">{{ flashflood_forecast_high_risk_low_pop | intword | intcomma }}</td>
					<td class="fl_risk_h">{{ flashflood_forecast_med_risk_high_pop | intword | intcomma }}</td>
					<td class="fl_risk_m">{{ flashflood_forecast_med_risk_med_pop | intword | intcomma }}</td>
					<td class="fl_risk_l">{{ flashflood_forecast_med_risk_low_pop | intword | intcomma }}</td>
					<td class="fl_risk_h">{{ flashflood_forecast_low_risk_high_pop | intword | intcomma }}</td>
					<td class="fl_risk_m">{{ flashflood_forecast_low_risk_med_pop | intword | intcomma }}</td>
					<td class="fl_risk_l">{{ flashflood_forecast_low_risk_low_pop | intword | intcomma }}</td>
				</tr>
				
			</tbody>	
		</table>	

		<table class="overviewTab">
			<thead>
				<tr>
					<th colspan=18 colspan=3>River Flood Likelihood</th>
				</tr>
				<tr>
					<th rowspan=2 colspan=3>Likelihood</th>
					<th colspan=3 class="fl_forecast_extreme">Extreme</th>
					<th colspan=3 class="fl_forecast_vhigh">Very High</th>
					<th colspan=3 class="fl_forecast_high">High</th>
					<th colspan=3 class="fl_forecast_med">Moderate</th>
					<th colspan=3 class="fl_forecast_low">Low</th>
				</tr>	
			
				
				<tr>
					<td colspan=3 class="fl_forecast_extreme">{{ riverflood_forecast_extreme_pop | intword | intcomma }}</td>
					<td colspan=3 class="fl_forecast_vhigh">{{ riverflood_forecast_veryhigh_pop | intword | intcomma }}</td>
					<td colspan=3 class="fl_forecast_high">{{ riverflood_forecast_high_pop | intword | intcomma }}</td>
					<td colspan=3 class="fl_forecast_med">{{ riverflood_forecast_med_pop | intword | intcomma }}</td>
					<td colspan=3 class="fl_forecast_low">{{ riverflood_forecast_low_pop | intword | intcomma }}</td>
				</tr>
			</thead>	
			<tbody>	
				<tr>
					<th rowspan=2 colspan=3>Flood Risk</th>
					<th class="fl_risk_h">High</th>
					<th class="fl_risk_m">Med</th>
					<th class="fl_risk_l">Low</th>
					<th class="fl_risk_h">High</th>
					<th class="fl_risk_m">Med</th>
					<th class="fl_risk_l">Low</th>
					<th class="fl_risk_h">High</th>
					<th class="fl_risk_m">Med</th>
					<th class="fl_risk_l">Low</th>
					<th class="fl_risk_h">High</th>
					<th class="fl_risk_m">Med</th>
					<th class="fl_risk_l">Low</th>
					<th class="fl_risk_h">High</th>
					<th class="fl_risk_m">Med</th>
					<th class="fl_risk_l">Low</th>
				</tr>
				<tr>
					<td class="fl_risk_h">{{ riverflood_forecast_extreme_risk_high_pop | intword | intcomma }}</td>
					<td class="fl_risk_m">{{ riverflood_forecast_extreme_risk_med_pop | intword | intcomma }}</td>
					<td class="fl_risk_l">{{ riverflood_forecast_extreme_risk_low_pop | intword | intcomma }}</td>
					<td class="fl_risk_h">{{ riverflood_forecast_veryhigh_risk_high_pop | intword | intcomma }}</td>
					<td class="fl_risk_m">{{ riverflood_forecast_veryhigh_risk_med_pop | intword | intcomma }}</td>
					<td class="fl_risk_l">{{ riverflood_forecast_veryhigh_risk_low_pop | intword | intcomma }}</td>
					<td class="fl_risk_h">{{ riverflood_forecast_high_risk_high_pop | intword | intcomma }}</td>
					<td class="fl_risk_m">{{ riverflood_forecast_high_risk_med_pop | intword | intcomma }}</td>
					<td class="fl_risk_l">{{ riverflood_forecast_high_risk_low_pop | intword | intcomma }}</td>
					<td class="fl_risk_h">{{ riverflood_forecast_med_risk_high_pop | intword | intcomma }}</td>
					<td class="fl_risk_m">{{ riverflood_forecast_med_risk_med_pop | intword | intcomma }}</td>
					<td class="fl_risk_l">{{ riverflood_forecast_med_risk_low_pop | intword | intcomma }}</td>
					<td class="fl_risk_h">{{ riverflood_forecast_low_risk_high_pop | intword | intcomma }}</td>
					<td class="fl_risk_m">{{ riverflood_forecast_low_risk_med_pop | intword | intcomma }}</td>
					<td class="fl_risk_l">{{ riverflood_forecast_low_risk_low_pop | intword | intcomma }}</td>
				</tr>
				
			</tbody>	
		</table>			  		
  	</ul>
</div>

<div  class="gridster">
	<table>
		<thead>
			<tr class='dataitem'>
				<td style="text-align:left;padding:3px;"></td>
				<td colspan=11 style="text-align:right;padding:3px;"><div class='showFlag_base' onClick='show_hide_base()'>Show Detail</div></td>
			</tr>
			<tr>
				<th rowspan=2><span>Region</span></th>
				<th colspan=5>Flash Flood</th>
				<td style="width:3px;"></td>
				<th colspan=5>River Flood</th>
				<!-- <th rowspan=2><span>Health Facilities</span></th>
				<th rowspan=2><span>Length of Roads</span></th> -->
			</tr>
			<tr>
				<th class="fl_forecast_extreme" style="width:70px;"><span>Extreme</span></th>
				<th class="fl_forecast_vhigh" style="width:70px;"><span>Very High</span></th>
				<th class="fl_forecast_high" style="width:70px;"><span>High</span></th>
				<th class="fl_forecast_med" style="width:70px;"><span>Med</span></th>
				<th class="fl_forecast_low" style="width:70px;"><span>Low</span></th>
				<td></td>
				<th class="fl_forecast_extreme" style="width:70px;"><span>Extreme</span></th>
				<th class="fl_forecast_vhigh" style="width:70px;"><span>Very High</span></th>
				<th class="fl_forecast_high" style="width:70px;"><span>High</span></th>
				<th class="fl_forecast_med" style="width:70px;"><span>Med</span></th>
				<th class="fl_forecast_low" style="width:70px;"><span>Low</span></th>
			</tr>
		</thead>
		<tbody>
			<tr class='dataitem'>
				<th class="parent_list">{{parent_label}}</th>
				<td class="parent_value fl_forecast_extreme">{{flashflood_forecast_extreme_pop | intword | intcomma}}</td>
				<td class="parent_value fl_forecast_vhigh">{{flashflood_forecast_veryhigh_pop | intword | intcomma}}</td>
				<td class="parent_value fl_forecast_high">{{flashflood_forecast_high_pop | intword | intcomma}}</td>
				<td class="parent_value fl_forecast_med">{{flashflood_forecast_med_pop | intword | intcomma}}</td>
				<td class="parent_value fl_forecast_low">{{flashflood_forecast_low_pop | intword | intcomma}}</td>
				<td></td>
				<td class="parent_value fl_forecast_extreme">{{riverflood_forecast_extreme_pop | intword | intcomma}}</td>
				<td class="parent_value fl_forecast_vhigh">{{riverflood_forecast_veryhigh_pop | intword | intcomma}}</td>
				<td class="parent_value fl_forecast_high">{{riverflood_forecast_high_pop | intword | intcomma}}</td>
				<td class="parent_value fl_forecast_med">{{riverflood_forecast_med_pop | intword | intcomma}}</td>
				<td class="parent_value fl_forecast_low">{{riverflood_forecast_low_pop | intword | intcomma}}</td>
			</tr>
			{% for data in lc_child %}
			<tr class='dataitem detail_base hide' onclick="window.document.location='?page=floodforecast&code={{data.code}}';">
				<th class="detail_list">{{data.na_en}}</th>
				<td class="detail_value fl_forecast_extreme">{{data.flashflood_forecast_extreme_pop | intword | intcomma}}</td>
				<td class="detail_value fl_forecast_vhigh">{{data.flashflood_forecast_veryhigh_pop | intword | intcomma}}</td>
				<td class="detail_value fl_forecast_high">{{data.flashflood_forecast_high_pop | intword | intcomma}}</td>
				<td class="detail_value fl_forecast_med">{{data.flashflood_forecast_med_pop | intword | intcomma}}</td>
				<td class="detail_value fl_forecast_low">{{data.flashflood_forecast_low_pop | intword | intcomma}}</td>
				<td></td>
				<td class="detail_value fl_forecast_extreme">{{data.riverflood_forecast_extreme_pop | intword | intcomma}}</td>
				<td class="detail_value fl_forecast_vhigh">{{data.riverflood_forecast_veryhigh_pop | intword | intcomma}}</td>
				<td class="detail_value fl_forecast_high">{{data.riverflood_forecast_high_pop | intword | intcomma}}</td>
				<td class="detail_value fl_forecast_med">{{data.riverflood_forecast_med_pop | intword | intcomma}}</td>	
				<td class="parent_value fl_forecast_low">{{data.riverflood_forecast_low_pop | intword | intcomma}}</td>		
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>



<SCRIPT TYPE="text/javascript">
function show_hide_base(){
	if ($("div.showFlag_base").text() == "Show Detail") {
		$("div.showFlag_base").text('Hide Detail');
	} else {
		$("div.showFlag_base").text('Show Detail');
	}
	$( ".detail_base" ).toggleClass(function(){
		if ( $( this ).parent().is( ".hide" ) ) {
		    return "show";		    
		} else {
			// $("div.showFlag").text("<p>Show Detail</p>");
		    return "hide";	    
		}
	});
}




</SCRIPT>
