 <div class="container">
	<div class="gridster">
		<div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">          
          <li id="nav_dashbaseline">
            <a href="/dashboard/?page=baseline">Baseline</a>
          </li>
          <li id="nav_dashaccessibility">
            <a href="/dashboard/?page=accessibility">Accessibility</a>
          </li>
          <li id="nav_dashfloodforecast">
            <a href="/dashboard/?page=floodforecast">Flood Forecast</a>
          </li>
          <li id="nav_dashfloodrisk">
            <a href="/dashboard/?page=floodrisk">Flood Risk</a>
          </li>
          <li id="nav_dashavalancheforecast">
            <a href="/dashboard/?page=avalcheforecast">Avalanche Forecast</a>
          </li> 
          <li id="nav_dashavalancherisk">
            <a href="/dashboard/?page=avalancherisk">Avalanche Risk</a>
          </li>
          <li id="nav_dashearthquake">
            <a href="/dashboard/?page=earthquake">Earthquake</a>
          </li>
          
        </ul>
  
      </div>
	</div>
</div>	