{% load i18n %}

<div class="container">
	<div class="gridster" style="z-index:100;">
		<div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li id="nav_dashbaseline">
            <a href="/dashboard/?page=baseline{{add_link}}">{% trans 'Baseline' %}</a>
          </li>
          <li id="nav_dashaccessibility">
            <a href="/dashboard/?page=accessibility{{add_link}}">{% trans 'Accessibility' %}</a>
          </li>
          <li id="nav_dashflood" class="dropdown">
            <a href="#" data-toggle="dropdown" data-target="#">{% trans 'Floods' %}</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li id="nav_dashfloodforecast">
                <a href="/dashboard/?page=floodforecast{{add_link}}">{% trans 'Flood Prediction' %}</a>
              </li>
              <li id="nav_dashfloodrisk">
                <a href="/dashboard/?page=floodrisk{{add_link}}">{% trans 'Flood Risk' %}</a>
              </li>
            </ul>
          </li>

          <li id="nav_dashavalanche" class="dropdown">
            <a href="#" data-toggle="dropdown" data-target="#">{% trans 'Avalanches' %}</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li id="nav_dashavalancheforecast">
                <a href="/dashboard/?page=avalcheforecast{{add_link}}">{% trans 'Avalanche Prediction' %}</a>
              </li>
              <li id="nav_dashavalancherisk">
                <a href="/dashboard/?page=avalancherisk{{add_link}}">{% trans 'Avalanche Risk' %}</a>
              </li>
            </ul>
          </li>
          
          <li id="nav_dashlandslide">
            <a href="/dashboard/?page=landslide{{add_link}}">{% trans 'Landslide' %}</a>
          </li>

          <li id="nav_dashearthquake">
            <a href="/dashboard/?page=earthquake{{add_link}}">{% trans 'Earthquake' %}</a>
          </li>
					<li id="nav_dashsecurity">
            <a href="/dashboard/?page=security{{add_link}}">{% trans 'Humanitarian Access' %}</a>
          </li>
					<li id="nav_naturaldisaster">
            <a href="/dashboard/?page=naturaldisaster{{add_link}}">{% trans 'Natural Disaster' %}</a>
          </li>
          <li id="nav_weather">
            <a href="/dashboard/?page=weather{{add_link}}">{% trans 'Weather' %}</a>
          </li>

        </ul>

      </div>


	</div>
</div>

<div class="container print-hide" style="width: 940px;margin: 0 auto;">
      <div class="pull-right" style="width:30%;">
          <var id="result-container" class="result-container"></var>

          <form id="form-country_v2" name="form-country_v2">
              <div class="typeahead__container">
                  <div class="typeahead__field">

                      <span class="typeahead__query">
                          <input class="js-typeahead-country_v2" name="country_v2[query]" type="search" placeholder="{% trans 'Search Region' %}" autocomplete="off">
                      </span>
                      <span class="typeahead__button">
                          <button type="">
                              <i class="typeahead__search-icon"></i>
                          </button>
                      </span>
                      <span class="typeahead__button">
                          <button type="" class="typeahead__download">
                              <i class="typeahead__download-pdf"></i>
                          </button>
                      </span>

                  </div>
              </div>
          </form>
      </div>
</div>

{% include "qlink_list.html" %}

<script type="text/javascript">

var _checked = [];

function removeA(arr) {
    var what, a = arguments, L = a.length, ax;
    while (L > 1 && arr.length) {
        what = a[--L];
        while ((ax= arr.indexOf(what)) !== -1) {
            arr.splice(ax, 1);
        }
    }
    return arr;
}

document.addEventListener('DOMContentLoaded', function() {
  $.typeahead({
      input: '.js-typeahead-country_v2',
      minLength: 1,
      maxItem: 20,
      order: "asc",
      mustSelectItem : true,
      // href: "https://en.wikipedia.org/?title={{display}}",
      // template: "{{name}} <small style='color:#999;'>{{group}}</small>",
      template :function (query, item) {
        var url = $(location).attr("href");
        if (getParameterByName("code") == null){
          url += '&code='+item.code;
        } else {
          url = updateUrlParameter(url, 'code', item.code);
        }

        if (item.code == 0){
          url = removeParam('code', url)
        }

        item.href = url;
        if (item.group =='district'){
          return '<span class="row">' +
              '<span>'+item.name+' <small style="color:#999;">'+item.group+' in '+item.parent+' province</small></span>' +
          "</span>";
        } else {
          return '<span class="row">' +
              '<span>'+item.name+' <small style="color:#999;">'+item.group+'</small></span>' +
          "</span>";
        }
      },
      source: {
          country: {
              display: "name",
              href: "https://www.github.com/",
              data: [{
                "name":"Afghanistan",
                "code":0
              }]
          },
          province: {
              display: "name",
              href: "https://www.github.com/",
              ajax: {
                  type: "GET",
                  url: "/dashboard/getprovinces",
                  path: "data.provinces"
              }
          },
          district: {
              display: "name",
              href: "https://www.github.com/",
              ajax: {
                  type: "GET",
                  url: "/dashboard/getprovinces",
                  path: "data.districts"
              }
          }
      },
      callback: {
          onNavigateAfter: function (node, lis, a, item, query, event) {
              if (~[38,40].indexOf(event.keyCode)) {
                  var resultList = node.closest("form").find("ul.typeahead__list"),
                      activeLi = lis.filter("li.active"),
                      offsetTop = activeLi[0] && activeLi[0].offsetTop - (resultList.height() / 2) || 0;

                  resultList.scrollTop(offsetTop);
              }

          },
          onClickAfter: function (node, a, item, event) {

              event.preventDefault();

              // var r = confirm("You will be redirected to:\n" + item.href + "\n\nContinue?");
              // if (r == true) {
                  // window.open(item.href);
                  window.document.location = item.href;
              // }

              $('#result-container').text('');

          },
          onResult: function (node, query, result, resultCount) {
              if (query === "") return;

              var text = "";
              if (result.length > 0 && result.length < resultCount) {
                  text = "Showing <strong>" + result.length + "</strong> of <strong>" + resultCount + '</strong> elements matching "' + query + '"';
              } else if (result.length > 0) {
                  text = 'Showing <strong>' + result.length + '</strong> elements matching "' + query + '"';
              } else {
                  text = 'No results matching "' + query + '"';
              }
              $('#result-container').html(text);

          }//,
          // onMouseEnter: function (node, a, item, event) {

          //     if (item.group === "country") {
          //         $(a).append('<span class="flag-chart flag-' + item.display.replace(' ', '-').toLowerCase() + '"></span>')
          //     }

          // },
          // onMouseLeave: function (node, a, item, event) {

          //     $(a).find('.flag-chart').remove();

          // }
      }
  });

  $('button.typeahead__download').on('click', function(event) {
    var url = $(location).attr("href");
    $(".se-pre-con").fadeIn("slow");
    window.document.location = url+'&pdf=true&_checked='+_checked;
    $(".se-pre-con").fadeOut("slow");
  });

});
</script>
