{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
   {{ block.super }}
  {% block hero %}
  <div id="myCarousel" class="carousel slide container" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <!-- <img src="{{ STATIC_URL }}lib/foto/drought.jpg" alt="Flood Cover, Credit for Google Crisis"> -->
          <div class="container">
            <div class="carousel-caption">
              <h1>Topic 1</h1>
              <p>{% trans "Here perhaps we could put some statement something, some short description on the methodology, source of data, etc" %}</p>
              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse Flood Assesstment</a></p> -->
              <p class="image-credit">Photo: Google Crisis</p>
            </div>
          </div>
        </div>
        <div class="item">
          <!-- <img src="{{ STATIC_URL }}lib/foto/cyclone1.jpg" alt="Cyclone, Credit for NOAA"> -->
          <div class="container">
            <div class="carousel-caption">
              <h1>Topic 2</h1>
              <p>Here perhaps we could put some statement something, some short description on the methodology, source of data, etc</p>
              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse Cyclone Assesstment</a></p> -->
              <p class="image-credit">Photo: NOAA</p>
            </div>
          </div>
        </div>
        <div class="item">
          <!-- <img src="{{ STATIC_URL }}lib/foto/drought.jpg" alt="Drought, Credit for telegraph.co.uk"> -->
          <div class="container">
            <div class="carousel-caption">
              <h1>Topic 3</h1>
              <p>Here perhaps we could put some statement something, some short description on the methodology, source of data, etc</p>
              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse Drought Assestment</a></p> -->
              <p class="image-credit">Photo: telegraph.co.uk</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  {% endblock %}

  {% block mainbody %}

  <section class="social">
    <div class="container forceCenter">
      <!-- <div class="row"> -->
        <!-- <div class="span8"> -->
          <!-- <div class="row"> -->
          {% with facet_type='home' %}
          {% facets as facets %}
            <ul class="breadcrumb">
              <li><a href="{% url "layer_browse" %}"><span class="count badge warning">
                {{ facets.layer|default:_("0") }} 
              </span>{% trans "Layers" %}&nbsp; 
              </a></li>
              <li><a href="{% url "maps_browse" %}"><span class="count badge">
                {{ facets.map|default:_("0") }} 
              </span>{% trans "Interactive Maps" %} &nbsp;
              </a></li>
              <li><a href="{% url "document_browse" %}"><span class="count badge">
                {{ facets.document|default:_("0") }} 
              </span>{% trans "Static Maps" %} &nbsp;
              </a></li>
              <li><a href="{% url "profile_browse" %}"><span class="count badge">
                {{ facets.user|default:_("0") }} 
              </span>{% trans "User" %} &nbsp;
              </a></li>
              <li><a href="#"></a></li>
            </ul>
            <!-- <div class="span2"><p><a href="{% url "layer_browse" %}"><span class="count">
                {{ facets.layer|default:_("0") }} 
              </span>Layers 
              </a></p>
            </div>
            <div class="span2"><p><a href="{% url "maps_browse" %}"><span class="count">
                {{ facets.map|default:_("0") }} 
              </span>Interactive Maps 
              </a></p>
            </div>
            <div class="span2"><p><a href="{% url "document_browse" %}"><span class="count">
                {{ facets.document|default:_("0") }} 
              </span>Static Maps 
              </a></p>
            </div>
            <div class="span2"><p><a href="{% url "profile_browse" %}"><span class="count">
                {{ facets.user|default:_("0") }} 
              </span>Users 
              </a></p>
            </div> -->
          {% endwith %}  
          <!-- </div>  --> 
        <!-- </div>  --> 
      <!-- </div> -->  
    </div>  
  </section>  
 <div ng-app="featured"> 

  <div class="container container-down10px">
    <div class="col-xs-5 panel-custom">
      <div class="panel panel-primary">
        <div class="panel-heading">
          {% verbatim %}
          <h3 class="panel-title">Latest Static Maps</h3>
          <h5 class="panel-subtitle">{% endverbatim %}<a href="{% url "document_browse" %}">{% verbatim %}See all, total {{ latestdocs.meta.total_count }} maps</a><h5>
        </div>
        <div class="panel-body">
          <section class="featured-maps">
            <div class="row">
              
      <!--         <div ng-app="featured"> -->
                <div ng-repeat="item in latestdocs.objects">
                  <div class="span3">
                    <div class="map-thumb thumbnail">
                      <a href="{{ item.detail_url }}" class="map-link">
                        <img src="{{ item.thumbnail_url }}" />
                      </a>
                      <div class="map-abstract">
                        <p class="cust_date"><a href="{{ item.detail_url }}">{% endverbatim %}{% trans "from" %}{% verbatim %} <strong>{{ item.owner__username }}</strong>, <em class="timestamp">{{ item.date|date:"d MMM y" }}</em></a></p> 
                        <p class="cust_headline"><a href="{{ item.detail_url }}">{{ item.title }}</a></p>         
                        <p class="cust_tag"><a href="{{ item.detail_url }}">{{ item.abstract }}</a></p>
                      </div>  
                      <div class="map-title"><a href="{{ item.detail_url }}" class="map-link">{{ item.title }}</a></div>
                      <div class="views pull-right"><i class="icon-eye-open"></i>{{ item.popular_count }}</div>
                    </div>
                </div>
              </div>
            <!-- </div> -->
            {% endverbatim %}
          </section>
        </div>
      </div>
    </div>

    

    <div class="col-xs-7 panel-custom">
      <div class="panel panel-primary">
        <div class="panel-heading">
          {% verbatim %}
          <h3 class="panel-title">Latest Flood Maps</h3>
          <h5 class="panel-subtitle">{% endverbatim %}<a href="{% url "document_browse" %}?keywords__slug__in=hazard&order_by=-date">{% verbatim %}See all, total {{ latestflood.meta.total_count }} maps</a><h5>
        </div>
        <div class="panel-body">
          <section class="featured-maps">
            <div class="row">
              
                <div ng-repeat="item in latestflood.objects">
                  <div class="span3">
                    <div class="map-thumb thumbnail">
                      <a href="{{ item.detail_url }}" class="map-link">
                        <img src="{{ item.thumbnail_url }}" />
                      </a>
                      <div class="map-abstract">
                        <p class="cust_date"><a href="{{ item.detail_url }}">{% endverbatim %}{% trans "from" %}{% verbatim %} <strong>{{ item.owner__username }}</strong>, <em class="timestamp">{{ item.date|date:"d MMM y" }}</em></a></p>
                        <p class="cust_headline"><a href="{{ item.detail_url }}">{{ item.title }}</a></p>        
                        <p class="cust_tag"><a href="{{ item.detail_url }}">{{ item.abstract }}</a></p>
                      </div>  
                      <div class="map-title"><a href="{{ item.detail_url }}" class="map-link">{{ item.title }}</a></div>
                      <div class="views pull-right"><i class="icon-eye-open"></i>{{ item.popular_count }}</div>
                    </div>
                </div>
              </div>
              
            <!-- </div> -->
            {% endverbatim %}
          </section>
        </div>
      </div>
    </div>

    <div class="col-xs-5 panel-custom">
      <div class="panel panel-primary">
        <div class="panel-heading">
          {% verbatim %}
          <h3 class="panel-title">Featured Maps</h3>
          <h5 class="panel-subtitle">Total {{ featured.meta.total_count }} Maps<h5>
        </div>
        <div class="panel-body">
          <section class="featured-maps">
            <div class="row">
              
                <div ng-repeat="item in featured.objects">
                  <div class="span3">
                    <div class="map-thumb thumbnail">
                      <a href="{{ item.detail_url }}" class="map-link">
                        <img src="{{ item.thumbnail_url }}" />
                      </a>
                      <div class="map-abstract">
                        <p class="cust_date"><a href="{{ item.detail_url }}">{% endverbatim %}{% trans "from" %}{% verbatim %} <strong>{{ item.owner__username }}</strong>, <em class="timestamp">{{ item.date|date:"d MMM y" }}</em></a></p>
                        <p class="cust_headline"><a href="{{ item.detail_url }}">{{ item.title }}</a></p>        
                        <p class="cust_tag"><a href="{{ item.detail_url }}">{{ item.abstract }}</a></p>
                      </div>  
                      <div class="map-title"><a href="{{ item.detail_url }}" class="map-link">{{ item.title }}</a></div>
                      <div class="views pull-right"><i class="icon-eye-open"></i>{{ item.popular_count }}</div>
                    </div>
                </div>
              </div>
              
            <!-- </div> -->
            {% endverbatim %}
          </section>
        </div>
      </div>
    </div>
    
  </div>
  

  

  <div class="container">
    
  </div>  
  

  <!-- <div class="container">
    <div class="row home-facets">
    {% with facet_type='home' %}
     {% facets as facets %}
      <div class="col-md-4">
        <p><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-5x rotate-45"></i></a></p>
        <h2><a href="{% url "layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</a></h2>
        <p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p> 
        {% if user.is_authenticated %}
        <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">{% trans "Add layers" %} &raquo;</a></p>
        {% else %}
        <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">{% trans "Explore layers" %} &raquo;</a></p>        
        {% endif %}
      </div>
      <div class="col-md-4">
        <p><a href="{% url "maps_browse" %}"><i class="fa fa-map-marker fa-5x"></i></a></p>
        <h2><a href="{% url "maps_browse" %}">{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Map{% plural %}Maps{% endblocktrans %}</a></h2>
        <p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be shared publicly or restricted to specific users only." %}</p>
        {% if user.is_authenticated %}
        <p><a class="btn btn-default" href="{% url "new_map" %}" role="button">{% trans "Create maps" %} &raquo;</a></p>
        {% else %}
        <p><a class="btn btn-default" href="{% url "maps_browse" %}" role="button">{% trans "Explore maps" %} &raquo;</a></p>
        {% endif %}
      </div>
      <div class="col-md-4">
        <p><a href="{% url "profile_browse" %}"><i class="fa fa-user fa-5x"></i></a></p>
        <h2><a href="{% url "profile_browse" %}">{{ facets.user|default:_("No") }} {% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</a></h2>
        <p>{% trans "GeoNode allows registered users to easily upload geospatial data in several formats including shapefile and GeoTiff." %}</p>
        <p><a class="btn btn-default" href="{% url "profile_browse" %}" role="button">{% trans "See users" %} &raquo;</a></p>
      </div>
    {% endwith %}
    </div>
  </div> --> 
  
  {% endblock %}
  
{% endblock %}

{% block extra_script %}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
  <script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}';
    LATESTDOCS_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='lastestdocument' %}';
    LATESTFLOOD_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='documents' %}?category__identifier__in=fl-01&category__identifier__in=fl-02&limit=6&offset=0&order_by=-date';
    'use strict';
    (function(){  
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data;
        });
        $http.get(LATESTDOCS_URL).success(function(data){
          $rootScope.latestdocs = data;
        });
        $http.get(LATESTFLOOD_URL).success(function(data){
          $rootScope.latestflood = data;
        });
      });
    })(); 
  </script>

{% endblock extra_script %}
