{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} {% trans "Afghanistan Spatial Data Center" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
   {{ block.super }}
  {% block hero %}
  <div id="myCarousel" class="carousel slide container" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <!-- <img src="{{ STATIC_URL }}lib/foto/drought.jpg" alt="Flood Cover, Credit for Google Crisis"> -->
          <div class="container">
            <div class="carousel-caption">
              <h1>{% trans "Static Maps" %}</h1>
              <p>{% trans "Browse the static maps, adjust the filter to easily find the static maps" %}</p>
              <p><a class="btn btn-xs btn-warning" href="{% url "document_browse" %}" role="button">{% trans "Browse Static maps" %}</a></p>
              <p class="image-credit">{% trans "Photo credit to Bob McKerrow : Teshkan Valley, Badakhshan" %}</p>
            </div>
          </div>
        </div>
        <div class="item">
          <!-- <img src="{{ STATIC_URL }}lib/foto/cyclone1.jpg" alt="Cyclone, Credit for NOAA"> -->
          <div class="container">
            <div class="carousel-caption">
              <h1>{% trans "Interactive Maps" %}</h1>
              <p>{% trans "Explore map on the interactive mode, style and export to pdf functionality enabled" %}</p>
              <p><a class="btn btn-xs btn-warning" href="{% url "maps_browse" %}" role="button">{% trans "Browse Interactive Maps" %}</a></p>
              <p class="image-credit">{% trans "Photo credit to Bob McKerrow : Teshkan Valley, Badakhshan" %}</p>
            </div>
          </div>
        </div>
        <div class="item">
          <!-- <img src="{{ STATIC_URL }}lib/foto/drought.jpg" alt="Drought, Credit for telegraph.co.uk"> -->
          <div class="container">
            <div class="carousel-caption">
              <h1>{% trans "Analysis tools" %}</h1>
              <p>{% trans "Populate analysis figure and export map pdf using geoexplorer" %}</p>
              <p><a class="btn btn-xs btn-warning" href="{% url "maps_browse" %}656/view" role="button">{% trans "Open DRR Interactive Map" %}</a></p>
              <p class="image-credit">{% trans "Photo credit to Bob McKerrow : Teshkan Valley, Badakhshan" %}</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">{% trans "Previous" %}</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">{% trans "Next" %}</span>
      </a>
    </div>
  {% endblock %}

  {% block mainbody %}

  <section class="social">
    <div class="container forceCenter">
      <!-- <div class="row"> -->
        <!-- <div class="span8"> -->
          <!-- <div class="row"> -->
          {% with facet_type='home' %}
          {% facets as facets %}
            <ul class="breadcrumb">
              <li><a href="#"><span class="count badge warning">
                {{ facets.layer|default:_("0") }}
              </span>{% trans "Layers" %}&nbsp;
              </a></li>
              <li><a href="{% url "maps_browse" %}"><span class="count badge">
                {{ facets.map|default:_("0") }}
              </span>{% trans "Interactive Maps" %} &nbsp;
              </a></li>
              <li><a href="{% url "document_browse" %}"><span class="count badge">
                {{ facets.document|default:_("0") }}
              </span>{% trans "Static Maps" %} &nbsp;
              </a></li>
              <li><a href="{% url "profile_browse" %}"><span class="count badge">
                {{ facets.user|default:_("0") }}
              </span>{% trans "User" %} &nbsp;
              </a></li>
              <li><a href="#"></a></li>
            </ul>
            <!-- <div class="span2"><p><a href="{% url "layer_browse" %}"><span class="count">
                {{ facets.layer|default:_("0") }}
              </span>{% trans "Layers" %}
              </a></p>
            </div>
            <div class="span2"><p><a href="{% url "maps_browse" %}"><span class="count">
                {{ facets.map|default:_("0") }}
              </span>{% trans "Interactive Maps" %}
              </a></p>
            </div>
            <div class="span2"><p><a href="{% url "document_browse" %}"><span class="count">
                {{ facets.document|default:_("0") }}
              </span>{% trans "Static Maps" %}
              </a></p>
            </div>
            <div class="span2"><p><a href="{% url "profile_browse" %}"><span class="count">
                {{ facets.user|default:_("0") }}
              </span>{% trans "Users" %}
              </a></p>
            </div> -->
          {% endwith %}
          <!-- </div>  -->
        <!-- </div>  -->
      <!-- </div> -->
    </div>
  </section>
 <div ng-app="featured">

  <div class="container container-down10px">

    <div  class="col-xs-4 panel-custom">
      <div class="panel panel-primary">
        <div class="panel-heading">

          <h3 class="panel-title">{% trans "Current Flood Forecast" %}</h3>
          <h5 class="panel-subtitle"><h5>
        </div>
        <div class="panel-body">
          <section class="featured-maps">
            <div class="row">

                <div>
                  <div class="span3">
                    <div  class="map-thumb-snapshot thumbnail">
                      <a href="./maps/700/view" class="map-link">
                        <img style="width: 361px;height:224px;" id="floodSnapshot" src="{{ STATIC_URL }}lib/img/hex-loader2.gif" />
                        <img style="width: 50px;" class="snapshot-legend" src="../getOverviewMaps/getWMS?request=GetLegendGraphic&width=20&height=20&layer=geonode:current_flood_forecasted_villages_basin&transparent=true&format=image%2Fpng&legend_options=dpi:180;fontAntiAliasing%3Atrue%3BfontSize%3A11%3BfontName%3AArial&SCALE=4367821.451455975" />
                      </a>
                      <div class="map-abstract">
                        <p class="cust_date"><a href="./maps/700/view"><strong>{% trans "Flood" %}</strong><em class="timestamp"></em></a></p>
                        <p class="cust_headline"><a href="./maps/700/view">{% trans "River and flash flood forecast" %}</a></p>
                        <p class="cust_tag"><a href="./maps/700/view">{% trans "Click to explore for the forecast on river floods and flash floods. River flood forecasts are valid for 4 days and updated every 6 hours, whereas the flash floods are valid for 6 hours and updated hourly." %}
{% trans "The map and statistics are is updated every 6 hours." %}</a></p>
                      </div>


                    </div>
                </div>
              </div>

            </div>

          </section>
        </div>
      </div>
    </div>

    <div  class="col-xs-4 panel-custom">
      <div class="panel panel-primary">
        <div class="panel-heading">

          <h3 class="panel-title">{% trans "Current Avalanche" %}</h3>
          <h5 class="panel-subtitle"><h5>
        </div>
        <div class="panel-body">
          <section class="featured-maps">
            <div class="row">

                <div>
                  <div class="span3">
                    <div class="map-thumb-snapshot thumbnail">
                      <a href="./maps/707/view" class="map-link">
                        <img style="width: 361px;height:224px;" id="avaSnapshot" src="{{ STATIC_URL }}lib/img/hex-loader2.gif" />
                        <img style="width: 50px;" class="snapshot-legend" src="../getOverviewMaps/getWMS?request=GetLegendGraphic&width=20&height=20&layer=geonode:current_avalanche_forecast_villages&transparent=true&format=image%2Fpng&legend_options=dpi:180;fontAntiAliasing%3Atrue%3BfontSize%3A11%3BfontName%3AArial&SCALE=4367821.451455975" />
                      </a>
                      <div class="map-abstract">
                        <p class="cust_date"><a href="./maps/707/view"><strong>{% trans "Avalanches" %}</strong><em class="timestamp"></em></a></p>
                        <p class="cust_headline"><a href="./maps/707/view">{% trans "Avalanches forecast" %}</a></p>
                        <p class="cust_tag"><a href="./maps/707/view">{% trans "Click to explore for the number of people potentially affected by avalanches based on the current snow cover and snow water equivalent (at small basin scale)" %}</a></p>
                      </div>
                    </div>
                </div>
              </div>

            </div>

          </section>
        </div>
      </div>
    </div>

    <div  class="col-xs-4 panel-custom">
      <div class="panel panel-primary">
        <div class="panel-heading">

          <h3 class="panel-title">{% trans "Current Snow Cover" %}</h3>
          <h5 class="panel-subtitle"><h5>
        </div>
        <div class="panel-body">
          <section class="featured-maps">
            <div class="row">

                <div>
                  <div class="span3">
                    <div class="map-thumb-snapshot thumbnail">
                      <a href="./maps/704/view" class="map-link">
                        <img style="width: 361px;height:224px;" id="scSnapshot" src="{{ STATIC_URL }}lib/img/hex-loader2.gif" />
                        <img style="width: 125px;" class="snapshot-legend" src="../getOverviewMaps/getWMS?request=GetLegendGraphic&width=20&height=20&layer=geonode:current_snow_depth&transparent=true&format=image%2Fpng&legend_options=dpi:180;fontAntiAliasing%3Atrue%3BfontSize%3A11%3BfontName%3AArial&SCALE=4367821.451455975" />
                      </a>
                      <div class="map-abstract">
                        <p class="cust_date"><a href="./maps/704/view"><strong>{% trans "Snow Cover" %}</strong><em class="timestamp"></em></a></p>
                        <p class="cust_headline"><a href="./maps/704/view">{% trans "Current Snow Cover and Depth" %}</a></p>
                        <p class="cust_tag"><a href="./maps/704/view">{% trans "Click to explore for the current snow cover and depth" %}</a></p>
                      </div>
                    </div>
                </div>
              </div>

            </div>

          </section>
        </div>
      </div>
    </div>


    <div class="col-xs-5 panel-custom">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "Latest Static Maps" %}</h3>
          <h5 class="panel-subtitle"><a href="{% url "document_browse" %}">{% trans "See all, total" %} {% verbatim %}{{ latestdocs.meta.total_count }}{% endverbatim %} {% trans "maps" %}</a><h5>
        </div>
        <div class="panel-body">
          <section class="featured-maps">
            <div class="row">

      <!--         <div ng-app="featured"> -->
		{% verbatim %}
                <div ng-repeat="item in latestdocs.objects">
                  <div class="span3">
                    <div class="map-thumb thumbnail">
                      <a href="{{ item.detail_url }}" class="map-link">
                        <img src="{{ item.thumbnail_url }}" />
                      </a>
                      <div class="map-abstract">
                        <p class="cust_date"><a href="{{ item.detail_url }}">{% endverbatim %}{% trans "from" %}{% verbatim %} <strong>{{ item.owner__username }}</strong>, <em class="timestamp">{{ item.date|date:"d MMM y" }}</em></a></p>
                        <p class="cust_headline"><a href="{{ item.detail_url }}">{{ item.title }}</a></p>
                        <p class="cust_tag"><a href="{{ item.detail_url }}">{{ item.abstract }}</a></p>
                      </div>
                      <div class="map-title"><a href="{{ item.detail_url }}" class="map-link">{{ item.title }}</a></div>
                      <div class="views pull-right"><i class="icon-eye-open"></i>{{ item.popular_count }}</div>
                    </div>
                </div>
              </div>
	{% endverbatim %}
            <!-- </div> -->
          </section>
        </div>
      </div>
    </div>



    <div class="col-xs-7 panel-custom">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "Latest Flood Maps" %}</h3>
          <h5 class="panel-subtitle"><a href="{% url "document_browse" %}?category__identifier__in=fl-01&category__identifier__in=fl-02&order_by=-date">{% trans "See all, total" %} {% verbatim %}{{ latestflood.meta.total_count }}{% endverbatim %} {% trans "maps" %}</a><h5>
        </div>
        <div class="panel-body">
          <section class="featured-maps">
            <div class="row">
		{% verbatim %}
                <div ng-repeat="item in latestflood.objects">
                  <div class="span3">
                    <div class="map-thumb thumbnail">
                      <a href="{{ item.detail_url }}" class="map-link">
                        <img src="{{ item.thumbnail_url }}" />
                      </a>
                      <div class="map-abstract">
                        <p class="cust_date"><a href="{{ item.detail_url }}">{% endverbatim %}{% trans "from" %}{% verbatim %} <strong>{{ item.owner__username }}</strong>, <em class="timestamp">{{ item.date|date:"d MMM y" }}</em></a></p>
                        <p class="cust_headline"><a href="{{ item.detail_url }}">{{ item.title }}</a></p>
                        <p class="cust_tag"><a href="{{ item.detail_url }}">{{ item.abstract }}</a></p>
                      </div>
                      <div class="map-title"><a href="{{ item.detail_url }}" class="map-link">{{ item.title }}</a></div>
                      <div class="views pull-right"><i class="icon-eye-open"></i>{{ item.popular_count }}</div>
                    </div>
                </div>
              </div>
		{% endverbatim %}
            <!-- </div> -->
          </section>
        </div>
      </div>
    </div>






    <!-- <div ng-if="featured.meta.total_count > 0" class="col-xs-12 panel-custom">
      <div class="panel panel-primary">
        <div class="panel-heading">
          {% verbatim %}
          <h3 class="panel-title">{% trans "Featured Maps" %}</h3>
          <h5 class="panel-subtitle">Total {{ featured.meta.total_count }}{% trans " Maps" %}<h5>
        </div>
        <div class="panel-body">
          <section class="featured-maps">
            <div class="row">

                <div ng-repeat="item in featured.objects">
                  <div class="span3">
                    <div class="map-thumb thumbnail">
                      <a href="{{ item.detail_url }}" class="map-link">
                        <img src="{{ item.thumbnail_url }}" />
                      </a>
                      <div class="map-abstract">
                        <p class="cust_date"><a href="{{ item.detail_url }}">{% endverbatim %}{% trans "from" %}{% verbatim %} <strong>{{ item.owner__username }}</strong>, <em class="timestamp">{{ item.date|date:"d MMM y" }}</em></a></p>
                        <p class="cust_headline"><a href="{{ item.detail_url }}">{{ item.title }}</a></p>
                        <p class="cust_tag"><a href="{{ item.detail_url }}">{{ item.abstract }}</a></p>
                      </div>
                      <div class="map-title"><a href="{{ item.detail_url }}" class="map-link">{{ item.title }}</a></div>
                      <div class="views pull-right"><i class="icon-eye-open"></i>{{ item.popular_count }}</div>
                    </div>
                </div>
              </div>

            </div>
            {% endverbatim %}
          </section>
        </div>
      </div>
    </div> -->

  </div>




  <div class="container">

    <div class="col-xs-12 panel-custom">
      <div class="panel panel-primary">
        <div class="panel-heading" style="height: 30px;">
          <h3 class="panel-title">{% trans "Documentation and Video" %}</h3>
        </div>
        <div class="panel-body">
            <video id="myPlayerID"
              data-account="3676484087001"
              data-player="04ac0699-ca6b-449b-a2b6-0f14b4a7893b"
              data-embed="default"
              class="video-js" controls
              data-setup='{"example_option":true}'></video>

            <ol class="vjs-playlist"></ol>
                      <!-- <div  class="col-xs-3 panel-video">
                        <video id="my-video1" poster="http://asdc.immap.org/static/lib/video/statistic_tool.jpg" class="video-js vjs-default-skin" width="400" height="250" controls preload="none" data-setup='{ "aspectRatio":"415:250", "playbackRates": [1, 1.5, 2] }'>
                          <source src="http://asdc.immap.org/static/lib/video/ASDC - Segment 1- Statistics Tool.mp4" type='video/mp4'>
                          <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                          </p>
                        </video>
                      </div>
                      <div  class="col-xs-3 panel-video">
                        <video id="my-video2" poster="http://asdc.immap.org/static/lib/video/settlement_inspector.jpg" class="video-js vjs-default-skin" width="400" height="250" controls preload="none" data-setup='{ "aspectRatio":"400:250", "playbackRates": [1, 1.5, 2] }'>
                          <source src="http://asdc.immap.org/static/lib/video/ASDC - Segment 2- Settlement Inspector.mp4" type='video/mp4'>
                          <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                          </p>
                        </video>
                      </div>
                      <div  class="col-xs-3 panel-video">
                        <video id="my-video2" poster="http://asdc.immap.org/static/lib/video/finder_tool.jpg" class="video-js vjs-default-skin" width="400" height="250" controls preload="none" data-setup='{ "aspectRatio":"400:250", "playbackRates": [1, 1.5, 2] }'>
                          <source src="http://asdc.immap.org/static/lib/video/ASDC - Segment 3- Finder Tool.mp4" type='video/mp4'>
                          <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                          </p>
                        </video>
                      </div>
                      <div  class="col-xs-3 panel-video">
                        <video id="my-video2" poster="http://asdc.immap.org/static/lib/video/static_maps.jpg" class="video-js vjs-default-skin" width="400" height="250" controls preload="none" data-setup='{ "aspectRatio":"400:250", "playbackRates": [1, 1.5, 2] }'>
                          <source src="http://asdc.immap.org/static/lib/video/ASDC - Segment 4- Static Maps.mp4" type='video/mp4'>
                          <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                          </p>
                        </video>
                      </div>
                      <div  class="col-xs-3 panel-video">
                        <video id="my-video2" poster="http://asdc.immap.org/static/lib/video/earthquake.jpg" class="video-js vjs-default-skin" width="400" height="250" controls preload="none" data-setup='{ "aspectRatio":"400:250", "playbackRates": [1, 1.5, 2] }'>
                          <source src="http://asdc.immap.org/static/lib/video/ASDC - Segment 5- Earthquakes.mp4" type='video/mp4'>
                          <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                          </p>
                        </video>
                      </div>
                      <div  class="col-xs-3 panel-video">
                        <video id="my-video2" poster="http://asdc.immap.org/static/lib/video/dashboard.jpg" class="video-js vjs-default-skin" width="400" height="250" controls preload="none" data-setup='{ "aspectRatio":"400:250", "playbackRates": [1, 1.5, 2] }'>
                          <source src="http://asdc.immap.org/static/lib/video/ASDC - Segment 6- Dashboard.mp4" type='video/mp4'>
                          <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                          </p>
                        </video>
                      </div>
                      <div  class="col-xs-3 panel-video">
                        <video id="my-video2" poster="http://asdc.immap.org/static/lib/video/printing.jpg" class="video-js vjs-default-skin" width="400" height="250" controls preload="none" data-setup='{ "aspectRatio":"400:250", "playbackRates": [1, 1.5, 2] }'>
                          <source src="http://asdc.immap.org/static/lib/video/ASDC - Segment 7- Printing.mp4" type='video/mp4'>
                          <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                          </p>
                        </video>
                      </div>   -->
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="container">
    <div class="row home-facets">
    {% with facet_type='home' %}
     {% facets as facets %}
      <div class="col-md-4">
        <p><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-5x rotate-45"></i></a></p>
        <h2><a href="{% url "layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</a></h2>
        <p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p>
        {% if user.is_authenticated %}
        <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">{% trans "Add layers" %} &raquo;</a></p>
        {% else %}
        <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">{% trans "Explore layers" %} &raquo;</a></p>
        {% endif %}
      </div>
      <div class="col-md-4">
        <p><a href="{% url "maps_browse" %}"><i class="fa fa-map-marker fa-5x"></i></a></p>
        <h2><a href="{% url "maps_browse" %}">{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Map{% plural %}Maps{% endblocktrans %}</a></h2>
        <p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be shared publicly or restricted to specific users only." %}</p>
        {% if user.is_authenticated %}
        <p><a class="btn btn-default" href="{% url "new_map" %}" role="button">{% trans "Create maps" %} &raquo;</a></p>
        {% else %}
        <p><a class="btn btn-default" href="{% url "maps_browse" %}" role="button">{% trans "Explore maps" %} &raquo;</a></p>
        {% endif %}
      </div>
      <div class="col-md-4">
        <p><a href="{% url "profile_browse" %}"><i class="fa fa-user fa-5x"></i></a></p>
        <h2><a href="{% url "profile_browse" %}">{{ facets.user|default:_("No") }} {% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</a></h2>
        <p>{% trans "GeoNode allows registered users to easily upload geospatial data in several formats including shapefile and GeoTiff." %}</p>
        <p><a class="btn btn-default" href="{% url "profile_browse" %}" role="button">{% trans "See users" %} &raquo;</a></p>
      </div>
    {% endwith %}
    </div>
  </div> -->

  {% endblock %}

{% endblock %}

{% block extra_script %}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
<!-- <script src="http://vjs.zencdn.net/5.8.8/video.js"></script> -->
<script src="{{ STATIC_URL }}lib/js/video-ntah.js"></script>
<!-- <script src="//players.brightcove.net/3676484087001/04ac0699-ca6b-449b-a2b6-0f14b4a7893b_default/index.min.js"></script>
 -->
  <script type="text/javascript">
    videojs('myPlayerID').ready(function () {
      var myPlayer = this;
      myPlayer.playlist([{
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 1- Statistics Tool.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 1: English Version" %}",
        "description": "{% trans "Statistics Tool" %}",
        "thumbnail": "http://asdc.immap.org/static/lib/video/statistic_tool.jpg",
        "poster": "http://asdc.immap.org/static/lib/video/statistic_tool.jpg"
      }, {
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 2- Settlement Inspector.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 2: English Version" %}",
        "description": "{% trans "Settlement Inspector" %}",
        "thumbnail": "http://asdc.immap.org/static/lib/video/settlement_inspector.jpg",
        "poster": "http://asdc.immap.org/static/lib/video/settlement_inspector.jpg"
      }, {
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 3- Finder Tool.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 3: English Version" %}",
        "description": "{% trans "Finder Tool" %}",
        "thumbnail": "http://asdc.immap.org/static/lib/video/finder_tool.jpg",
        "poster": "http://asdc.immap.org/static/lib/video/finder_tool.jpg"
      }, {
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 4- Static Maps.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 4: English Version" %}",
        "description": "{% trans "Static Maps" %}",
        "thumbnail": "http://asdc.immap.org/static/lib/video/static_maps.jpg",
        "poster": "http://asdc.immap.org/static/lib/video/static_maps.jpg"
      }, {
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 5- Earthquakes.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 5: English Version" %}",
        "description": "{% trans "Earthquakes" %}",
        "thumbnail": "http://asdc.immap.org/static/lib/video/earthquake.jpg",
        "poster": "http://asdc.immap.org/static/lib/video/earthquake.jpg"
      }, {
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 6- Dashboard.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 6: English Version" %}",
        "description": "{% trans "Dashboard" %}",
        "thumbnail": "http://asdc.immap.org/static/lib/video/dashboard.jpg",
        "poster": "http://asdc.immap.org/static/lib/video/dashboard.jpg"
      }, {
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 7- Printing.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 7: English Version" %}",
        "description": "{% trans "Printing" %}",
        "thumbnail": "http://asdc.immap.org/static/lib/video/printing.jpg",
        "poster": "http://asdc.immap.org/static/lib/video/printing.jpg"
      }, {
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 8- Security Overview.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 8: English Version" %}",
        "description": "{% trans "Security Overview" %}",
        // "thumbnail": "http://asdc.immap.org/static/lib/video/printing.jpg",
        // "poster": "http://asdc.immap.org/static/lib/video/printing.jpg"
      }, {
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 9- GSM Coverage.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 9: English Version" %}",
        "description": "{% trans "GSM Coverage" %}",
        // "thumbnail": "http://asdc.immap.org/static/lib/video/printing.jpg",
        // "poster": "http://asdc.immap.org/static/lib/video/printing.jpg"
      }, {
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 10- Earthquake Hazard Risk.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 10: English Version" %}",
        "description": "{% trans "Earthquake Hazard Risk" %}",
        // "thumbnail": "http://asdc.immap.org/static/lib/video/printing.jpg",
        // "poster": "http://asdc.immap.org/static/lib/video/printing.jpg"
      }, {
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 11- General Information - Certification.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 11: English Version" %}",
        "description": "{% trans "General Information - Certification" %}",
        // "thumbnail": "http://asdc.immap.org/static/lib/video/printing.jpg",
        // "poster": "http://asdc.immap.org/static/lib/video/printing.jpg"
      }


      ,{
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 1- Statistics Tool - Dari.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 1: Dari Version" %}",
        "description": "{% trans "Statistics Tool" %}",
        "thumbnail": "http://asdc.immap.org/static/lib/video/statistic_tool.jpg",
        "poster": "http://asdc.immap.org/static/lib/video/statistic_tool.jpg"
      }, {
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 2- Settlement Inspector - Dari.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 2: Dari Version" %}",
        "description": "{% trans "Settlement Inspector" %}",
        "thumbnail": "http://asdc.immap.org/static/lib/video/settlement_inspector.jpg",
        "poster": "http://asdc.immap.org/static/lib/video/settlement_inspector.jpg"
      }, {
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 3- Finder Tool - Dari.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 3: Dari Version" %}",
        "description": "{% trans "Finder Tool" %}",
        "thumbnail": "http://asdc.immap.org/static/lib/video/finder_tool.jpg",
        "poster": "http://asdc.immap.org/static/lib/video/finder_tool.jpg"
      }, {
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 4- Static Maps - Dari.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 4: Dari Version" %}",
        "description": "{% trans "Static Maps" %}",
        "thumbnail": "http://asdc.immap.org/static/lib/video/static_maps.jpg",
        "poster": "http://asdc.immap.org/static/lib/video/static_maps.jpg"
      }, {
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 5- Earthquakes - Dari.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 5: Dari Version" %}",
        "description": "{% trans "Earthquakes" %}",
        "thumbnail": "http://asdc.immap.org/static/lib/video/earthquake.jpg",
        "poster": "http://asdc.immap.org/static/lib/video/earthquake.jpg"
      }, {
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 6- Dashboard - Dari.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 6: Dari Version" %}",
        "description": "{% trans "Dashboard" %}",
        "thumbnail": "http://asdc.immap.org/static/lib/video/dashboard.jpg",
        "poster": "http://asdc.immap.org/static/lib/video/dashboard.jpg"
      }, {
        "sources": [{
          "src": "http://asdc.immap.org/static/lib/video/ASDC - Segment 7- Printing - Dari.mp4", "type": "video/mp4"
        }],
        "name": "{% trans "Segment 7: Dari Version" %}",
        "description": "{% trans "Printing" %}",
        "thumbnail": "http://asdc.immap.org/static/lib/video/printing.jpg",
        "poster": "http://asdc.immap.org/static/lib/video/printing.jpg"
      }]);
    });
  </script>
  <script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}';
    LATESTDOCS_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='lastestdocument' %}?category__identifier__in=agr-01,agr-02,agr-03,av-01,av-02,bnd-01,bnd-02,bnd-03,bnd-04,bnd-int,dr-01,dr-02,edu-01,edu-02,eq-01,erm-01,erm-02,erm-03,erm-04,erm-05,erm-06,erm-07,erm-08,geo-01,geo-02,geo-03,geo-04,geo-05,geo-06,geo-07,geo-08,geo-09,geo-10,hlt-01,hlt-02,hlt-03,hlt-04,hydro-01,hydro-02,hydro-03,hydro-04,hz-01,hz-03,idp-01,idp-02,idp-03,idp-04,img-01,img-02,infr-01,infr-02,infr-03,infr-04,infr-05,infr-06,met-01,met-02,met-03,met-04,met-05,met-06,ot-01,ot-02,ppl-01,ppl-02,ppl-03,sec-01,sec-02,sos-01,sos-02,sos-03,sos-04&limit=6&offset=0&order_by=-date';
    LATESTFLOOD_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='documents' %}?category__identifier__in=fl-01,fl-02,fl-03&limit=6&offset=0&order_by=-date';
    'use strict';
    (function(){
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data;
        });
        $http.get(LATESTDOCS_URL).success(function(data){
          $rootScope.latestdocs = data;
        });
        $http.get(LATESTFLOOD_URL).success(function(data){
          $rootScope.latestflood = data;
        });
      });
      var random = Math.floor((Math.random() * 1000) + 1);

      $( "#floodSnapshot" ).attr("src", '../getOverviewMaps/getWMS?service=WMS&version=1.1.0&request=GetMap&layers=geonode:current_flood_forecasted_villages_basin,afg_admbnda_adm1,geonode:current_flood_forecasted_villages_basin&styles=,snapshot_admin1,current_flood_forecasted_villages_basin_a18d81bc&bbox=60.4720890240001,29.3771715570001,74.889451148,38.4907374680001&width=768&height=485&srs=EPSG:4326&format=image%2Fpng&_rdm='+random);
      $( "#avaSnapshot" ).attr("src", '../getOverviewMaps/getWMS?service=WMS&version=1.1.0&request=GetMap&layers=geonode:current_avalanche_forecast_villages,afg_admbnda_adm1&styles=,snapshot_admin1&bbox=60.4720890240001,29.3771715570001,74.889451148,38.4907374680001&width=768&height=485&srs=EPSG:4326&format=image%2Fpng&_rdm='+random);
      $( "#scSnapshot" ).attr("src", '../getOverviewMaps/getWMS?service=WMS&version=1.1.0&request=GetMap&layers=geonode:current_snow_depth,afg_admbnda_adm1&styles=,snapshot_admin1&bbox=60.4720890240001,29.3771715570001,74.889451148,38.4907374680001&width=768&height=485&srs=EPSG:4326&format=image%2Fpng&_rdm='+random);

    })();
  </script>

{% endblock extra_script %}
