{% extends 'v2/site_base.html' %}
{% load activity_tags social_tags i18n %}

{% block extra_head %}
{{ block.super }}{% endblock %}

{% block title %}{% ifequal request.user actor %}{% trans "My Activity feed" %}{% else %}{{ actor }}'s {% trans "Activity Feed" %}{% endifequal %}{% endblock %}
{% block content_title %}{% ifequal request.user actor %}{%  trans "My Activity feed" %}{% else %}{{ actor }}'s {% trans "Activity Feed" %}{% endifequal %}{% endblock %}

{% comment %}
{% block navlinks %}
<li><a href="{% url "actstream_object_feed" content_type_id=ctype.pk  object_id=actor.pk %}">RSS</a></li>
<li><a href="{% url "actstream_object_feed_atom" content_type_id=ctype.pk  object_id=actor.pk %}">ATOM</a></li>
{% endblock %}
{% endcomment %}

{% block body_outer %}
    <!-- Title -->
    <section class="title">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>{%  trans "Activity Feed for"  %} {{ actor }}</h1>
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumb pull-right">
                        <li class="active">{% trans "My Activity" %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="min-height-empty">
        <div class="container">
            <div>
                <ul class="no-style-list">
                    {% for action in action_list %}
                    {% activity_item action %}
                    {% empty %}
                    <p>{% trans "No actions yet" %}</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}