{% extends "v2/layer_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}

{% block title %}{{ resource.title|default:resource.typename }} — {{ block.super }}{% endblock %}

{% block head %}
{% if preview == 'geoext' %}
  {% include "v2/layer_geoext_map.html" %}
{% else %}
  {% include "v2/layer_leaflet_map.html" %}
{% endif %}
{{ block.super }}
{% endblock %}


{% block body_class %}layers{% endblock %}

{% block body_outer %}

  <div class="container">
    <div class="row">
      <div class="container-fill" style="">
        <div>
          <ul class="breadcrumb breadcrumb-info">
              <li><a href="{% url 'v2:layer_browse' %}">{% trans "Layers" %}</a></li>
              <li class="active">{{ resource.title }}</li> 
          </ul>
        </div>
        <div class="col-md-12">
          <div class="" style="margin: 0 -15px 15px; padding: 15px 15px 0px; background-color: #fff;">
            <h3>{{ resource.title|default:resource.typename }}</h3>
            <div class="product-title-block">
                {% overall_rating resource "layer" as layer_rating %}
                <div class="overall_rating" style="float:left" data-score="{{ layer_rating }}"></div>
              <!-- <div class="rating" style="display: inline-block; margin-right:10px;">
                <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
                <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
                <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
                <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
                <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
                <span>from 1 user</span>
              </div> -->
              <div class="owner" style="display: inline-block;">
                {% include "v2/_resourcebase_contact_snippet.html" %}
                <!-- <a href="#" class="user-profile">
                  <img src="/static/v2/images/user.png" alt="">Admin
                </a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div style="margin: 0 -15px 20px; background-color: #fff;">
            <div id="embedded_map" class="mrg-btm">
              <div id="preview_map"></div>
            </div>
          </div>
          <div class="product-info-panel" style="margin: 0 -15px;">
            {% include "v2/_actions.html" %}
            <div class="tab-content" style="background-color: #fff; border-top: 4px solid #a72b1f;">
              {% include "v2/resourcebase_info_panel.html" %}
              <div id="attribute" class="tab-pane fade">
                  {% if resource.attribute_set.all %}
                  <table class="table table-bordered table-condensed table-striped">
                    <thead>
                      <tr>
                        <th>{% trans "Attribute Name" %}</th>
                        <th>{% trans "Label" %}</th>
                        <th>{% trans "Description" %}</th>
                        {% if wps_enabled %}
                          <th>{% trans "Range" %}</th>
                          <th>{% trans "Average" %}</th>
                          <th>{% trans "Median" %}</th>
                          <th>{% trans "Standard Deviation" %}</th>
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for attribute in resource.attributes %}
                        <tr>
                          <td {% if attribute.attribute_label and attribute.attribute_label != attribute.attribute %}title="{{ attribute.attribute }}"{% endif %}>{{ attribute }}</td>
                          <td>{{ attribute.attribute_label }}</td>
                          <td>{{ attribute.description }}</td>
                          {% if wps_enabled %}
                            {% if attribute.unique_values == "NA" %}
                            <td>{{ attribute.unique_values }}</td>
                            {% else %}
                            <td>
                              <select name="unique_values">
                              {% for value in attribute.unique_values_as_list %}
                                <option value="{{ value }}">{{ value }}</option>
                              {% endfor %}
                              </select>
                            </td>
                            {% endif %}
                            <td>{{ attribute.average|floatformat:"2" }}</td>
                            <td>{{ attribute.median|floatformat:"2" }}</td>
                            <td>{{ attribute.stddev|floatformat:"2" }}</td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% endif %}
              </div>
              <div id="rate" class="tab-pane fade">
                  <table class="table">
                      {% if request.user.is_authenticated %}
                      <tr>
                          <td><h4>{% trans "Rate this Layer" %}</h4></td>
                          {% user_rating request.user resource "layer" as user_layer_rating %}
                          <td><div id="user_rating" class="category-layer" data-score="{{ user_layer_rating }}"></div></td>
                      </tr>
                      {% endif %}
                      <tr>
                          <td><h4>{% trans 'Average Rating' %}</h4></td>
                          {% overall_rating resource "layer" as layer_rating %}
                          {% num_ratings resource as num_votes %}
                          <td><div class="overall_rating" data-score="{{ layer_rating }}"></div>{% trans 'From' %} {{num_votes}} {% trans 'votes' %}</td>
                      </tr>
                  </table>
              </div>
              {% with resource as obj %}
                {% include "v2/_comments.html" %}
              {% endwith %}
            </div>
          </div>
        </div>
        <div class="col-md-4"> 
            <div class="product-details-side" style="margin-right: -15px;">
              <div class="product-info" style="padding: 0;">
                <div class="product-map-editor">
                  <ul class="nav nav-tabs" style="text-align: center; background-color: #f5f5f5;">
                      {% if resource.get_legend %}
                      <li class="active"><a data-toggle="tab" href="#legend">{% trans "Legend" %}</a></li>
                      {% endif %}
                      {% if user.is_authenticated %}
                      <li><a data-toggle="tab" href="#style">{% trans "Styles" %}</a></li>
                      {% endif %}
                      <li><a data-toggle="tab" href="#rel_maps">{% trans "Related Maps" %}</a></li>
                      {% if documents.count > 0 %}
                      <li><a data-toggle="tab" href="#rel_docs">{% trans "Related Documents" %}</a></li>
                      {% endif %}
                  </ul>
                  <div class="tab-content" style="height: 250px; padding: 10px 15px; background-color: #fff; overflow-y: auto; border-top: 4px solid #a72b1f;">
                    <div id="legend" class="tab-pane fade in active" style="margin-top: 15px;">
                      <p>{{ style.sld_title }}</p>
                      {% if resource.get_legend.link_type == 'image' %}
                      <p><img id="legend_icon" src="{{ resource.get_legend.url }}"></p>
                      {% else %}
                      <div id='legend_placeholder'></div>
                      {% endif %}
                    </div>
                    <div id="style" class="tab-pane fade">
                      <p>{% trans "The following styles are associated with this layer. Choose a style to view it in the preview map." %}</p>
                      <ul class="list-unstyled">
                        {% for style in resource.styles.all %}
                        <li>
                          {% if resource.default_style == style %}
                          <input type="radio" checked name="style" id="{{ style.name }}" value="{{ style.title }}"/>{% trans "(default style)" %}
                          {% else %}
                          <input type="radio" name="style" id="{{ style.name }}" value="{{ style.title }}"/>
                          {% endif %}
                          <a href="{{ GEOSERVER_BASE_URL }}styles/{{ style.name }}.sld" >{{ style.sld_title }}</a>
                          {% empty %}
                          <p>{% trans "No styles associated with this layer" %}</p>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div id="rel_maps" class="tab-pane fade">
                      <p>{% trans "List of maps using this layer:" %}</p>
                      <ul class="list-unstyled">
                        {% for maplayer in resource.maps %}
                        <li><a href="{{ maplayer.map.get_absolute_url }}">{{ maplayer.map.title }}</a></li>
                          {% empty %}
                        <li>{% trans "This layer currently is not used in any maps." %}</li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div id="rel_docs" class="tab-pane fade">
                      <p>{% trans "List of documents related to this layer:" %}</p>
                      <ul class="list-unstyled">
                        {% for document in documents %}
                        <li><a href="{{ document.get_absolute_url }}">{{ document.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-btn"> 
                <div class="product-btn-group"> 
                  {% if resource.storeType != "remoteStore" %}
                    {% get_obj_perms request.user for resource.get_self_resource as "perms" %}
                  <!-- Need to be checked later -->
                    {% if links %}
                  <button class="btn btn-primary" data-toggle="modal" data-target="#download-layer">{% trans "Download" %}</button>
                  <div class="modal fade" id="download-layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">{% trans "Download Layer" %}</h4>
                        </div>
                        <div class="modal-body">
                          {% if links %}
                          <ul>
                            {% for link in links %}
                            <li><a href="{{ link.url }}">{% trans link.name %}</a></li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                    {% else %}
                  <!-- /Need to be checked later -->
                      {% if request.user.is_authenticated %}
                  <button class="btn btn-primary" id="request-download">{% trans "Request Download" %}</button>
                      {% endif %}
                    {% endif %}
                  {% endif %}

                  <button class="btn btn-primary" data-toggle="modal" data-target="#download-metadata">{% trans "Download Metadata" %}</button>
                  <div class="modal fade" id="download-metadata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">{% trans "Download Metadata" %}</h4>
                        </div>
                        <div class="modal-body">
                          <ul>
                            {% for link in metadata %}
                              <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                            {% endfor %}
                          <ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Need to be checked later -->
                  {% if GEOSERVER_BASE_URL %}
                    {% get_obj_perms request.user for resource.layer as "layer_perms" %}
                  {% endif %}

                  {% if "change_resourcebase_metadata" in perms or "change_resourcebase" in perms or "delete_resourcebase" in perms or "change_layer_style" in layer_perms %}
                  <button class="btn btn-primary" data-toggle="modal" data-target="#edit-layer" title="{% trans 'Edit Layer' %}"><i class="fa fa-pencil-square-o"></i></button>
                  <div class="modal fade" id="edit-layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">{% trans "Edit Layer" %}</h4>
                        </div>
                        <div class="modal-body">
                          <div class="row edit-modal">
                            {% if "change_resourcebase_metadata" in perms %}
                            <div class="col-sm-3">
                              <i class="fa fa-list-alt fa-3x"></i>
                              <h4>{% trans "Metadata" %}</h4>
                              <a class="btn btn-default btn-block btn-xs" href="{% url "layer_metadata" resource.service_typename %}">{% trans "Edit" %}</a>
                            </div>
                            {% endif %}
                            {% if GEOSERVER_BASE_URL and not resource.service %}
                              {% if "change_layer_style" in layer_perms %}
                              <div class="col-sm-3">
                                <i class="fa fa-tint fa-3x"></i>
                                <h4>{% trans "Styles" %}</h4>
                                {% if preview == 'geoext' %}
                                <a class="btn btn-default btn-block btn-xs style-edit" data-dismiss="modal" href="#">{% trans "Edit" %}</a>
                                {% endif %}
                                <a class="btn btn-default btn-block btn-xs" href="{% url "layer_style_manage" resource.service_typename %}">{% trans "Manage" %}</a>
                              </div>
                              {% endif %}
                            {% endif %}
                            {% if "change_resourcebase" in perms %}
                            <div class="col-sm-3">
                              <i class="fa fa-photo fa-3x"></i>
                              <h4>{% trans "Thumbnail" %}</h4>
                              <a class="btn btn-default btn-block btn-xs" href="#" id="set_thumbnail">{% trans "Set" %}</a>
                            </div>
                            {% endif %}
                            {% if "change_resourcebase" in perms or "delete_resourcebase" in perms or "change_layer_data" in layer_perms %}
                            <div class="col-sm-3">
                              <i class="fa fa-square-o fa-3x rotate-45"></i>
                              <h4>{% trans "Layer" %}</h4>
                              {% if "change_resourcebase" in perms and not resource.service %}
                              <a class="btn btn-default btn-block btn-xs" href="{% url "layer_replace" resource.service_typename %}">{% trans "Replace" %}</a>
                              {% endif %}
                              {% if resource.storeType == 'dataStore' and "change_layer_data" in layer_perms %}
                              <a class="btn btn-default btn-block btn-xs" href="{% url "new_map" %}?layer={{resource.service_typename}}">{% trans "Edit data" %}</a>
                              {% endif %}
                              {% if "delete_resourcebase" in perms %}
                              <a class="btn btn-danger btn-block btn-xs" href="{% url "layer_remove" resource.service_typename %}">{% trans "Remove" %}</a>
                              {% endif %}
                            </div>
                            {% endif %}
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  <!-- /Need to be checked later -->
                </div> 
              </div>
              <!-- Need to be checked later -->
              {% if "change_resourcebase_permissions" in perms %}
              <div>
                <h4>{% trans "Permissions" %}</h4>
                <p>{% trans "Specify which users can view or modify this map" %}</p>
                <button class="btn btn-primary btn-md btn-block" data-toggle="modal" data-target="#_permissions">{% trans "Change Permissions of this Map" %}</button>
                {% include "_permissions_form.html" %}
              </div>
              {% endif %}
              {% if user.is_superuser %}
              <div>
                <h4>{% trans "Copy this map" %}</h4>
                <p>{% trans "Duplicate this map and modify it for your own purposes" %}</p>
                <a href="{% url "new_map" %}?copy={{ resource.id }}" class="btn btn-primary btn-md btn-block">{% trans "Create a New Map" %}</a>
              </div>
              {% endif %}
              {% if resource.is_public and "change_resourcebase" in perms or resource.layer_group %}
              <div>
                <h4>{% trans "Map WMS" %}</h4>
                <dl>{% if resource.layer_group %}
                  <dt>{% trans "WMS layer group for local map layers" %}:</dt>
                  <dd><em>{{ resource.layer_group.name }}</em> ({% trans "on" %} <a href="{{ ows }}?service=WMS&request=GetCapabilities">{% trans "local OWS" %}</a>)</dd>
                  {% endif %}
                </dl>
                {% if "change_resourcebase" in perms %}
                <p>{% trans "Publish local map layers as WMS layer group" %}</p>
                <a href="{%url "map_wms" resource.id %}" class="btn btn-primary btn-md btn-block">{% trans "Publish Map WMS" %}</a>
                {% endif %}
              </div>
              {% endif %}
              <!-- /Need to be checked later -->
              <div class="share" style="">
                {% include "v2/social_links.html" %}
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_script %}

  <script type="text/javascript">
    // toggle table
    function toggleRow(thisname) {

            if ($('.hid-row').is(":visible")==true) {
              $('.hid-row').css('display','none');
              $('.btn-toggle').addClass("expand");
            }else{
              $('.hid-row').css('display','table-row');
              $('.btn-toggle').removeClass("expand");
            }
    }
  </script>

    {% if GEOGIG_ENABLED and resource.link_set.geogig %}
        {% with "_geogig_scripts.html" as geogig_scripts_template %}
            {% include  geogig_scripts_template %}
        {% endwith %}
    {% endif %}

    {% if request.user.is_authenticated %}
        {% user_rating_js request.user resource "layer" %}
    {% else %}
      {% overall_rating resource 'layer' as the_layer_rating %}
    {% endif %}
    {% include 'rating.html' %}
    {% include 'request_download.html' %}
    <script type="text/javascript">
       $("#comment_submit_btn").click(function(event) {
            $.ajax({
              type: "POST",
              url: $("#form_post_comment").attr('action'),
              data: $("#form_post_comment").serialize(),
              success: function() {
                $('#form_post_comment_div').modal('hide');
                $('#comments_section').load(window.location.pathname + ' #comments_section',
                		function(){$(this).children().unwrap()})
              }
            });
            return false;
          });

    {% if resource.get_legend.link_type == 'json' %}
    $.getJSON('{{resource.get_legend_url}}', function (data) {
        var legend = data.layers[0].legend;
        var items = [];
        $.each(legend, function (key, dvalue) {
            items.push('<li><img src="data:image/png;base64,' + dvalue.imageData + '">'+dvalue.label+'</li>');
        });

        $('<ul/>', {
            'class': 'arcgis-legend',
            html: items.join('')

        }).appendTo('#legend_placeholder');

    });
    {% endif %}
        </script>
    <script type="text/javascript">
      $('#set_thumbnail').click(function(){
        createMapThumbnail();
        $('#edit-layer').modal('toggle');
      });
    </script>
    {% if GEONODE_SECURITY_ENABLED %}
    {% include "_permissions_form_js.html" %}
    {% endif %}
{% endblock extra_script %}
