{% load i18n %}
{% load humanize %}
{% load leaflet_tags %}
{% load app_filters %}

	<div class="tab-content container">
	    <section id="fr">
	        <div class="row">
	            <div class="breadcrumb breadcrumb-custom">
	            	<span>{% trans "Flood Risk" %}</span>
	            	{% include "v2/breadcrumb.html" %}
	            </div>
	        </div>
	        <div class="row hidden-print">
	            <div class="col-md-12 col-sm-12 col-xs-12">
	                <div class="x_panel">
	                    <div class="x_title">
	                        <h2 class="pull-left">{% trans "Map of Flood Risk" %}</h2>
	                        <ul class="nav navbar-right panel_toolbox">
	                            <li class="hidden">
	                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                            </li>
	                            <li class="hidden">
	                                <a class="close-link"><i class="fa fa-close"></i></a>
	                            </li>
	                            <li>
	                                <a href="http://asdc.immap.org/maps/700/view" class="btn btn-primary" target="_blank">Visit Interactive Maps</a>
	                            </li>
	                        </ul>
	                        <div class="clearfix"></div>
	                    </div>
	                    <div class="x_content">
	                    	<div class="row">
                    			<div class="col-md-3 col-sm-12 col-xs-12">
                    				<div id="layercontrol">
                    				    <label for="friskOpt">Choose Layer :</label>
                    				    <select id="friskOpt" class="form-control">
                    				      <option value="total_risk_population">Population at Flood Risk</option>
                    				      <option value="total_risk_buildings">Building at Flood Risk</option>
                    				      <option value="total_risk_area">Area at Flood Risk</option>
                    				      <option value="settlements_at_risk">Settlements at Flood Risk</option>
                    				    </select>

                    				    <label for="WMSLayer">WMS Layer :</label>
                    				    <div id="WMSLayer" class="checkbox checkbox-red">
                    				        <label><input type="checkbox" data-type=wms data-layer=frisk checked>Flood Risk</label>
                    				    </div>

                    				    <label for="slideRange">Range :</label>
                    				    <div id="slideRange">
                    				        <div id="keypress"></div>
                    				        <br>
                    				        <div class="row form-group">
                    				            <div class="col-md-6 col-xs-6">
                    				                <input type="text" id="input-with-keypress-0" class="form-control">
                    				            </div>
                    				            <div class="col-md-6 col-xs-6">
                    				                <input type="text" id="input-with-keypress-1" class="form-control">
                    				            </div>
                    				        </div>
                    				    </div>

                    				    <label for="themes">Pick a theme :</label>
                    				    <div id="themes">
                    				        <button class="theme active" data-btn="YlOrRd"></button>
                    				        <button class="theme" data-btn="PuRd"></button>
                    				        <button class="theme" data-btn="GnBu"></button>
                    				        <button class="theme" data-btn="Blues"></button>
                    				        <button class="theme" data-btn="BuGn"></button>
                    				        <button class="theme" data-btn="BuPu"></button>
                    				        <button class="theme" data-btn="Greens"></button>
                    				        <button class="theme" data-btn="Greys"></button>
                    				        <button class="theme" data-btn="Oranges"></button>
                    				        <button class="theme" data-btn="OrRd"></button>
                    				        <button class="theme" data-btn="PuBu"></button>
                    				        <button class="theme" data-btn="PuBuGn"></button>
                    				        <button class="theme" data-btn="Purples"></button>
                    				        <button class="theme" data-btn="RdPu"></button>
                    				        <button class="theme" data-btn="Reds"></button>
                    				        <button class="theme" data-btn="YlGn"></button>
                    				        <button class="theme" data-btn="YlGnBu"></button>
                    				        <button class="theme" data-btn="YlOrBr"></button>
                    				    </div>
                    				</div>
                    			</div>
                    			<div class="col-md-9 col-sm-12 col-xs-12">
                    			    <div id="leaflet_floodrisk_map" class="ch-size-map"></div>
                    			</div>
                    		    <div class="col-md-12 col-sm-12 col-xs-12">
                    		        <div id="mapInfo"></div>
                    		    </div>
	                    	</div>
	                    	
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	        	<div class="col-md-4 col-sm-12 col-xs-12">
	        	  <div class="x_panel">
	        	    <div class="x_title">
	        	      <h2 class="pull-left">{% trans 'Flood Risk Population' %}</h2>
	        	      <ul class="nav navbar-right panel_toolbox hidden">
	        	        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	        	        </li>
	        	        <li><a class="close-link"><i class="fa fa-close"></i></a>
	        	        </li>
	        	      </ul>
	        	      <div class="clearfix"></div>
	        	    </div>
	        	    <div class="x_content">
	        	    	<div class="col-md-12 col-sm-8 col-xs-12 print-no-pad">
	        	    		<div id="echart_donut_frisk_pop" class="ch-size-pie"></div>
	        	    	</div>
	        	    	<div class="col-md-12 col-xs-12 col-sm-4 center">
	        	    		<div class="tile_count">
	        	    			<div class="col-md-6 col-sm-12 col-xs-6 tile_stats_count">
	        	    			    <span class="count_top"><i class="fa fa-male"></i> {% trans "Total Population" %}</span>
	        	    			    <div class="count red">{% readable Population %}</div>
	        	    			</div>
	        	    			<div class="col-md-6 col-sm-12 col-xs-6 tile_stats_count">
	        	    			    <span class="count_top"><i class="fa fa-male"></i> {% trans "Population At Risk" %}</span>
	        	    			    <div class="count red">{% readable total_risk_population %}</div>
	        	    			</div>
	        	    		</div>
	        	    	</div>
	        	    </div>
	        	  </div>
	        	</div>
	        	<div class="col-md-4 col-sm-12 col-xs-12">
	        	  <div class="x_panel">
	        	    <div class="x_title">
	        	      <h2 class="pull-left">{% trans 'Flood Risk Building' %}</h2>
	        	      <ul class="nav navbar-right panel_toolbox hidden">
	        	        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	        	        </li>
	        	        <li><a class="close-link"><i class="fa fa-close"></i></a>
	        	        </li>
	        	      </ul>
	        	      <div class="clearfix"></div>
	        	    </div>
	        	    <div class="x_content">
	        	    	<div class="col-md-12 col-sm-8 col-xs-12 print-no-pad">
	        	    		<div id="echart_donut_frisk_build" class="ch-size-pie"></div>
	        	    	</div>
	        	    	<div class="col-md-12 col-xs-12 col-sm-4 center">
	        	    		<div class="tile_count">
	        	    			<div class="col-md-6 col-sm-12 col-xs-6 tile_stats_count">
	        	    			    <span class="count_top"><i class="fa fa-building"></i> {% trans "Total Building" %}</span>
	        	    			    <div class="count red">{% readable Buildings %}</div>
	        	    			</div>
	        	    			<div class="col-md-6 col-sm-12 col-xs-6 tile_stats_count">
	        	    			    <span class="count_top"><i class="fa fa-building"></i> {% trans "Building At Risk" %}</span>
	        	    			    <div class="count red">{% readable total_risk_buildings %}</div>
	        	    			</div>
	        	    		</div>
	        	    	</div>
	        	    </div>
	        	  </div>
	        	</div>
	        	<div class="col-md-4 col-sm-12 col-xs-12">
	        	  <div class="x_panel">
	        	    <div class="x_title">
	        	      <h2 class="pull-left">{% trans 'Flood Risk Area' %}</h2>
	        	      <ul class="nav navbar-right panel_toolbox hidden">
	        	        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	        	        </li>
	        	        <li><a class="close-link"><i class="fa fa-close"></i></a>
	        	        </li>
	        	      </ul>
	        	      <div class="clearfix"></div>
	        	    </div>
	        	    <div class="x_content">
	        	    	<div class="col-md-12 col-sm-8 col-xs-12 print-no-pad">
	        	    		<div id="echart_donut_frisk_area" class="ch-size-pie"></div>
	        	    	</div>
	        	    	<div class="col-md-12 col-xs-12 col-sm-4 center">
	        	    		<div class="tile_count">
	        	    			<div class="col-md-6 col-sm-12 col-xs-6 tile_stats_count">
	        	    			    <span class="count_top"><i class="fa fa-tree"></i> {% trans "Total Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</span>
	        	    			    <div class="count red">{% readable Area %}</div>
	        	    			</div>
	        	    			<div class="col-md-6 col-sm-12 col-xs-6 tile_stats_count">
	        	    			    <span class="count_top"><i class="fa fa-tree"></i> {% trans "Area At Risk" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</span>
	        	    			    <div class="count red">{% readable total_risk_area %}</div>
	        	    			</div>
	        	    		</div>
	        	    	</div>
	        	    </div>
	        	  </div>
	        	</div>
	            <div class="col-md-12 col-sm-12 col-xs-12">
	                <div class="x_panel">
	                    <div class="x_title">
	                        <h2 class="pull-left">{% trans "Population Living in Flood Risk Areas" %}</h2>
	                        <ul class="nav navbar-right panel_toolbox hidden">
	                            <li>
	                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                            </li>
	                            <li>
	                                <a class="close-link"><i class="fa fa-close"></i></a>
	                            </li>
	                        </ul>
	                        <div class="clearfix"></div>
	                    </div>
	                    <div class="x_content">
	                        <p class="text-muted font-13 m-b-30">{% trans "Population, buildings and area within 100-year inundation flood zone (source: NATO Flood Map). Flood risk category is estimated based upon potential flood depth: Low flood risk relates to inundation more than 29cm, moderate to 1.21m and high flood risk more than 2.7m. The 100-year inundation interval, implies that every year there is a 1% chance of such a flood event occurring. Most flood events will be in 5,10, 20-year inundation interval." %}</p>
	                      	<div class="table-responsive hidden-print">
	                      		<table class="table table-striped table-hover table-bordered online">
	                      		    <thead>
	                      		        <tr>
	                      		            <th rowspan="2">{% trans "Region" %}</th>
	                      		            <th rowspan="2" class="hum">{% trans "Building" %}</th>
	                      		            <th rowspan="2" class="hum">{% trans "Settlement" %}</th>
	                      		            <th colspan="2">{% trans "Built-Up" %}</th>
	                      		            <th colspan="2">{% trans "Cultivated" %}</th>
	                      		            <th colspan="2">{% trans "Barren/Rangeland" %}</th>
	                      		            <th colspan="2">{% trans "Total" %}</th>
	                      		        </tr>
	                      		        <tr>
	                      		            <th class="hum">{% trans "Pop" %}</th>
	                      		            <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th>
	                      		            <!-- <th class="hum">Building</th> -->
	                      		            <th class="hum">{% trans "Pop" %}</th>
	                      		            <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th>
	                      		            <!-- <th class="hum">Building</th> -->
	                      		            <th class="hum">{% trans "Pop" %}</th>
	                      		            <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th>
	                      		            <!-- <th class="hum">Building</th> -->
	                      		            <th class="hum">{% trans "Pop" %}</th>
	                      		            <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th>
	                      		            <!-- <th class="hum">Building</th> -->
	                      		        </tr>
	                      		    </thead>
	                      		    <tbody>
	                      		    	<tr>
	                      		    		<td class="boldRow">{{parent_label}}</td>
	                      		    		<td class="boldRow">{{total_risk_buildings}}</td>
	                      		    		<td class="boldRow">{{settlement_at_floodrisk}}</td>
	                      		    		<td class="boldRow">{{built_up_pop_risk}}</td>
	                      		    		<td class="boldRow">{{built_up_area_risk}}</td>
	                      		    		<td class="boldRow">{{cultivated_pop_risk}}</td>
	                      		    		<td class="boldRow">{{cultivated_area_risk}}</td>
	                      		    		<td class="boldRow">{{barren_pop_risk}}</td>
	                      		    		<td class="boldRow">{{barren_area_risk}}</td>
	                      		    		<td class="boldRow">{{total_risk_population}}</td>
	                      		    		<td class="boldRow">{{total_risk_area}}</td>
	                      		    	</tr>
	                      		    	{% for data in lc_child %}
	                      		    	<tr class="selectable" onclick="window.document.location='?page=floodrisk&code={{data.code}}';">
	                      		    		<td>{{data.na_en}}</td>
	                      		    		<td>{{data.total_risk_buildings}}</td>
	                      		    		<td>{{ data.settlements_at_risk }}</td>
	                      		    		<td>{{ data.built_up_pop_risk }}</td>
	                      		    		<td>{{ data.built_up_area_risk }}</td>
	                      		    		<td>{{ data.cultivated_pop_risk }}</td>
	                      		    		<td>{{ data.cultivated_area_risk }}</td>
	                      		    		<td>{{ data.barren_pop_risk }}</td>
	                      		    		<td>{{ data.barren_area_risk }}</td>
	                      		    		<td>{{ data.total_risk_population }}</td>
	                      		    		<td>{{ data.total_risk_area }}</td>
	                      		    	</tr>
	                      		    	{% endfor %}
	                      		    </tbody>
	                      		</table>
	                      	</div>
	                      	<div class="table-responsive visible-print-block">
	                      		<table class="table table-striped table-condensed table-bordered print">
	                      		    <thead>
	                      		        <tr>
	                      		            <th rowspan="2">{% trans "Region" %}</th>
	                      		            <th rowspan="2" class="hum">{% trans "Building" %}</th>
	                      		            <th rowspan="2" class="hum">{% trans "Settlement" %}</th>
	                      		            <th colspan="2">{% trans "Built-Up" %}</th>
	                      		            <th colspan="2">{% trans "Cultivated" %}</th>
	                      		            <th colspan="2">{% trans "Barren/Rangeland" %}</th>
	                      		            <th colspan="2">{% trans "Total" %}</th>
	                      		        </tr>
	                      		        <tr>
	                      		            <th class="hum">{% trans "Pop" %}</th>
	                      		            <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th>
	                      		            <!-- <th class="hum">Building</th> -->
	                      		            <th class="hum">{% trans "Pop" %}</th>
	                      		            <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th>
	                      		            <!-- <th class="hum">Building</th> -->
	                      		            <th class="hum">{% trans "Pop" %}</th>
	                      		            <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th>
	                      		            <!-- <th class="hum">Building</th> -->
	                      		            <th class="hum">{% trans "Pop" %}</th>
	                      		            <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th>
	                      		            <!-- <th class="hum">Building</th> -->
	                      		        </tr>
	                      		    </thead>
	                      		    <tbody>
	                      		    	<tr>
	                      		    		<td class="boldRow">{{parent_label}}</td>
	                      		    		<td class="boldRow">{{total_risk_buildings}}</td>
	                      		    		<td class="boldRow">{{settlement_at_floodrisk}}</td>
	                      		    		<td class="boldRow">{{built_up_pop_risk}}</td>
	                      		    		<td class="boldRow">{{built_up_area_risk}}</td>
	                      		    		<td class="boldRow">{{cultivated_pop_risk}}</td>
	                      		    		<td class="boldRow">{{cultivated_area_risk}}</td>
	                      		    		<td class="boldRow">{{barren_pop_risk}}</td>
	                      		    		<td class="boldRow">{{barren_area_risk}}</td>
	                      		    		<td class="boldRow">{{total_risk_population}}</td>
	                      		    		<td class="boldRow">{{total_risk_area}}</td>
	                      		    	</tr>
	                      		    	{% for data in lc_child %}
	                      		    	<tr class="selectable" onclick="window.document.location='?page=floodrisk&code={{data.code}}';">
	                      		    		<td>{{data.na_en}}</td>
	                      		    		<td>{{data.total_risk_buildings}}</td>
	                      		    		<td>{{ data.settlements_at_risk }}</td>
	                      		    		<td>{{ data.built_up_pop_risk }}</td>
	                      		    		<td>{{ data.built_up_area_risk }}</td>
	                      		    		<td>{{ data.cultivated_pop_risk }}</td>
	                      		    		<td>{{ data.cultivated_area_risk }}</td>
	                      		    		<td>{{ data.barren_pop_risk }}</td>
	                      		    		<td>{{ data.barren_area_risk }}</td>
	                      		    		<td>{{ data.total_risk_population }}</td>
	                      		    		<td>{{ data.total_risk_area }}</td>
	                      		    	</tr>
	                      		    	{% endfor %}
	                      		    </tbody>
	                      		</table>
	                      	</div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	</div>

<script type="text/javascript">
	var frisk_cat = ['{% trans "Low Risk" %}', '{% trans "Medium Risk" %}', '{% trans "High Risk" %}', '{% trans "Not at Risk" %}' ];

	var pop = {{ Population }}
	var area = {{ Area }}
	var build = {{ Buildings }}

	var tot_risk_pop = {{ total_risk_population }}

	var frisk_low_pop = {{ low_risk_population }}
	var frisk_med_pop = {{ med_risk_population }}
	var frisk_hi_pop = {{ high_risk_population }}

	var tot_risk_build = {{ total_risk_buildings }}

	var frisk_low_build = {{ low_risk_buildings }}
	var frisk_med_build = {{ med_risk_buildings }}
	var frisk_hi_build = {{ high_risk_buildings }}

	var tot_risk_area = {{ total_risk_area }}

	var frisk_low_area = {{ low_risk_area }}
	var frisk_med_area = {{ med_risk_area }}
	var frisk_hi_area = {{ high_risk_area }}

	var chosen_label = '{{parent_label}}';
	var map_category = ['{% trans "Population at Risk" %}', '{% trans "Settlement at Risk" %}', '{% trans "Building at Risk" %}', '{% trans "Area at Risk" %}'];
	var boundary = {{GeoJson|safe}};
	var centroid = boundary['centroid'];

	// Add additional data to properties in GeoJSON
	for (var i = 0; i < boundary.features.length; i++) {

	    // Checking if it's in a district
	    {% if not additional_child and not lc_child %}
	    	set_jenk_divider = 1;
	        boundary['features'][i]['properties']['na_en']="{{parent_label}}"
	        boundary['features'][i]['properties']['total_risk_population']={{total_risk_population}}
	        boundary['features'][i]['properties']['total_risk_buildings']={{total_risk_buildings}}
	        boundary['features'][i]['properties']['settlements_at_risk']={{settlement_at_floodrisk}}
	        boundary['features'][i]['properties']['total_risk_area']={{total_risk_area}}

	        boundary['features'][i]['properties']['low_risk_population']={{low_risk_population}}
	        boundary['features'][i]['properties']['med_risk_population']={{med_risk_population}}
	        boundary['features'][i]['properties']['high_risk_population']={{high_risk_population}}

	        boundary['features'][i]['properties']['low_risk_area']={{low_risk_area}}
	        boundary['features'][i]['properties']['med_risk_area']={{med_risk_area}}
	        boundary['features'][i]['properties']['high_risk_area']={{high_risk_area}}

	    {% else %}
	    	set_jenk_divider = 7;
	        {% for data in lc_child %}
	            if (boundary['features'][i]['properties']['code']=={{data.code}}) {
	            	boundary['features'][i]['properties']['na_en']="{{data.na_en}}"
	                boundary['features'][i]['properties']['total_risk_population']={{data.total_risk_population}}
	                boundary['features'][i]['properties']['total_risk_buildings']={{data.total_risk_buildings}}
	                boundary['features'][i]['properties']['settlements_at_risk']={{data.settlements_at_risk}}
	                boundary['features'][i]['properties']['total_risk_area']={{data.total_risk_area}}

	                boundary['features'][i]['properties']['low_risk_population']={{data.low_risk_population}}
	                boundary['features'][i]['properties']['med_risk_population']={{data.med_risk_population}}
	                boundary['features'][i]['properties']['high_risk_population']={{data.high_risk_population}}

	                boundary['features'][i]['properties']['low_risk_area']={{data.low_risk_area}}
	                boundary['features'][i]['properties']['med_risk_area']={{data.med_risk_area}}
	                boundary['features'][i]['properties']['high_risk_area']={{data.high_risk_area}}
	            }

	        {% endfor %}

	    {% endif %}
	}

</script>
