{% extends "v2/site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}data{% endblock %}


{% block body_outer %}
    <!-- Title -->
    <section class="title">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% block title_content %}{% endblock title_content %}
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="{% url 'services' %}">{% trans 'Remote Services' %}</a></li>
                        {% block breadcrumb %}{% endblock breadcrumb %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="min-height-empty">
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </section>
{% endblock body_outer %}