{% extends "v2/site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block body_outer %}

	<!-- Title -->
	<section class="title">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-6">
	                <h1>Login</h1>
	            </div>
	            <div class="col-md-6">
	                <ul class="breadcrumb pull-right">
	                    <li>
	                        <a href="index.html">Home</a> 
	                        <span class="divider">/</span>
	                    </li>
	                    <li class="active">Registration</li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</section>

	<section id="login-page" class="container">
	    <form class="center" action='' method="POST">
	        <fieldset class="login-form">
                <!-- Username -->
                <div class="form-group group-login">
                    <input type="text" id="username" name="username" placeholder="Username" class="input-xlarge login-input">
                    <div class="login-forgot">
                    	<a href="#">Forgot?</a>
                    </div>
                </div>
                <!-- Password-->
                <div class="form-group group-login">
                    <input type="password" id="password" name="password" placeholder="Password" class="input-xlarge login-input">
                    <div class="login-forgot">
                    	<a href="#">Forgot?</a>
                    </div>
                </div>
	            <div class="form-group" style="text-align: left;">
	            	<div class="checkbox">
	            		<label><input type="checkbox" value="">Remember me</label>
	            		
	            	</div>
	            </div>
                <!-- Button -->
                <div class="form-group">
                    <button class="btn btn-primary btn-large btn-block">Login</button>
                </div>
            	<div >
            		<a href="registration.html">Not Registered? Create an account</a>
            	</div>
	        </fieldset>
	    </form>
	</section>
	<!-- /#registration-page -->

{% endblock %}