{% extends "v2/document_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Explore Documents" %} - {{ block.super }} {% endblock %}

{% block body_class %}documents documents-list explore{% endblock %}

{% block body %}

  <!-- Breadcrumb -->
  <section class="breadcrumb-section" style="padding: 0;">
    <div class="container" style="padding: 0;">
      <div class="">
        <ul class="breadcrumb breadcrumb-info" style="padding: 8px 0;">
            <li><a href="#" style="color: #000;">{% trans "Maps" %}</a></li>
            <li class="active" style="color: #000;">{% trans "Static Maps" %}</li> 
        </ul>
      </div>
    </div>
  </section>
  
  <section id="static" style="padding: 0;">
    <div class="container">
      {% with include_type_filter='true' %}
        {% with facet_type='documents' %}
          {% with header='Document Type' %}
            {% with filter='doc_type__in' %}
              {% include "search/v2/_search_content.html" %}
            {% endwith %}
          {% endwith %}
        {% endwith %}
      {% endwith %}
    </div>
  </section>

  {% include "v2/_bulk_permissions_form.html" %}

{% endblock %}

{% block extra_script %}
  <script src="{{ STATIC_URL }}v2/js/custom-layer.js?ver=1007"></script>
  {% if GEONODE_SECURITY_ENABLED %}
    {% include "v2/_permissions_form_js.html" %}
  {% endif %}
  <script type="text/javascript">
      {% if HAYSTACK_SEARCH %}
          SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='documents'%}'
      {% else %}
          SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='documents' %}';
      {% endif %}
    FILTER_TYPE = 'document';
  </script>
  {% with include_spatial='true' %}
  {% include 'search/v2/search_scripts.html' %}
  {% endwith %}

  <script type="text/javascript">
    

  </script>
{% endblock extra_script %}
