{% load i18n %}

{% verbatim %}
  <article ng-repeat="item in results" resource_id="{{ item.id }}" ng-cloak class="ng-cloak">
  	<div class="row items-list">
  	  <div class="col-xs-3 thumb">
  	    <a href="{{ item.detail_url }}"><img ng-src="{{ item.thumbnail_url }}" /></a>
  	  </div>
      <div class="col-xs-9 item-info">
        <div style="">
          {% endverbatim %}{% if request.user.is_authenticated %}
          <button class="btn btn-default btn-xs pull-right" ng-click="feature_select($event)">{% trans "Select" %}</button>
          {% endif %}

        </div>
        <div style="">
          {% verbatim %}
          <h3 ng-if="item.detail_url.indexOf('/maps/') > -1"><a href="/maps/{{item.id}}/view">{{ item.title }}</a></h3>
          <h3 ng-if="item.detail_url.indexOf('/documents/') > -1"><a href="{{ item.detail_url }}">{{ item.title }}</a></h3>
          <h3 ng-if="item.detail_url.indexOf('/layers/') > -1"><a href="{{ item.detail_url }}">{{ item.title }}</a></h3>
          <p ng-if="item.detail_url.indexOf('/documents/') > -1 && item.subtitle">{{ item.subtitle }}</p>
          {% endverbatim %}
          <p ng-if="item.detail_url.indexOf('/documents/') > -1">{% trans "Published" %} {% verbatim %}{{ item.date | date:'d MMMM yyyy'}}{% endverbatim %}</p>
          <p ng-if="item.detail_url.indexOf('/layers/') > -1">{% trans "Layer from" %} <a href="/people/profile/{% verbatim %}{{ item.owner__username }}">{{ item.owner__username }}{% endverbatim %} </a> {% trans "published" %} {% verbatim %}{{ item.date | timeAgo }}{% endverbatim %}</p>
          <p ng-if="item.detail_url.indexOf('/maps/') > -1">{% trans "Map from" %} <a href="/people/profile/{% verbatim %}{{ item.owner__username }}">{{ item.owner__username }}{% endverbatim %} </a> {% trans "published" %} {% verbatim %}{{ item.date | timeAgo }}{% endverbatim %}</p>

          <!-- <p>{{ item.category__gn_description }} <span class="owner">by <a href="/people/profile/{{ item.owner__username }}">{{ item.owner__username }}</a></span></p> -->
          <p class="abstract">{% verbatim %}{{ item.abstract }}{% endverbatim %}</p>

          {% verbatim %}
          <!-- <p class="actions">
            <a href="{{ item.detail_url }}#info"><i class="fa fa-calendar-o"></i>{{ item.date|date:'d MMM y' }}</a> |
            <a href="{{ item.detail_url }}"><i class="fa fa-eye"></i>{{ item.popular_count }}</a> |
            <a href="{{ item.detail_url }}#share"><i class="fa fa-share"></i>{{ item.share_count }}</a> |
            <a href="{{ item.detail_url }}#rate"><i class="fa fa-star"></i>{{ item.rating }}</a>
            <a ng-if="item.detail_url.indexOf('/layers/') > -1"
              class="pull-right" href="{% endverbatim %}{% url "new_map" %}?layer={% verbatim %}{{ item.detail_url.substring(8) }}">
              <i class="fa fa-map-marker"></i>Create a Map</a>
            <a ng-if="item.detail_url.indexOf('/maps/') > -1"
              class="pull-right" href="/maps/{{item.id}}/view">
              <i class="fa fa-map-marker"></i>View Map</a>
          </p> -->
          {% endverbatim %}
          <ul class="nav stats">
            <li>
              <a href="{% verbatim %}{{ item.detail_url }}{% endverbatim %}"><strong>{% verbatim %}{{ item.popular_count }}{% endverbatim %}</strong> {% trans "Views" %}</a>
            </li>
            <li>
              <a href="{% verbatim %}{{ item.detail_url }}{% endverbatim %}#rate">
                <!-- <strong> -->
                  <div class="star-rating">
                      <!-- The '|| 0' would prevent an undefined or null value on the Rating property -->
                      <div class="full-star" style="width: {% verbatim %}{{item.rating * 20 || 0}}{% endverbatim %}%"></div>
                      <div class="empty-star"> </div>

                  </div>
                  {% verbatim %}({{item.rating}}){% endverbatim %}
                  <!-- <div class="overall_rating" style="float:left" data-score="{{ item.rating }}"></div> ({{item.rating}}) -->
                  <!-- TODO: Add display of who gave what rating based -->
                <!-- </strong> -->
              </a>
            </li>
            <li ng-if="item.detail_url.indexOf('/layers/') > -1">
              <a href="{% url "new_map" %}?layer={% verbatim %}{{ item.detail_url.substring(8) }}{% endverbatim %}">
                <div>
                  <br/>
                  <i class="fa fa-map-marker"></i> {% trans "Create a Map" %}
                </div>
              </a>
            </li>
            <li ng-if="item.detail_url.indexOf('/maps/') > -1">
              <a href="/maps/{% verbatim %}{{item.id}}{% endverbatim %}/view">
                <div>
                  <br/>
                  <i class="fa fa-map-marker"></i> {% trans "View Map" %}
                </div>
              </a>
            </li>
            <li ng-if="item.detail_url.indexOf('/maps/') > -1">
              <a href="{% verbatim %}{{ item.detail_url }}{% endverbatim %}">
                <div>
                  <br/>
                  <i class="fa fa-map-marker"></i> {% trans "View Detail" %}
                </div>
              </a>
            </li>
            <li ng-if="item.detail_url.indexOf('/documents/') > -1 && item.papersize">
              <a>
                <div>
                  <i class="papersizesymbol glyphicon glyphicon-file"><span class="papersizevalue">{% verbatim %}{{ item.papersize }}{% endverbatim %}</span></i>
                </div>
              </a>
            </li>
            <li ng-if="item.detail_url.indexOf('/documents/') > -1 && item.datasource">
              <a>
                <div>
                  <div>{% trans "Data Sources" %}</div>
                  <div>{% verbatim %}{{ item.datasource }}{% endverbatim %}</div>
                </div>
              </a>
            </li>
            <li ng-if="item.detail_url.indexOf('/documents/') > -1 && item.version">
              <a>
                <div>
                  <div>{% trans "Version" %}</div>
                  <div>{% verbatim %}{{ item.version }}{% endverbatim %}</div>
                </div>
              </a>
            </li>
            <li ng-if="item.detail_url.indexOf('/documents/') > -1 && item.region_description">
              <a>
                <div>
                  <div>{% trans "Region" %}</div>
                  <div>{% verbatim %}{{ item.region_description }}{% endverbatim %}</div>
                </div>
              </a>
            </li>
            <li ng-if="item.detail_url.indexOf('/documents/') > -1 && item.keyword_description">
              <a>
                <div>
                  <div>{% trans "Keywords" %}</div>
                  <div>{% verbatim %}{{ item.keyword_description }}{% endverbatim %}</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
