@import "https://fonts.googleapis.com/css?family=Nunito:300,400,600,700";

/*
* ==========================================================
*     GENERAL
* ==========================================================
*/

body {
	font-family: "Raleway", sans-serif;
	/*font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	line-height: 1.8;
	font-size: 16px;
	background: #fff;
	color: #859196; 
}

a {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	color: #4586FF; 
}

a:hover {
	text-decoration: none;
	color: #4586FF; 
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.45;
	font-weight: normal;
	color: #000; 
}

section#section_home,
#facts,
#section_flood_risk,
#section_flood_prediction,
#section_static_maps,
#section_settl_inspector,
#section_finder_tool,
#section_training,
#section_scenario,
#section_testimony,
#section_team{
	padding: 7em 0 22em 0
}

section h2.text-uppercase{
	letter-spacing: .1em;
	font-size: 30px;
}

/*
=========================================
	Hero
=========================================
*/

section.hero {
  /*position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url('../img/img_1.jpg'), #663FB5;
  background: url('../img/img_1.jpg'), -webkit-linear-gradient(to left, #663FB5, #2B8BE3);*/
  /* Chrome 10-25, Safari 5.1-6 */
  /*background: url('../img/img_1.jpg'), linear-gradient(to left, #663FB5, #2B8BE3);*/
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*color: white;*/

  background-image: url("../img/img_1.jpg");
  /*background-color: rgba(6,32,51,.8);*/
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  section.hero {
    padding-bottom: 30px;
  }
}

.hero:after {
  content: '';
  z-index: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

header.video-on-right .container > .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
header.video-on-right .container > .row::before {
  display: block;
}
header.video-on-right .container > .row > [class*="col-"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header.video-on-right .container > .row > div {
  vertical-align: middle !important;
}
header.video-on-right .header-content {
  text-align: center;
  padding: 150px 0 50px;
  position: relative;
  width: 100%;
}
header.video-on-right .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
header.video-on-right .header-content .header-content-inner h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
header.video-on-right .video-container iframe {
  width: 100%;
}
@media (min-width: 768px) {
  section.hero {
    min-height: 90%;
  }
  section.hero .hero-content {
    /*text-align: left;*/
    padding: 0;
    height: 90vh;
    min-height: 600px;
  }
  header.video-on-right .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  header.video-on-right .header-content .header-content-inner h1 {
    font-size: 35px;
  }
}
@media (min-width: 992px) {
  header.video-on-right .header-content .header-content-inner h1 {
    font-size: 50px;
  }
}

/*.thim-click-to-bottom {
	bottom: 11%;
}

.thim-click-to-bottom i {
	padding: .7em .5em;
}

.thim-click-to-bottom i {
	padding: .8em 0.5em;
	font-size: 1.3em;
}

.thim-click-to-bottom {
	bottom: 12%;
	left:45%;
}

.thim-click-to-bottom i {
	padding: .7em 0.35em;
}*/

/*-- animate-icon --*/
.thim-click-to-bottom {
    position: absolute;
    bottom: 10%;
    left: 48%;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
    z-index: 99;
}
.thim-click-to-bottom i {
    color: #fb4e4e;
    padding: 1em .6em;
    border: 2px dotted #fff;
    border-radius: 20px;
    font-size: 1.5em;
    margin-left: .5em;
}

/*=========================================
	The Fact
=========================================*/

#facts {
	/*background-image: url("../img/img_1.jpg");*/
	background-color: rgba(6,32,51,.8);
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
}

.facts .devider:before,
.facts .devider:after {
	color: #737C85;
}

.facts .devider i {
	color: #fff;
}

.parallax-overlay {
	background-color: rgba(6,32,51,.8);
	padding: 70px 0;
}

.counters-item {
  color: #fff;
}

.counters-item i {
  border: 1px solid #737C85;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 120px;
  margin: 0 0 35px;
  padding: 40px 0 0;
  width: 120px;
}

.counters-item strong {
  display: block;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
}

.counters-item p {
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
  text-transform: uppercase;
}

/* Subscribe Section
--------------------------------*/
.goto {
  /*background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/img_6.png) fixed center center;
  background-size: cover;*/
  padding: 80px 0;
}

.goto .subscribe-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.goto .subscribe-text {
  color: #fff;
}

.goto .subscribe-btn-container {
  /*text-align: center;
  padding-top: 20px;*/
}

.goto .subscribe-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.goto .subscribe-btn:hover {
  background: #03C4EB;
  border: 2px solid #03C4EB;
}

/*
	Splash
*/

section.splash {
  padding: 50px 0;
}

.splash {
  text-align: center;
}
.splash h1 {
  color: white;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}
.splash .btn {
  margin-top: 20px;
}
.splash--default {
  background-color: #2B8BE3;
}
.splash--primary {
  background-color: #663FB5;
}
.splash--gray {
  background-color: #424753;
}
.splash--light {
  background-color: white;
}
.splash--light h1 {
  color: #424753;
}

.btn-rect {
  font-family: 'Nunito', sans-serif !important;
  border-radius: 5px !important;
  text-transform: none !important;
  font-weight: 100 !important;
}
.btn-rect.btn-xl {
  font-size: 18px !important;
}
.btn-rect--primary {
  color: white;
  background-color: transparent;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-rect--primary:hover,
.btn-rect--primary:focus,
.btn-rect--primary.focus,
.btn-rect--primary:active,
.btn-rect--primary.active,
.open > .dropdown-toggle.btn-rect--primary {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-color: #ededed;
}
.btn-rect--primary:active,
.btn-rect--primary.active,
.open > .dropdown-toggle.btn-rect--primary {
  background-image: none;
}
.btn-rect--primary.disabled,
.btn-rect--primary[disabled],
fieldset[disabled] .btn-rect--primary,
.btn-rect--primary.disabled:hover,
.btn-rect--primary[disabled]:hover,
fieldset[disabled] .btn-rect--primary:hover,
.btn-rect--primary.disabled:focus,
.btn-rect--primary[disabled]:focus,
fieldset[disabled] .btn-rect--primary:focus,
.btn-rect--primary.disabled.focus,
.btn-rect--primary[disabled].focus,
fieldset[disabled] .btn-rect--primary.focus,
.btn-rect--primary.disabled:active,
.btn-rect--primary[disabled]:active,
fieldset[disabled] .btn-rect--primary:active,
.btn-rect--primary.disabled.active,
.btn-rect--primary[disabled].active,
fieldset[disabled] .btn-rect--primary.active {
  background-color: transparent;
  border-color: white;
}
.btn-rect--primary .badge {
  color: transparent;
  background-color: white;
}
.btn-rect--primary:hover {
  background-color: white;
  color: #424753;
}
.btn-rect--default {
  color: white;
  background-color: #2B8BE3;
  border-color: #2B8BE3;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-rect--default:hover,
.btn-rect--default:focus,
.btn-rect--default.focus,
.btn-rect--default:active,
.btn-rect--default.active,
.open > .dropdown-toggle.btn-rect--default {
  color: white;
  background-color: #1d7ed8;
  border-color: #1b79cf;
}
.btn-rect--default:active,
.btn-rect--default.active,
.open > .dropdown-toggle.btn-rect--default {
  background-image: none;
}
.btn-rect--default.disabled,
.btn-rect--default[disabled],
fieldset[disabled] .btn-rect--default,
.btn-rect--default.disabled:hover,
.btn-rect--default[disabled]:hover,
fieldset[disabled] .btn-rect--default:hover,
.btn-rect--default.disabled:focus,
.btn-rect--default[disabled]:focus,
fieldset[disabled] .btn-rect--default:focus,
.btn-rect--default.disabled.focus,
.btn-rect--default[disabled].focus,
fieldset[disabled] .btn-rect--default.focus,
.btn-rect--default.disabled:active,
.btn-rect--default[disabled]:active,
fieldset[disabled] .btn-rect--default:active,
.btn-rect--default.disabled.active,
.btn-rect--default[disabled].active,
fieldset[disabled] .btn-rect--default.active {
  background-color: #2B8BE3;
  border-color: #2B8BE3;
}
.btn-rect--default .badge {
  color: #2B8BE3;
  background-color: white;
}
.btn-rect--default:hover {
  background-color: white;
  color: #424753;
}
.btn-rect--white {
  color: #424753;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-rect--white:hover,
.btn-rect--white:focus,
.btn-rect--white.focus,
.btn-rect--white:active,
.btn-rect--white.active,
.open > .dropdown-toggle.btn-rect--white {
  color: #424753;
  background-color: #f2f2f2;
  border-color: #ededed;
}
.btn-rect--white:active,
.btn-rect--white.active,
.open > .dropdown-toggle.btn-rect--white {
  background-image: none;
}
.btn-rect--white.disabled,
.btn-rect--white[disabled],
fieldset[disabled] .btn-rect--white,
.btn-rect--white.disabled:hover,
.btn-rect--white[disabled]:hover,
fieldset[disabled] .btn-rect--white:hover,
.btn-rect--white.disabled:focus,
.btn-rect--white[disabled]:focus,
fieldset[disabled] .btn-rect--white:focus,
.btn-rect--white.disabled.focus,
.btn-rect--white[disabled].focus,
fieldset[disabled] .btn-rect--white.focus,
.btn-rect--white.disabled:active,
.btn-rect--white[disabled]:active,
fieldset[disabled] .btn-rect--white:active,
.btn-rect--white.disabled.active,
.btn-rect--white[disabled].active,
fieldset[disabled] .btn-rect--white.active {
  background-color: white;
  border-color: white;
}
.btn-rect--white .badge {
  color: white;
  background-color: #424753;
}
.btn-rect--white:hover {
  background-color: #424753;
  color: white;
}
.btn-rect--dark {
  color: white;
  background-color: #424753;
  border-color: #424753;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-rect--dark:hover,
.btn-rect--dark:focus,
.btn-rect--dark.focus,
.btn-rect--dark:active,
.btn-rect--dark.active,
.open > .dropdown-toggle.btn-rect--dark {
  color: white;
  background-color: #373b45;
  border-color: #32363f;
}
.btn-rect--dark:active,
.btn-rect--dark.active,
.open > .dropdown-toggle.btn-rect--dark {
  background-image: none;
}
.btn-rect--dark.disabled,
.btn-rect--dark[disabled],
fieldset[disabled] .btn-rect--dark,
.btn-rect--dark.disabled:hover,
.btn-rect--dark[disabled]:hover,
fieldset[disabled] .btn-rect--dark:hover,
.btn-rect--dark.disabled:focus,
.btn-rect--dark[disabled]:focus,
fieldset[disabled] .btn-rect--dark:focus,
.btn-rect--dark.disabled.focus,
.btn-rect--dark[disabled].focus,
fieldset[disabled] .btn-rect--dark.focus,
.btn-rect--dark.disabled:active,
.btn-rect--dark[disabled]:active,
fieldset[disabled] .btn-rect--dark:active,
.btn-rect--dark.disabled.active,
.btn-rect--dark[disabled].active,
fieldset[disabled] .btn-rect--dark.active {
  background-color: #424753;
  border-color: #424753;
}
.btn-rect--dark .badge {
  color: #424753;
  background-color: white;
}
.btn-rect--dark:hover {
  background-color: white;
  color: #424753;
}

/*Two images Law*/

.images {
  position: relative; }
  .images .img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    -webkit-box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5);
    box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5); }
    @media (max-width: 767px) {
      .images .img2 {
        position: relative;
        left: inherit !important;
        top: inherit !important;
        max-width: 100%; } }
  .images.right .img1 {
    position: relative;
    z-index: 2;
    -webkit-box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5);
    box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5); }
  .images.right .img2 {
    position: absolute;
    top: 50%;
    left: -40%;
    z-index: 1;
    max-width: 500px; }
    @media (max-width: 767px) {
      .images.right .img2 {
        position: relative;
        left: inherit !important;
        top: inherit !important;
        max-width: 100%; } }

/*
	Two Images Section
*/

.blockquote {
    border-left: none;
    border: 1px solid #888;
    padding: 20px;
    font-size: 1.1em;
    line-height: 1.8;
}

.blockquote.blockquote-primary {
    border-color: #a72b1f;
    color: #a72b1f;
}

.two-image-section {
    padding: 50px 0;
}

.two-image-section .image-container {
    height: 335px;
    position: relative;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    border-radius: .25rem;
}

.section-story-overview .image-container+.category {
    padding-top: 15px;
}

.two-image-section .image-container.image-right {
    z-index: 2;
}

.section-story-overview .image-container.image-right+h3.title {
    margin-top: 120px;
}

.two-image-section .image-container.image-left {
    z-index: 1;
}

.two-image-section .image-container:nth-child(2) {
    margin-top: 420px;
    margin-left: -105px;
}

.two-image-section p.blockquote {
    width: 220px;
    min-height: 180px;
    text-align: left;
    position: absolute;
    top: 376px;
    right: 155px;
    z-index: 0;
}

@media screen and (min-width: 768px) {
    .image-container.image-right {
        top: 80px;
        margin-left: -100px;
        margin-bottom: 130px;
    }
    .image-container.image-left {
        margin-right: -100px;
    }
}

@media screen and (max-width: 768px) {
    .image-container.image-left {
        margin-bottom: 220px;
    }
    .image-container.image-left p.blockquote {
        margin: 0 auto;
        position: relative;
        right: 0;
    }
    
    .two-image-section .image-container:nth-child(2) {
        margin-left: 0;
        margin-bottom: 30px;
    }
}

/*
* ==========================================================
*     Scenarios
* ==========================================================
*/
section.scenarios .nav-tabs {
  margin-top: 80px;
  border: none;
}

section.scenarios .nav-tabs span.number {
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  left: calc(50% - 25px);
  top: -25px;
  font-size: 1.4rem;
  font-weight: 700;
}

section.scenarios .nav-tabs a {
  border: none;
  background: none;
  border-right: 0;
  -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
  padding: 50px 50px 40px;
  text-align: center;
  color: #333;
}

section.scenarios .nav-tabs a.active {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}

section.scenarios .nav-tabs a.active {
  background: #f5f5f5;
}

section.scenarios .nav-tabs span.number {
  background-color: #5989e5;
  background-image: -webkit-gradient(linear, left top, right top, from(#5989e5), to(#37cfdc));
  background-image: linear-gradient(to right, #5989e5, #37cfdc);
  border: none !important;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s !important;
  transition: all 0.3s !important;
}

section.scenarios .nav-tabs span.btn.number:hover {
  opacity: 0.85;
}

/* Browser Section Mediaquery --------------------------- */
@media (max-width: 767px) {
  section.scenarios .nav-tabs a {
    margin-bottom: 50px;
  }
  section.scenarios .nav-tabs a.active {
    -webkit-transform: none;
    transform: none;
  }
  section.scenarios .nav-tabs .row div:last-of-type a {
    margin-bottom: 0;
  }
}

/*Typing animation*/

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/*
	Testimonials
*/

.testimonials--default {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/testimonials-bg.png');
}
.testimonials--default:before {
  content: "";
  position: absolute;
}
.testimonials--default .gradient-cover {
  background: #663FB5;
  background: -webkit-linear-gradient(left bottom, #663FB5, #2B8BE3);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom top, #663FB5, #2B8BE3);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom top, #663FB5, #2B8BE3);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom top, #663FB5, #2B8BE3);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: relative;
}
.testimonials--default .container {
  padding: 50px 0;
  opacity: 1;
  text-align: center;
}
.testimonials--default .person-avatar--lg {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 40px;
}
.testimonials--default .quotes .single-quote {
  display: none;
}
.testimonials--default .quotes .single-quote--active {
  display: block;
}
.testimonials--default .quotes .quote {
  font-family: 'Raleway', sans-serif;
  margin: 20px auto 10px;
  color: white;
  width: 90%;
}
@media (min-width: 768px) {
  .testimonials--default .quotes .quote {
    width: 70%;
  }
}
.testimonials--default .quotes .person-name {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  color: white;
}
.testimonials--default .divider {
  width: 50px;
  opacity: 0.25;
}
.testimonials--default .person-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
}
.testimonials--default .person-selector .person {
  border: 2px solid white;
  width: 45px;
  height: 45px;
  margin: 0 5px;
  border-radius: 22.5px;
  cursor: pointer;
}
.testimonials--default .person-selector .person.person--active {
  width: 56px;
  height: 56px;
  border-radius: 28px;
}
.testimonials--default .person-selector .person img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .testimonials--carousel {
    min-height: 350px;
  }
}
.testimonials--carousel .row {
  position: relative;
  margin: 0;
}
.testimonials--carousel .carousel-control {
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  display: flex;
  align-items: center;
}
.testimonials--carousel .carousel-control.left {
  justify-content: flex-start;
  left: 25px;
}
.testimonials--carousel .carousel-control.right {
  justify-content: flex-end;
  right: 25px !important;
}
.testimonials--carousel .carousel-control svg {
  width: 35px;
  height: 35px;
}
.testimonials--carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0;
  margin-right: -19px;
}
.testimonials--carousel .carousel-indicators li {
  background: #c0c0c0;
}
.testimonials--carousel .carousel-indicators .active {
  background: #333333;
}
.testimonials--carousel img {
  width: 250px;
  height: 100px;
}
.testimonials--carousel .item blockquote {
  border-left: none;
  margin: 0;
}
.testimonials--carousel .item blockquote img {
  margin-bottom: 10px;
}
.testimonials--carousel .item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
  font-weight: 100;
}
@media (max-width: 768px) {
  .testimonials--carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
  }
}
@media (max-width: 768px) {
  .testimonials--carousel .carousel-control.left {
    left: -10px !important;
  }
  .testimonials--carousel .carousel-control.right {
    right: -10px !important;
  }
  .testimonials--carousel .carousel-indicators {
    bottom: -30px !important;
  }
  .testimonials--carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
  }
}
.testimonials--quotes .testimonial-quote {
  margin-top: 50px;
  border-radius: 5px;
  padding: 30px 30px 20px 30px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 1px 1px 2px rgba(222, 222, 222, 0.32);
}
.testimonials--quotes .testimonial-quote:after {
  content: "";
  bottom: -15px;
  left: 50px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.testimonials--quotes .testimonial-person {
  padding-left: 30px;
  margin-top: 35px;
  display: flex;
  align-items: center;
}
.testimonials--quotes .testimonial-person__avatar {
  margin-right: 15px;
  display: inline-block;
  vertical-align: bottom;
}
.testimonials--quotes .testimonial-person__avatar img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.testimonials--quotes .testimonial-person__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonials--quotes .testimonial-person__name {
  margin-bottom: 0;
}
.testimonials--quotes .testimonial-person__work {
  font-weight: 400;
  display: block;
  margin-bottom: 0;
}

/* ==================================================
  Team Styling
  ================================================== */
.team h2 {
  color: #199EB8;
}

.team .col-sm-3 {
  padding: 0;
}

.team .card > a {
  display: block;
}

.team .card img {
  width: 100%;
}

.team .card h4 {
  color: #fff;
  text-transform: uppercase;
}

.team .card p {
  font-size: 11px;
  color: #fff;
  opacity: .75;
  margin: 0;
  padding: 0 35px;
}

.team .card .social-nav {
  margin-bottom: 45px;
}

.team .card .social-nav a {
  color: #fff;
  font-size: 16px;
  margin: 0 4px;
}

.team .card .social-nav a:hover {
  opacity: .75;
}

.team .card:hover .team-over {
  opacity: 1;
  visibility: visible;
}

.team .card:hover .card-title-wrap {
  background-color: #199EB8;
}

.team .card:hover .card-title-wrap .card-title, .team .card:hover .card-title-wrap .card-text {
  color: #fff;
}

.team .team-over {
  padding-top: 45px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team .card-title-wrap {
  padding: 15px 25px;
  position: relative;
  z-index: 9;
  background-color: #fff;
}

.team .card-title-wrap .card-title, .team .card-title-wrap .card-text {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  display: block;
  margin: 0;
}

.team .card-title-wrap .card-title {
  font-size: 24px;
  color: #333;
}

.team .card-title-wrap .card-text {
  font-size: 18px;
  color: #999;
}

/*Navbar*/

.ftco-navbar-light { 
	background: transparent !important;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 3; }

@media screen and (max-width: 991px) {
	.ftco-navbar-light {
	background: #000 !important;
	top: 0;
	position: relative; } }
	.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
	font-size: 16px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px; }
@media screen and (max-width: 960px) {
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px; } }
.ftco-navbar-light .navbar-nav > .nav-item.ftco-cta a {
color: #fff; }
.ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
position: relative;
margin-left: 20px;
padding-left: 20px; }
@media screen and (max-width: 960px) {
.ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
  padding-left: 0;
  margin-left: 0; } }
.ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
position: absolute;
content: "";
top: 10px;
bottom: 10px;
left: 0;
width: 2px;
background: rgba(255, 255, 255, 0.05); }
@media screen and (max-width: 960px) {
  .ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
    display: none; } }
.ftco-navbar-light .navbar-toggler {
border: none;
color: rgba(255, 255, 255, 0.5) !important;
cursor: pointer;
padding-right: 0;
text-transform: uppercase;
font-size: 16px;
letter-spacing: .1em; }
.ftco-navbar-light.scrolled {
position: fixed;
right: 0;
left: 0;
top: 0;
margin-top: -130px;
background: #fff !important; }
@media screen and (max-width: 768px) {
.ftco-navbar-light.scrolled .navbar-nav {
  background: none;
  border-radius: 0px;
  padding-left: 0rem !important;
  padding-right: 0rem !important; } }
@media screen and (max-width: 576px) {
.ftco-navbar-light.scrolled .navbar-nav {
  background: none;
  padding-left: 0 !important;
  padding-right: 0 !important; } }
.ftco-navbar-light.scrolled .navbar-toggler {
border: none;
color: rgba(0, 0, 0, 0.5) !important;
border-color: rgba(0, 0, 0, 0.5) !important;
cursor: pointer;
padding-right: 0;
text-transform: uppercase;
font-size: 16px;
letter-spacing: .1em; }
.ftco-navbar-light.scrolled .nav-link {
padding-top: 0.7rem !important;
padding-bottom: 0.7rem !important;
color: #000 !important; }
.ftco-navbar-light.scrolled .nav-link.active {
  color: #4586FF !important; }
.ftco-navbar-light.scrolled.awake {
margin-top: 0px;
-webkit-transition: .3s all ease-out;
-o-transition: .3s all ease-out;
transition: .3s all ease-out; }
.ftco-navbar-light.scrolled.sleep {
-webkit-transition: .3s all ease-out;
-o-transition: .3s all ease-out;
transition: .3s all ease-out; }
.ftco-navbar-light.scrolled .navbar-brand {
color: #000; }

/*
	Off Canvas Navbar
*/

.c-offcanvas {
 	left: 0;
  	padding: 1rem;
  	overflow-y: scroll;
}

.js-offcanvas a {
   	color: #a72b1f;
   	outline: 0;
}

.js-offcanvas .dropdown-menu {
  position:relative;
  border:none;
}