{% extends "v2/site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}
{% load account_tags %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% user_display request.user as user_display %}


{% block body_outer %}
    <!-- Title -->
	<section class="title">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-6">
	                <h1>{% trans "Forgot Password" %}</h1>
	            </div>
	            <div class="col-md-6">
	                <ul class="breadcrumb pull-right">
	                    <li class="active">{% trans "Forgot Password" %}</li>
	                </ul>
	            </div>
	        </div>
	    </div>
    </section>

    <section>
        <div class="container">
            <div class="center vertical-center">
                <p class="lead">{% trans "Submit your email linked to ASDC and we will send you an email to reset your password." %}</p>
                <p class="grid-spacer">{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ THEME_ACCOUNT_CONTACT_EMAIL }}">{{ THEME_ACCOUNT_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
                <br>
                <form method="POST" action="">
                    <fieldset>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">{% trans "Reset Password" %}</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

    {% comment %}
    <section>
        <div class="container">
            <div class="center vertical-center">
                <fieldset class="login-form">
                    <div class="alert alert-info">
                        {% trans "Submit your email linked to ASDC and we will send you an email to reset your password." %}
                        <br>
                        {% blocktrans %}
                        If you have any trouble resetting your password, contact us at <a
                            href="mailto:{{ THEME_ACCOUNT_CONTACT_EMAIL }}">{{ THEME_ACCOUNT_CONTACT_EMAIL }}</a>.
                        {% endblocktrans %}
                    </div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <!-- <label for="{{ form.email.id_for_label }}" class="control-label">{{ form.email.label }}</label> -->
                            {{ form.email |attr:"class:form-control" |attr:"placeholder:E-mail" }}
                        </div>
                        <!-- Button -->
                        <div class="form-group">
                            <button class="btn btn-primary btn-large btn-block">{% trans "Reset Password" %}</button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </section>
    {% endcomment %}
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}