{% extends "v2/site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block body_outer %}
    <section class="title">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>{% trans "Sign Up" %}</h1>
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumb pull-right">
                        <li class="active">{% trans "Sign Up" %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            {% if REGISTRATION_OPEN %}
                <form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off"
                    class="form-horizontal" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %}>
                    <fieldset>
                        {% csrf_token %}

                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                                    <label for="{{ form.title.id_for_label }}" class="control-label">{{ form.title.label }}</label>
                                    {{ form.title |attr:"class:form-control" }}
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-5">
                                    <label for="{{ form.first_name.id_for_label }}" class="control-label">{{ form.first_name.label }}</label>
                                    {{ form.first_name |attr:"class:form-control" }}
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-5">
                                    <label for="{{ form.last_name.id_for_label }}" class="control-label">{{ form.last_name.label }}</label>
                                    {{ form.last_name |attr:"class:form-control" }}
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="{{ form.username.id_for_label }}" class="control-label">{{ form.username.label }}</label>
                                    {{ form.username |attr:"class:form-control" }}
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="{{ form.email.id_for_label }}" class="control-label">{{ form.email.label }}</label>
                                    {{ form.email |attr:"class:form-control" }}
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <label for="{{ form.password.id_for_label }}" class="control-label">{{ form.password.label }}</label>
                                    {{ form.password |attr:"class:form-control"|attr:"aria-required:true"|attr:"required"|attr:"onchange:form.id_password2.pattern = RegExp.escape(this.value);"|attr:"pattern:(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" }}
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <label for="{{ form.password_confirm.id_for_label }}" class="control-label">{{ form.password_confirm.label }}</label>
                                    {{ form.password_confirm |attr:"class:form-control"|attr:"aria-required:true"|attr:"required" }}
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <label for="{{ form.organization.id_for_label }}" class="control-label">{{ form.organization.label }}</label>
                                    {{ form.organization |attr:"class:form-control" }}
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <label for="{{ form.org_acronym.id_for_label }}" class="control-label">{{ form.org_acronym.label }}</label>
                                    {{ form.org_acronym |attr:"class:form-control" }}
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="{{ form.position.id_for_label }}" class="control-label">{{ form.position.label }}</label>
                                    {{ form.position |attr:"class:form-control" }}
                                </div>
                            </div>
                        </div>
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
                        </div>
                    </fieldset>
                </form>
            {% else %}
                <p>{% trans "Sorry, registrations are not open at this time." %}</p>
            {% endif %}

            {% include "account/_signup_sidebar.html" %}
        </div>
        <div class="row">
            <div class="col-md-8">
            
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            // $('#id_username').focus();
            $('#id_first_name').focus();
        });
    </script>
{% endblock %}
