{% load i18n %}
{% load base_tags %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

  <div class="panel panel-default">
    <div class="panel-heading" id="headingRegion">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseRegion" aria-expanded="false" aria-controls="collapseRegion" class="collapsed"><i class="more-less glyphicon glyphicon-minus pull-right"></i>{% trans "Regions" %}</a>
      </h4>
    </div>
    <div id="collapseRegion" class="panel-collapse collapse in" aria-labelledby="headingRegion" aria-expanded="true">
      <div class="panel-body">
        <ul class="list-unstyled"> 
          {% verbatim %}
          <div id="collapse_Country">
            <li ng-repeat="region in regions">
              <div class="checkbox checkbox-red"> 
                <label><input type="checkbox" data-value="{{ region.name }}" data-filter="regions__name__in" ng-click="multiple_choice_listener($event)">{{ region.name }}
                </label> 
                <span class="badge {% endverbatim %}pull-right{% verbatim %}">{{ region.count }}</span>
              </div> 
              {% endverbatim %}
            </li>
          </div>
        </ul> 
      </div> 
    </div>
  </div>
