{% load deliverynotes_tags %}
{% load bootstrap_tags %}
{% load pagination_tags %}
{% load url from future %}
{% load friendly_loader %}
{% load i18n %}
{% friendly_load avatar_tags %}

{% load i18n %}

{% block head %}
   <!--  <link rel="stylesheet" 
              href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
        <link rel="stylesheet" 
              href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>
         -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
        
        {{ form.media }}
{% endblock head %}

  <div id="note" class="tab-pane fade">
    <div id="Notes" class="comments">
        <!-- {#% if comment_count > 0 %} -->
        <h4>{% comment_count resource %} {% trans 'Delivery Notes' %}</h4>
        <!-- {#% else %} -->
        <!-- <h4>{#% trans 'No Comments' %}</h4> -->
        <!-- {#% endif %} -->
        <div class="comments-list" style="margin-bottom: 30px;">
            {% comments resource as comment_list %}
              {% for comment in comment_list %}
            <div class="comment media">
                <div class="user-profile avatar_comment pull-left">
                    <a href="{{ comment.author.get_absolute_url }}">{% avatar comment.author 40 %}</a>
                    <!-- <img class="avatar" src="images/sample/cAvatar2.jpg" alt="" />      -->
                </div>
                <div class="media-body">
                    <div>
                        <strong>{% trans 'Noted by' %}<a href="{{ comment.author.get_absolute_url }}" rel="author"> {{ comment.author }}</a></strong>
                        <small> on <time>{{ comment.submit_date|date:"M j, Y" }}</time></small>
                        {% if comment|can_delete_comment:request.user %}
                        <div class="pull-right" style="display: inline-block; padding: 0;">
                            <form method="POST" action="{% url 'delete_comment' comment.id %}">
                              {% csrf_token %}
                                <button type="submit" class="btn btn-transparent"><i class="fa fa-trash"></i></button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <p>{{ comment.copies }} copies delivered to {{ comment.orgtarget | safe}} <br/>
                    contact person : {{ comment.orgcontact }}</p>
                    <p><small>{{ comment.note }}</small></p>
                </div>
            </div>
              {% endfor %}
        </div>

        <!-- Start Comment Form -->
        {% if user.is_authenticated %}
          {% comment_form resource as form %}
        <div class="comment-form">
            <h4>Log your delivery notes</h4>
            <form action="{% comment_target resource %}" method="POST" id="form_post_comment">
              {% csrf_token %}
              {{ form|as_bootstrap }}
                <button id="comment_submit_btn" class="pull-right btn btn-primary">{% trans 'Submit Comment' %}</button>
            </form>
        </div>
        {% else %}
        {% endif %}
        <!-- End Comment Form -->
    </div>
  </div>


