{% load i18n %}

<div class="row">
  <div class="col-xs-2 col-sm-3">
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <a data-toggle="pill" href="#privacy"><i class="fa fa-lock"></i><span class="hidden-xs">Privacy</span></a>
        </li>
        <li>
          <a data-toggle="pill" href="#edit"><i class="fa fa-pencil"></i><span class="hidden-xs">Edit</span></a>
        </li>
        <li>
          <a data-toggle="pill" href="#manage"><i class="fa fa-users"></i><span class="hidden-xs">Manage</span></a>
        </li>
    </ul>
  </div>
  <div class="col-xs-10 col-sm-9">
    <div class="tab-content">
      <div id="privacy" class="tab-pane fade in active">
        <div>
          <div></div>
          <div></div>
        </div>
        <div>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td rowspan="3">{% trans "Who can view it?" %}</td>
                <td><input type="checkbox" name="view_anonymous" id="perms_view_anyone" value="AnonymousUser" {% if DEFAULT_ANONYMOUS_VIEW_PERMISSION %}checked{% endif %}>{% trans "Anyone" %}</td>
              </tr>
              <tr>
                <td>{% trans "Following Users " %}<input class="user-select" type="text" name="view_resourcebase" id="view_resourcebase_users" /></td>
              </tr>
              <tr>
                <td>{% trans "Following groups " %}<input class="group-select" type="text" name="view_resourcebase" id="view_resourcebase_groups" /></td>
              </tr>
              <tr>
                <td rowspan="3">{% trans "Who can download it?" %}</td>
                <td><input type="checkbox" name="download_anonymous" id="perms_download_resourcebase_anyone" value="AnonymousUser" {% if DEFAULT_ANONYMOUS_DOWNLOAD_PERMISSION %}checked{% endif %}>{% trans "Anyone" %}</td>
              </tr>
              <tr>
                <td>{% trans "Following users " %}<input class="user-select" type="text" name="download_resourcebase" id="download_resourcebase_users" /></td>
              </tr>
              <tr>
                <td>{% trans "Following groups " %}<input class="group-select" type="text" name="download_resourcebase" id="download_resourcebase_groups" /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="edit" class="tab-pane fade">
        <div>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td rowspan="2">{% trans "Who can change metadata?" %}</td>
                <td>{% trans "Following users " %}<input class="user-select" type="text" name="change_resourcebase_metadata" id="change_resourcebase_metadata_users" /></td>
              </tr>
              <tr>
                <td>{% trans "Following groups " %}<input class="group-select" type="text" name="change_resourcebase_metadata" id="change_resourcebase_metadata_groups" /> </td>
              </tr>
              {% if is_layer %}
              <tr>
                <td rowspan="2">{% trans "Who can edit data for this layer?" %}</td>
                <td>{% trans "Following users " %}<input class="user-select" type="text" name="change_layer_data" id="change_layer_data_users" /></td>
              </tr>
              <tr>
                <td>{% trans "Following groups " %}<input class="group-select" type="text" name="change_layer_data" id="change_layer_data_groups" /></td>
              </tr>
              <tr>
                <td rowspan="2">{% trans "Who can edit styles?" %}</td>
                <td>{% trans "Following users " %}<input class="user-select" type="text" name="change_layer_style" id="change_layer_style_users" /></td>
              </tr>
              <tr>
                <td>{% trans "Following groups " %}<input class="group-select" type="text" name="change_layer_style" id="change_layer_style_groups" /></td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div id="manage" class="tab-pane fade">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td rowspan="2">{% trans "Who Can Manage (Update, Delete, Change Permission, Publish / Unpublish)" %}</td>
              <td>{% trans "Following users " %}<input class="user-select" type="text" name="manage_resourcebase" id="manage_resourcebase_users" /></td>
            </tr>
            <tr>
              <td>{% trans "Following groups " %}<input class="group-select" type="text" name="manage_resourcebase" id="manage_resourcebase_groups" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
