{% load i18n mathfilters %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI | yesno:'rtl,ltr' }}">
<head>

<link href="{{ STATIC_URL }}geonode/css/ext-compatibility.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}lib/css/custom.css" rel="stylesheet" />
<style>
table#info {
	width:90%;
	border-top:1px solid #e5eff8;
	/*border-right:1px solid #e5eff8;*/
	margin:1em auto;
	border-collapse:collapse;
}

table#info td{
	color:#0D63AD;
	border-bottom:1px solid #e5eff8;
	/*border-left:1px solid #e5eff8;*/
	padding:.3em 1em;
}

table#info tr.odd td {
	background:#f7fbff
}

/*#line_chart1{
	width: 500 !important;
	height:250 !important;
}*/

</style>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>

</head>
<body>

<table id='info'>
	<tr>
		<td>{% trans "Settlement" %}</td>
		<td><strong>{{name_en}}</strong></td>
	</tr>
	<tr>
		<td>{% trans "Language" %}</td>
		<td><strong>{{language_field}}</strong></td>
	</tr>
	<tr>
		<td>{% trans "District" %}</td>
		<td><strong>{{dist_na_en}}</strong></td>
	</tr>
	<tr>
		<td>{% trans "Province" %}</td>
		<td><strong>{{prov_na_en}}</strong></td>
	</tr>
</table>

<div style='width:90%;margin:1em auto;align=left'>
	{{ temperature_line_chart.as_html }}
</div>	

<!-- <div style='width:90%;margin:1em auto;align=left'>
	{{ climatechange_line_chart.as_html }}
</div> -->

<script type="text/javascript">
  google.setOnLoadCallback(drawChartline_chart2_default);
  function drawChartline_chart2_default() {
  	drawChartline_chart2(1);
  }

  function drawChartline_chart2(tt) {
    var data = google.visualization.arrayToDataTable({{ climatechange_temp_data | safe }});
    
    var unit = {
        'format': '# \u00b0C'
    };

    if (tt==4 || tt==3) {
     	unit = {
	        'format': "#'%'",
	        // 'minValue': 0,
	        // 'maxValue': 100,
	    };
	} else {
		unit = {
	        'format': '# \u00b0C'
	    };
	}  

	var options = {
			// "title": "Climate Change (Temperature)", 
			"curveType": "function", 
			"height": 350, 
			"width": 500, 
			"legend": "none", 
			'seriesType': 'bars',
			'chartArea': {'top':10, 'bottom':90, 'left':50, 'right':25},
			"bar": {"groupWidth": "95%"},
			"vAxes": { 
                0:unit,
            },
    }
	var chart = new google.visualization.ComboChart(document.getElementById('line_chart2'));

	view = new google.visualization.DataView(data);
	for (var i=1;i<=11;i++){
		if (i!=tt){
			view.hideColumns([i]);
		}
	}
    chart.draw(view, options);

    var line = document.createElement("div");
    line.style.background = "rgb(68, 189, 241)";
    line.style.width = "2px";
    line.style.position = "absolute";
    line.style.left = 110 + "px";
    line.style.top = 0 + "px";
    line.style.height = 296 + "px";
    document.getElementById('line_chart2').childNodes[0].appendChild(line);

    var line = document.createElement("div");
    line.style.background = "rgb(68, 189, 241)";
    line.style.width = "2px";
    line.style.position = "absolute";
    line.style.left = 292 + "px";
    line.style.top = 0 + "px";
    line.style.height = 296 + "px";

    document.getElementById('line_chart2').childNodes[0].appendChild(line);

  }

  function select1(a){
  	drawChartline_chart2(a.value);
  }


  google.setOnLoadCallback(drawChartline_chart3_default);
  function drawChartline_chart3_default() {
  	drawChartline_chart3(1);
  }

  function drawChartline_chart3(tt) {
    var data1 = google.visualization.arrayToDataTable({{ climatechange_prec_data | safe }});

    var unit = {
        'format':"# mm"
    };

    if (tt==4) {
     	unit = {
	        'format': "#'%'",
	        // 'minValue': 0,
	        // 'maxValue': 100,
	    };
	} else {
		unit = {
	        'format':"# mm"
	    };
	} 

	var options1 = {
			// "title": "Climate Change (Precipitation)", 
			"curveType": "function", 
			"height": 350, 
			"width": 500, 
			"legend": "none", 
			'seriesType': 'bars',
			'chartArea': {'top':10, 'bottom':90, 'left':50, 'right':25},
			"bar": {"groupWidth": "95%"},
			"vAxes": { 
                0:unit
            }
        }
	var chart1 = new google.visualization.ComboChart(document.getElementById('line_chart3'));

	view1 = new google.visualization.DataView(data1);
	for (var i=1;i<=8;i++){
		if (i!=tt){
			view1.hideColumns([i]);
		}
	}
    chart1.draw(view1, options1);

    var line = document.createElement("div");
    line.style.background = "rgb(68, 189, 241)";
    line.style.width = "2px";
    line.style.position = "absolute";
    line.style.left = 110 + "px";
    line.style.top = 0 + "px";
    line.style.height = 296 + "px";
    document.getElementById('line_chart3').childNodes[0].appendChild(line);

    var line = document.createElement("div");
    line.style.background = "rgb(68, 189, 241)";
    line.style.width = "2px";
    line.style.position = "absolute";
    line.style.left = 292 + "px";
    line.style.top = 0 + "px";
    line.style.height = 296 + "px";

    document.getElementById('line_chart3').childNodes[0].appendChild(line);

  }

  function select2(a){
  	drawChartline_chart3(a.value);
  } 
</script>

<div style='width:90%;margin:1em auto;align=left'>
	<select style='width:90%;margin:1em auto;align=left' onChange="select1(this)">
		<option value="1" selected="selected">Annual Mean Temperature </option>
		<option value="2">Mean Diurnal Range</option>
		<option value="3">Isothermality</option>
		<option value="4">Temperature Seasonality</option>
		<option value="5">Max Temperature of Warmest Month</option>
		<option value="6">Min Temperature of Coldest Month</option>
		<option value="7">Temperature Annual Range</option>
		<option value="8">Mean Temperature of Wettest Quarter</option>
		<option value="9">Mean Temperature of Driest Quarter</option>
		<option value="10">Mean Temperature of Warmest Quarter</option>
		<option value="11">Mean Temperature of Coldest Quarter</option>
	</select>
</div>	
<div id="line_chart2" style='width:90%;margin:1em auto;align=left'></div>

<div style='width:90%;margin:1em auto;align=left'>
	<select style='width:90%;margin:1em auto;align=left' onChange="select2(this)">
		<option value="1" selected="selected">Annual Precipitation</option>
		<option value="2">Precipitation of Wettest Month</option>
		<option value="3">Precipitation of Driest Month</option>
		<option value="4">Precipitation Seasonality</option>
		<option value="5">Precipitation of Wettest Quarter</option>
		<option value="6">Precipitation of Driest Quarter</option>
		<option value="7">Precipitation of Warmest Quarter</option>
		<option value="8">Precipitation of Coldest Quarter</option>
	</select>
</div>
<div id="line_chart3" style='width:90%;margin:1em auto;align=left'></div>

<div class="disc_text">{% blocktrans %}Current Climate data used originates from the CHELSA project, which modeled climate for the period 1979-2013 at a resolution of 1km. CHELSA is using the ERA interim global circulation model from ECMWF.{% endblocktrans %}</div>
<div class="disc_text">{% blocktrans %}Climate Change data also originates from the CHELSA project, which modelled climate change for the period time periods: 2050 (average for 2041-2060) and 2070 (average for 2061-2080) at a resolution of 1km.It is a downscaled model based upon IPPC5 using the global climate model CM5A-MR (mid resolution version of the IPSL-CM5A Earth system model){% endblocktrans %}</div>
<div class="disc_text">{% blocktrans %}For each period (2050 and 2070) we provide 3 potential climate change scenarios, using so called RCPs (Representative Concentration Pathways). These predict global average temperature change by 2100 in the range of:{% endblocktrans %}</div>
<ul class="disc_text">
  <li>RCP2.6: 0.3 to 1.7 C°</li>
  <li>RCP4.5  : 1.1 to 2.6 C°</li>
  <li>RCP8.5: 2.6 to 4.8 C°</li>
</ul>

<div class="disc_text">{% blocktrans %}The range of variables contain monthly precipitation averages, monthly minimum-maximum and avergage temperature.{% endblocktrans %}</div>
<div class="disc_text">{% blocktrans %}Furthermore 19 bioclimatic variables are also available, which are for useful for operational planning, agriculture programs and DRR programs focusing on resilience.{% endblocktrans %}</div>
<ul class="disc_text">
	<li>Annual Mean Temperature [°C*10]</li>
	<li>Mean Diurnal Range [°C]</li>
	<li>Isothermality [°C]</li>
	<li>Temperature Seasonality [standard deviation]</li>
  	<li>Max Temperature of Warmest Month [°C]</li>
	<li>Min Temperature of Coldest Month [°C]</li>
	<li>Temperature Annual Range [°C]</li>
	<li>Mean Temperature of Wettest Quarter [°C]</li>
	<li>Mean Temperature of Driest Quarter [°C]</li>
	<li>Mean Temperature of Warmest Quarter [°C]</li>
	<li>Mean Temperature of Coldest Quarter [°C]</li>
	<li>Annual Precipitation [mm/year]</li>
	<li>Precipitation of Wettest Month [mm/month]</li>
	<li>Precipitation of Driest Month [mm/month]</li>
	<li>Precipitation Seasonality [coefficient of variation]</li>
	<li>Precipitation of Wettest Quarter [mm/quarter]</li>
	<li>Precipitation of Driest Quarter [mm/quarter]</li>
	<li>Precipitation of Warmest Quarter [mm/quarter]</li>
	<li>Precipitation of Coldest Quarter [mm/quarter]</li>
</ul>
</body>
</html>
