{% load i18n mathfilters %}
{% load humanize %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI | yesno:'rtl,ltr' }}">
<head>

<link href="{{ STATIC_URL }}geonode/css/ext-compatibility.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}lib/css/custom.css" rel="stylesheet" />
<style>
table#info {
	width:90%;
	border-top:1px solid #e5eff8;
	/*border-right:1px solid #e5eff8;*/
	margin:1em auto;
	border-collapse:collapse;
}

table#info td{
	color:#0D63AD;
	border-bottom:1px solid #e5eff8;
	/*border-left:1px solid #e5eff8;*/
	padding:.3em 1em;
}

table#info tr.odd td {
	background:#f7fbff
}

#pie_chart1{
	width: 250 !important;
	height:250 !important;
}

#pie_chart2{
	width: 250 !important;
	height:250 !important;
}

</style>

</head>
<body>

<table id='info'>
	<tr>
		<td>{% trans "Settlement" %}</td>
		<td><strong>{{name_en}}</strong></td>
	</tr>
	<!-- <tr>
		<td>{% trans "Language" %}</td>
		<td><strong>{{language_field}}</strong></td>
	</tr> -->
	<tr>
		<td>{% trans "District" %}</td>
		<td><strong>{{dist_na_en}}</strong></td>
	</tr>
	<tr>
		<td>{% trans "Province" %}</td>
		<td><strong>{{prov_na_en}}</strong></td>
	</tr>
	<!-- <tr>
		<td>{% trans "Elevation" %}</td>
		<td><strong>{% blocktrans %}{{elevation}} m above sea level{% endblocktrans %}</strong></td>
	</tr> -->
	<tr>
		<td>{% trans "Area" %}</td>
		<td><strong>{{area_sqm|div:1000000|floatformat|intcomma}} {% blocktrans %}km<sup>2</sup>{% endblocktrans %}</strong></td>
	</tr>
	<tr>
		<td>{% trans "Total Population" %}</td>
		<td><strong>{{vuid_population|floatformat:"0"|intcomma}}</strong></td>
	</tr>
</table>

<div class="infoPanelTitle">{% trans "Earthquake Hazard Risk" %}<sup>*</sup> :</div>

<table class='tblborder'>
	<tr>
		<th bgcolor="#c4ceff"><div class="rotate">{% trans "II-III Weak" %}</div></th>
		<th bgcolor="#7cfddf"><div class="rotate">{% trans "IV Light" %}</div></th>
		<th bgcolor="#b1ff55"><div class="rotate">{% trans "V Moderate" %}</div></th>
		<th bgcolor="#fcf109"><div class="rotate">{% trans "VI Strong" %}</div></th>
		<th bgcolor="#ffb700"><div class="rotate">{% trans "VII Very Strong" %}</div></th>
		<th bgcolor="#fd6500"><div class="rotate">{% trans "VIII Severe" %}</div></th>
		<th bgcolor="#ff1f00"><div class="rotate">{% trans "IX Violent" %}</div></th>
		<th bgcolor="#d20003"><div class="rotate">{% trans "X+ Extreme" %}</div></th>
	</tr>
	<tr>
		<td bgcolor="#c4ceff" class="">{% blocktrans %}{{sic_1}}{% endblocktrans %}</td>
		<td bgcolor="#7cfddf" class="">{% blocktrans %}{{sic_2}}{% endblocktrans %}</td>
		<td bgcolor="#b1ff55" class="">{% blocktrans %}{{sic_3}}{% endblocktrans %}</td>
		<td bgcolor="#fcf109" class="">{% blocktrans %}{{sic_4}}{% endblocktrans %}</td>
		<td bgcolor="#ffb700" class="">{% blocktrans %}{{sic_5}}{% endblocktrans %}</td>
		<td bgcolor="#fd6500" class="">{% blocktrans %}{{sic_6}}{% endblocktrans %}</td>
		<td bgcolor="#ff1f00" class="">{% blocktrans %}{{sic_7}}{% endblocktrans %}</td>
		<td bgcolor="#d20003" class="">{% blocktrans %}{{sic_8}}{% endblocktrans %}</td>
	</tr>
</table>
<div class="disc_text">{% blocktrans %}<sup>*</sup> Seismic intensity and description of potential damage (USGS, 2007)<br/>
Peak Horizontal Acceleration with 2 Percent Probability of Exceedance in 50 years<sup>**</sup>{% endblocktrans %}</div>

<div class="infoPanelTitle">{% trans "Latest 20 earthquakes :" %}</div>
<table class='tblborder'>
	<tr>
		<th style="vertical-align: bottom;text-align: center;padding-bottom: 0px;border-bottom: 0px;width: 175px;max-width:175px"><div class=""></div></th>
		<th rowspan=2 bgcolor="#c4ceff"><div class="rotate">{% trans "II-III Weak" %}</div></th>
		<th rowspan=2 bgcolor="#7cfddf"><div class="rotate">{% trans "IV Light" %}</div></th>
		<th rowspan=2 bgcolor="#b1ff55"><div class="rotate">{% trans "V Moderate" %}</div></th>
		<th rowspan=2 bgcolor="#fcf109"><div class="rotate">{% trans "VI Strong" %}</div></th>
		<th rowspan=2 bgcolor="#ffb700"><div class="rotate">{% trans "VII Very Strong" %}</div></th>
		<th rowspan=2 bgcolor="#fd6500"><div class="rotate">{% trans "VIII Severe" %}</div></th>
		<th rowspan=2 bgcolor="#ff1f00"><div class="rotate">{% trans "IX Violent" %}</div></th>
		<th rowspan=2 bgcolor="#d20003"><div class="rotate">{% trans "X+ Extreme" %}</div></th>
	</tr>
	<tr>
		<th style="vertical-align: top;text-align: center;padding-top: 0px;border-top: 0px;"><div class="">{% trans "Magnitude" %}</div></th>
	</tr>
	{% for item in eq_history  %}
		<tr>
			<td style="max-width: 100px;padding: 2px !important;text-align: center;">{{item.date}}</td>
			<td rowspan=2 bgcolor="#c4ceff" class="">{% if item.sic == 2 or item.sic == 3 %}X{% endif %}</td>
			<td rowspan=2 bgcolor="#7cfddf" class="">{% if item.sic == 4 %}X{% endif %}</td>
			<td rowspan=2 bgcolor="#b1ff55" class="">{% if item.sic == 5 %}X{% endif %}</td>
			<td rowspan=2 bgcolor="#fcf109" class="">{% if item.sic == 6 %}X{% endif %}</td>
			<td rowspan=2 bgcolor="#ffb700" class="">{% if item.sic == 7 %}X{% endif %}</td>
			<td rowspan=2 bgcolor="#fd6500" class="">{% if item.sic == 8 %}X{% endif %}</td>
			<td rowspan=2 bgcolor="#ff1f00" class="">{% if item.sic == 9 %}X{% endif %}</td>
			<td rowspan=2 bgcolor="#d20003" class="">{% if item.sic >= 10 %}X{% endif %}</td>
		</tr>
		<tr>
			<td style="max-width: 100px;padding: 2px !important;text-align: center;">{% blocktrans %}{{item.magnitude}} M{% endblocktrans %}</td>
		</tr>
	{% endfor %}
</table>

<div class="infoPanelTitle">{% trans "Description :" %}</div>
<table class='tblcustborder'>
	<tr>
		<th>{% trans "Intensity" %}</th>
		<th>{% trans "Shaking" %}</th>
		<th>{% trans "Description/Damage" %}</th>
	</tr>
	<tr bgcolor="#ffffff">
		<td>{% trans "I" %}</td>
		<td>{% trans "Not felt" %}</td>
		<td>{% trans "Not felt except by a very few under especially favorable conditions." %}</td>
	</tr>
	<tr bgcolor="#c4ceff">
		<td>{% trans "II" %}</td>
		<td>{% trans "Weak" %}</td>
		<td>{% trans "Felt only by a few persons at rest,especially on upper floors of buildings." %}</td>
	</tr>
	<tr bgcolor="#c4ceff">
		<td>{% trans "III" %}</td>
		<td>{% trans "Weak" %}</td>
		<td>{% trans "Felt quite noticeably by persons indoors, especially on upper floors of buildings. Many people do not recognize it as an earthquake. Standing motor cars may rock slightly. Vibrations similar to the passing of a truck. Duration estimated." %}</td>
	</tr>
	<tr bgcolor="#7cfddf">
		<td>{% trans "IV" %}</td>
		<td>{% trans "Light" %}</td>
		<td>{% trans "Felt indoors by many, outdoors by few during the day. At night, some awakened. Dishes, windows, doors disturbed; walls make cracking sound. Sensation like heavy truck striking building. Standing motor cars rocked noticeably." %}</td>
	</tr>
	<tr bgcolor="#b1ff55">
		<td>{% trans "V" %}</td>
		<td>{% trans "Moderate" %}</td>
		<td>{% trans "Felt by nearly everyone; many awakened. Some dishes, windows broken. Unstable objects overturned. Pendulum clocks may stop." %}</td>
	</tr>
	<tr bgcolor="#fcf109">
		<td>{% trans "VI" %}</td>
		<td>{% trans "Strong" %}</td>
		<td>{% trans "Felt by all, many frightened. Some heavy furniture moved; a few instances of fallen plaster. Damage slight." %}</td>
	</tr>
	<tr bgcolor="#ffb700">
		<td>{% trans "VII" %}</td>
		<td>{% trans "Very strong" %}</td>
		<td>{% trans "Damage negligible in buildings of good design and construction; slight to moderate in well-built ordinary structures; considerable damage in poorly built or badly designed structures; some chimneys broken." %}</td>
	</tr>
	<tr bgcolor="#fd6500">
		<td>{% trans "VIII" %}</td>
		<td>{% trans "Severe" %}</td>
		<td>{% trans "Damage slight in specially designed structures; considerable damage in ordinary substantial buildings with partial collapse. Damage great in poorly built structures. Fall of chimneys, factory stacks, columns, monuments, walls. Heavy furniture overturned." %}</td>
	</tr>
	<tr bgcolor="#ff1f00">
		<td>{% trans "IX" %}</td>
		<td>{% trans "Violent" %}</td>
		<td>{% trans "Damage considerable in specially designed structures; well-designed frame structures thrown out of plumb. Damage great in substantial buildings, with partial collapse. Buildings shifted off foundations." %}</td>
	</tr>
	<tr bgcolor="#d20003">
		<td>{% trans "X+" %}</td>
		<td>{% trans "Extreme" %}</td>
		<td>{% trans "Some well-built wooden structures destroyed; most masonry and frame structures destroyed with foundations. Rails bent." %}</td>
	</tr>
</table>
<div class="disc_text">{% blocktrans %}<sup>**</sup> A 2 percent probability of exceedance in 50 years corresponds to a ground-motion return time of approximately 2500 years, or approximately a 10% probability of of exceedance in 250 years. . The seismic intensity data and classes originate from the USGS Earthquake Hazard Map for Afghanistan (2007), by By Oliver S. Boyd, Charles S. Mueller, and Kenneth S. Rukstales{% endblocktrans %}</div>
</body>
</html>
