{% load i18n mathfilters %}
{% load humanize %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI | yesno:'rtl,ltr' }}">
<head>

<link href="{{ STATIC_URL }}geonode/css/ext-compatibility.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}lib/css/custom.css" rel="stylesheet" />
<style>
table#info {
	width:90%;
	border-top:1px solid #e5eff8;
	/*border-right:1px solid #e5eff8;*/
	margin:1em auto;
	border-collapse:collapse;
}

table#info td{
	color:#0D63AD;
	border-bottom:1px solid #e5eff8;
	/*border-left:1px solid #e5eff8;*/
	padding:.3em 1em;
}

table#info tr.odd td {
	background:#f7fbff
}

#pie_chart1{
	width: 250 !important;
	height:250 !important;
}

#pie_chart2{
	width: 250 !important;
	height:250 !important;
}

</style>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>

</head>
<body>

<table id='info'>
	<tr>
		<td>{% trans "Settlement" %}</td>
		<td><strong>{{name_en}}</strong></td>
	</tr>
	<tr>
		<td>{% trans "Language" %}</td>
		<td><strong>{{language_field}}</strong></td>
	</tr>
	<tr>
		<td>{% trans "District" %}</td>
		<td><strong>{{dist_na_en}}</strong></td>
	</tr>
	<tr>
		<td>{% trans "Province" %}</td>
		<td><strong>{{prov_na_en}}</strong></td>
	</tr>
	<tr>
		<td>{% trans "Elevation" %}</td>
		<td><strong>{% blocktrans %}{{elevation}} m above sea level{% endblocktrans %}</strong></td>
	</tr>
	<tr>
		<td>{% trans "Area" %}</td>
		<td><strong>{{area_sqm|div:1000000|floatformat|intcomma}} {% blocktrans %}km<sup>2</sup>{% endblocktrans %}</strong></td>
	</tr>
	<tr>
		<td>{% trans "Total Population" %}</td>
		<td><strong>{{vuid_population|floatformat:"0"|intcomma }}</strong></td>
	</tr>
	<tr>
		<td>{% trans "Number of Buildings" %}</td>
		<td><strong>{{vuid_buildings|floatformat:"0"|intcomma }}</strong></td>
	</tr>
<!-- 	<tr>
		<td>{% trans "Landslide Susceptibility" %}</td>
		<td>
			<strong>{{landslide_risk}}</strong>
		</td>
	</tr> -->
</table>

<div class="infoPanelTitle">{% trans "Landslide Susceptibility" %}<sup>*</sup> :</div>

<table class='tblborder'>
	<tr>
		<th bgcolor="#FFFFFF" style="border-top: hidden;border-left: hidden;"><div class="rotate"></div></th>
		<th bgcolor="#FFFFFF"><div class="rotate">{% trans "No Risk" %}</div></th>
		<th bgcolor="#8cea8a"><div class="rotate">{% trans "Very Low" %}</div></th>
		<th bgcolor="#1eb263"><div class="rotate">{% trans "Low" %}</div></th>
		<th bgcolor="#fff231"><div class="rotate">{% trans "Moderate" %}</div></th>
		<th bgcolor="#ff7f00"><div class="rotate">{% trans "High" %}</div></th>
		<th bgcolor="#e31a1c"><div class="rotate">{% trans "Very High" %}</div></th>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" class="" style="max-width:200px;"><span style="font-size: small;text-align: left;">{% trans "Landslide Indexes (iMMAP 2017)" %}</span></td>
		<td bgcolor="#FFFFFF" class="">{% if landslide_risk == "None" %} X {% endif %}</td>
		<td bgcolor="#8cea8a" class="">{% if landslide_risk == "Very Low" %} X {% endif %}</td>
		<td bgcolor="#1eb263" class="">{% if landslide_risk == "Low" %} X {% endif %}</td>
		<td bgcolor="#fff231" class="">{% if landslide_risk == "Moderate" %} X {% endif %}</td>
		<td bgcolor="#ff7f00" class="">{% if landslide_risk == "High" %} X {% endif %}</td>
		<td bgcolor="#e31a1c" class="">{% if landslide_risk == "Very High" %} X {% endif %}</td>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" class="" style="max-width:200px;"><span style="font-size: small;text-align: left;">{% trans "Multi-criteria Landslide Susceptibility Index Nathan Schlagel, Ashlee Dere, William Johnson , John F. Shroder (2016). Multi-criteria analysis of landslide susceptibility, Afghanistan" %}</span></td>
		<td bgcolor="#FFFFFF" class="">{% if landslide_risk_lsi_ku == "None" %} X {% endif %}</td>
		<td bgcolor="#8cea8a" class="">{% if landslide_risk_lsi_ku == "Very Low" %} X {% endif %}</td>
		<td bgcolor="#1eb263" class="">{% if landslide_risk_lsi_ku == "Low" %} X {% endif %}</td>
		<td bgcolor="#fff231" class="">{% if landslide_risk_lsi_ku == "Moderate" %} X {% endif %}</td>
		<td bgcolor="#ff7f00" class="">{% if landslide_risk_lsi_ku == "High" %} X {% endif %}</td>
		<td bgcolor="#e31a1c" class="">{% if landslide_risk_lsi_ku == "Very High" %} X {% endif %}</td>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" class="" style="max-width:200px;"><span style="font-size: small;text-align: left;">{% trans "Landslide susceptibility - bedrock landslides in slow evolution (S1) World Bank (2016)" %}</span></td>
		<td bgcolor="#FFFFFF" class="">{% if landslide_risk_ls_s1_wb == "None" %} X {% endif %}</td>
		<td bgcolor="#8cea8a" class="">{% if landslide_risk_ls_s1_wb == "Very Low" %} X {% endif %}</td>
		<td bgcolor="#1eb263" class="">{% if landslide_risk_ls_s1_wb == "Low" %} X {% endif %}</td>
		<td bgcolor="#fff231" class="">{% if landslide_risk_ls_s1_wb == "Moderate" %} X {% endif %}</td>
		<td bgcolor="#ff7f00" class="">{% if landslide_risk_ls_s1_wb == "High" %} X {% endif %}</td>
		<td bgcolor="#e31a1c" class="">{% if landslide_risk_ls_s1_wb == "Very High" %} X {% endif %}</td>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" class="" style="max-width:200px;"><span style="font-size: small;text-align: left;">{% trans "Landslide susceptibility - bedrock landslides in rapid evolution (S2) World Bank (2016)" %}</span></td>
		<td bgcolor="#FFFFFF" class="">{% if landslide_risk_ls_s2_wb == "None" %} X {% endif %}</td>
		<td bgcolor="#8cea8a" class="">{% if landslide_risk_ls_s2_wb == "Very Low" %} X {% endif %}</td>
		<td bgcolor="#1eb263" class="">{% if landslide_risk_ls_s2_wb == "Low" %} X {% endif %}</td>
		<td bgcolor="#fff231" class="">{% if landslide_risk_ls_s2_wb == "Moderate" %} X {% endif %}</td>
		<td bgcolor="#ff7f00" class="">{% if landslide_risk_ls_s2_wb == "High" %} X {% endif %}</td>
		<td bgcolor="#e31a1c" class="">{% if landslide_risk_ls_s2_wb == "Very High" %} X {% endif %}</td>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" class="" style="max-width:200px;"><span style="font-size: small;text-align: left;">{% trans "Landslide susceptibility - cover material in rapid evolution (S3) World Bank (2016)" %}</span></td>
		<td bgcolor="#FFFFFF" class="">{% if landslide_risk_ls_s3_wb == "None" %} X {% endif %}</td>
		<td bgcolor="#8cea8a" class="">{% if landslide_risk_ls_s3_wb == "Very Low" %} X {% endif %}</td>
		<td bgcolor="#1eb263" class="">{% if landslide_risk_ls_s3_wb == "Low" %} X {% endif %}</td>
		<td bgcolor="#fff231" class="">{% if landslide_risk_ls_s3_wb == "Moderate" %} X {% endif %}</td>
		<td bgcolor="#ff7f00" class="">{% if landslide_risk_ls_s3_wb == "High" %} X {% endif %}</td>
		<td bgcolor="#e31a1c" class="">{% if landslide_risk_ls_s3_wb == "Very High" %} X {% endif %}</td>
	</tr>
</table>

</body>
</html>
